<div class="row">
    <form id="object-form-{{ id }}" class="form-horizontal" role="form" onsubmit="return doDeleteObject({{ id }})">
        <div class="col-md-11">
            <p>{{ 'object.delete.ask'|trans }}</p>
        </div>
        <div class="col-md-11">
            <input type="submit" value="{{ 'button.delete'|trans }}" class="btn btn-danger"/>
            <button class="btn btn-default"
                    onclick="return collapseObject({{ id }})">{{ 'button.cancel'|trans }}</button>
        </div>
        <input name="_csrf_token" value="{{ token }}" type="hidden">
    </form>
</div>

