{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} -  {{ 'login.title'|trans }}{% endblock %}

{% block description %}{{ parent() }} -  {{ 'login.description'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ app.request.basepath }}/resources/css/signin.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        if ($("body nav").length > 0) {
            window.location.href = "{{ path('start') }}";
        }
    </script>
{% endblock %}

{% block body %}
        
<main class="form-signin text-center">
  {# usernameField: '_username', #}
  <form 
  {{ stimulus_controller('@web-auth/webauthn-stimulus',
        {
            useBrowserAutofill: true,
            usernameField: '_username',
            requestSuccessRedirectUri: path('dashboard.redirect'),
            requestResultUrl: path('webauthn.controller.security.main.request.result'),
            requestOptionsUrl: path('webauthn.controller.security.main.request.options')
        }
    ) }}
    >    
    <div class="logo-icon-stack mb-4"><i class="fas fa-bed"></i></div>
    <h1 class="h3 mb-3 fw-normal">{{ 'login.application.title'|trans }}</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" name="_username" placeholder="{{ 'login.username.placeholder'|trans }}" autocomplete="username webauthn">
      <label for="floatingInput">{{ 'login.username.placeholder'|trans }}</label>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    
    <div class="checkbox mt-3 mb-3">
      <label>
        <input type="checkbox" name="_remember_me"> {{ 'login.rememberme'|trans }}
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit"
    {{ stimulus_action('@web-auth/webauthn-stimulus', 'signin') }}
    ><i class="fas fa-key"></i> {{ 'login.submit.value'|trans }}</button>
    
    <p class="mt-4 mb-3 text-muted">&copy; Copyright {{ "now"|date("Y") }} - {{ 'login.copy'|trans }}</p>
  </form>
</main>
{% endblock %}
