[
  {"title": "{{ 'customer.salutation'|trans }}", "description": "{{ 'customer.salutation'|trans }}", "content": "<span class=\"mceNonEditable\">[[customer.salutation]]</span>"},
  {"title": "{{ 'customer.firstname'|trans }}", "description": "{{ 'customer.firstname'|trans }}", "content": "<span class=\"mceNonEditable\">[[customer.firstname]]</span>"},
  {"title": "{{ 'customer.lastname'|trans }}", "description": "{{ 'customer.lastname'|trans }}", "content": "<span class=\"mceNonEditable\">[[customer.lastname]]</span>"},
  {"title": "{{ 'customer.birthday'|trans }}", "description": "{{ 'customer.birthday'|trans }}", "content": "<span class=\"mceNonEditable\">[[customer.birthday|date('d.m.Y')]]</span>"},
  {"title": "{{ 'customer.remark'|trans }}", "description": "{{ 'customer.remark'|trans }}", "content": "<span class=\"mceNonEditable\">[[customer.remarkF]]</span>"},
  {% include 'Templates/editor_template_base.twig' %}
]