[
  {"title": "{{ 'customer.salutation'|trans }}", "description": "{{ 'customer.salutation'|trans }}", "content": "<span class=\"mceNonEditable\">[[reservation1.booker.salutation]]</span>"},
  {"title": "{{ 'customer.firstname'|trans }}", "description": "{{ 'customer.firstname'|trans }}", "content": "<span class=\"mceNonEditable\">[[reservation1.booker.firstname]]</span>"},
  {"title": "{{ 'customer.lastname'|trans }}", "description": "{{ 'customer.lastname'|trans }}", "content": "<span class=\"mceNonEditable\">[[reservation1.booker.lastname]]</span>"},
  {"title": "{{ 'customer.birthday'|trans }}", "description": "{{ 'customer.birthday'|trans }}", "content": "<span class=\"mceNonEditable\">[[reservation1.booker.birthday|date('d.m.Y')]]</span>"},
  {"title": "{{ 'templates.editor.company'|trans }}", "description": "{{ 'templates.editor.company'|trans }}", "content": "<span class=\"mceNonEditable\">[[address.company]]</span>"},
  {"title": "{{ 'templates.editor.address'|trans }}", "description": "{{ 'templates.editor.address'|trans }}", "content": "<span class=\"mceNonEditable\">[[address.address]]</span>"},
  {"title": "{{ 'templates.editor.zip'|trans }}", "description": "{{ 'templates.editor.zip'|trans }}", "content": "<span class=\"mceNonEditable\">[[address.zip]]</span>"},
  {"title": "{{ 'templates.editor.city'|trans }}", "description": "{{ 'templates.editor.city'|trans }}", "content": "<span class=\"mceNonEditable\">[[address.city]]</span>"},
  {"title": "{{ 'templates.editor.phone'|trans }}", "description": "{{ 'templates.editor.phone'|trans }}", "content": "<span class=\"mceNonEditable\">[[address.phone]]</span>"},
  {"title": "{{ 'templates.editor.price.total'|trans }}", "description": "{{ 'templates.editor.price.total.desc'|trans }}", "content": "<span class=\"mceNonEditable\">[[sumApartment]]</span> €"},
  {"title": "{{ 'templates.editor.misc.total'|trans }}", "description": "{{ 'templates.editor.misc.total.desc'|trans }}", "content": "<span class=\"mceNonEditable\">[[sumMisc]]</span> €"},
  {"title": "{{ 'templates.editor.price.sum'|trans }}", "description": "{{ 'templates.editor.price.sum.desc'|trans }}", "content": "<span class=\"mceNonEditable\">[[totalPrice]]</span> €"},
  {"title": "{{ 'templates.editor.appartment.positions'|trans }}", "description": "{{ 'templates.editor.appartment.positions.desc'|trans }}", "content": "<table border=\"0\"><tr><th>{{'reservation.startdate'|trans}}</th><th>{{'reservation.enddate'|trans}}</th><th>{{'reservation.appartment.name'|trans}}</th><th>{{'reservation.persons'|trans}}</th><th>{{'reservation.price'|trans}}</th></tr><!-- [% for position in apartmentPositions %] --><tr><td><span class=\"mceNonEditable\">[[position.startDate|date('d.m.Y')]]</span></td><td><span class=\"mceNonEditable\">[[position.endDate|date('d.m.Y')]]</span></td><td><span class=\"mceNonEditable\">[[position.description]]</span></td><td><span class=\"mceNonEditable\">[[position.persons]]</span></td><td>[[position.totalPrice]] €</td></tr><!-- [% endfor %] --></table>"},
  {"title": "{{ 'templates.editor.misc.positions'|trans }}", "description": "{{ 'templates.editor.misc.positions.desc'|trans }}", "content": "<!-- [% for position in miscPositions %] --><span class=\"mceNonEditable\">[[position.description]]</span>: <span class=\"mceNonEditable\">[[position.totalPrice]]</span> €<br /><!-- [% endfor %] -->"},
  {% include 'Templates/editor_template_base.twig' %}
]
