{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -  {{ 'templates.title'|trans }}
{% endblock %}

{% block description %}
    {{ parent() }} -  {{ 'templates.description'|trans }}
{% endblock %}

{% block content %}
<div class="container" data-controller="settings templates">
    <div class="row">
        <div class="col">
                <button type="button" class="btn btn-secondary"
                        data-action="click->settings#openModalAction"
                        data-url="{{ path('settings.templates.new') }}"
                        data-title="{{ 'templates.add'|trans }}"
                        data-bs-toggle="modal"
                        data-bs-target="#modalCenter">
                    <i class="fas fa-plus"></i> {{ 'templates.add'|trans }}</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {% set lastTypeId = null %}
            {% for template in templates %}
                {% if lastTypeId != template.templateType.id %}
                    {% if lastTypeId is not null %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas {{ template.templateType.icon }}" aria-hidden="true"></i>
                            {{ template.templateType.name|trans }}
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-bordered table-hover mb-0" style="table-layout: fixed;">
                                <colgroup>
                                    <col style="width: 70%;">
                                    <col style="width: 15%;">
                                    <col style="width: 15%;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>{{ 'templates.name'|trans }}</th>
                                    <th>Default</th>
                                    <th>{{ 'base.action'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                    {% set lastTypeId = template.templateType.id %}
                {% endif %}
                <tr>
                    <td>{{ template.name }}</td>
                    <td class="text-center">
                        {% if template.isDefault %}
                            <i class="fas fa-check text-success" aria-hidden="true"></i>
                        {% endif %}
                    </td>
                    <td>
                        {#<a href="#" title="{{ 'button.details'|trans }}" data-bs-toggle="modal" data-bs-target="#modalCenter">
                            <i class="fas fa-info-circle"
                               data-action="click->settings#openModalAction"
                               data-url="{{ path('settings.templates.preview', {'id': template.id}) }}"
                               data-title="{{ 'templates.preview'|trans }}"></i></a>#}
                        <a href="#" title="{{ 'button.edit'|trans }}" data-bs-toggle="modal" data-bs-target="#modalCenter">
                            <i class="fas fa-edit"
                               data-action="click->settings#openModalAction"
                               data-url="{{ path('settings.templates.get', {'id': template.id}) }}"
                               data-title="{{ 'templates.edit'|trans }}"></i></a>
                        {% set id = template.id %}
                        {% set targetUrl = path('settings.templates.delete', {'id': template.id}) %}
                        {% use "common/delete_popover.html.twig" %}
                        <a href="#" title="{{ 'button.delete'|trans }}">
                            <i class="fas fa-trash-alt"
                                data-popover="delete"
                                data-title="{{ 'registrationbook.delete.ask'|trans }}"
                                data-bs-content='{{ block('deletePopoverContent') }}'></i></a>
                    </td>
                </tr>
            {% endfor %}
            {% if lastTypeId is not null %}
                                </tbody>
                            </table>
                        </div>
                    </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ app.request.basepath }}/resources/tinymce/tinymce.min.js" defer></script>
{% endblock %}
