{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -  {{ 'templates.title'|trans }}
{% endblock %}

{% block description %}
    {{ parent() }} -  {{ 'templates.description'|trans }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
                <button type="button" class="btn btn-default" onclick="showCreateForm()" data-toggle="modal"
                        data-target="#modalCenter">
                    <i class="fas fa-plus"></i> {{ 'templates.add'|trans }}</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ 'templates.name'|trans }}</th>
                    <th>{{ 'base.action'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for template in templates %}
                <tr>
                    <td style="width:10.0pt"><i class="fas {{ template.templateType.icon }}" aria-hidden="true" title="{{ template.templateType.name|trans }}"></i></td>
                    <td>{{ template.name }}</td>
                    <td>
                        {#<a href="#" title="{{ 'button.details'|trans }}" data-toggle="modal" data-target="#modalCenter">
                            <i onclick="previewEntity({{ template.id }})" class="fas fa-info-circle"></i></a>#}
                        <a href="#" title="{{ 'button.edit'|trans }}" data-toggle="modal" data-target="#modalCenter">
                            <i onclick="editEntity({{ template.id }})" class="fas fa-edit"></i></a>
                        <a href="#" title="{{ 'button.delete'|trans }}">
                            <i onclick="deleteEntity({{ template.id }})" class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr id="entity-{{ template.id }}" class="d-none">
                    <td colspan="3" id="entity-cell-{{ template.id }}">
                        <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif"/>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ app.request.basepath }}/resources/tinymce/tinymce.min.js"></script>
    <script>

    $.ajaxSetup({
        cache: false
    });

    function collapseEntry(id) {
        var row = "#entity-" + id;
        var cell = "#entity-cell-" + id;

        if ($(row).is(':hidden')) {
            $(row).removeClass('d-none');
            return true;
        } else {
            $(row).addClass('d-none');
            $(cell).html('<img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />');
            return false;
        }
    }
    
    function previewEntity(id) {
        var url = "{{ path('settings.templates.preview', {'id': 'placeholder'}) }}";
        url = url.replace("placeholder", id);
        $("#modalCenter .modal-title").text("{{ 'templates.preview'|trans }}");
        var content = '<div class="modal-body">' +
                '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
                '</div>';
        $("#modal-content-ajax").html(content);
        $("#modal-content-ajax").load(url, function (response, status, xhr) {
        });

        return false;
    }
    
    function editEntity(id) {
        var url = "{{ path('settings.templates.get', {'id': 'placeholder'}) }}";
        url = url.replace("placeholder", id);
        $("#modalCenter .modal-title").text("{{ 'templates.edit'|trans }}");
        var content = '<div class="modal-body">' +
                '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
                '</div>';
        $("#modal-content-ajax").html(content);
        $("#modal-content-ajax").load(url, function (response, status, xhr) {
        });

        return false;
    }
    ;

    function saveEntity(id) {
        var form = "#template-form-" + id;
        var url = "{{ path('settings.templates.edit', {'id': 'placeholder'}) }}";
        url = url.replace("placeholder", id);
        $("#editor1").val(tinymce.get("editor1").getContent());

        $.ajax({
            url: url,
            type: "post",
            data: $(form).serialize(),
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                if (data.length > 0) {
                    $("#flash-message-overlay").empty();
                    $("#flash-message-overlay").append(data);
                } else {
                    window.location.href = "{{ path('settings.templates.overview') }}";
                }
            }
        });

        return false;
    }
    ;

    function deleteEntity(id) {
        if (collapseEntry(id)) {
            var cell = "#entity-cell-" + id;
            var url = "{{ path('settings.templates.delete', {'id': 'placeholder'}) }}";
            url = url.replace("placeholder", id);

            $(cell).load(url, function (response, status, xhr) {
                //if(status == "success") location.reload();
            });
        }


        return false;
    }
    ;

    function doDeleteEntry(id) {
        var form = "#entry-form-" + id;
        var url = "{{ path('settings.templates.dodelete', {'id': 'placeholder'}) }}";
        url = url.replace("placeholder", id);

        $.ajax({
            url: url,
            type: "post",
            data: $(form).serialize(),
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                location.reload();
            }
        });

        return false;
    }
    ;

    function showCreateForm() {
        var url = "{{ path('settings.templates.new') }}";
        var content = '<div class="modal-body">' +
                '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
                '</div>';
        $("#modalCenter .modal-title").text("{{ 'templates.add'|trans }}");
        $("#modal-content-ajax").html(content);
        $("#modal-content-ajax").load(url, function (response, status, xhr) {
        });

        return false;
    }
    ;

    function createNewEntity() {
        var url = "{{ path('settings.templates.create')}}";
        $("#editor1").val(tinymce.get("editor1").getContent());
        $.ajax({
            url: url,
            type: "post",
            data: $("#template-form-new").serialize(),
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                if (data.length > 0) {
                    $("#flash-message-overlay").empty();
                    $("#flash-message-overlay").append(data);
                } else {
                    window.location.href = "{{ path('settings.templates.overview') }}";
                }
            }
        });

        return false;
    }
    </script>
{% endblock %}
