{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -  {{ 'templates.title'|trans }}
{% endblock %}

{% block description %}
    {{ parent() }} -  {{ 'templates.description'|trans }}
{% endblock %}

{% block content %}
    <div class="modal fade" id="newObjectModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ 'templates.add'|trans }}</h4>
                </div>
                <div id="modal-content-ajax"></div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p>

                <div class="btn-group">
                    <button type="button" class="btn btn-default" onclick="showCreateForm()" data-toggle="modal"
                            data-target="#newObjectModal"><span
                                class="glyphicon glyphicon-plus"></span> {{ 'templates.add'|trans }}</button>
                </div>
                </p>
                <table class="table table-responsive table-bordered table-hover">
                    <tr>
                        <th></th>
                        <th>{{ 'templates.name'|trans }}</th>
                        <th>{{ 'base.action'|trans }}</th>
                    </tr>
                    {% for template in templates %}
                        <tr>
                            <td style="width:10.0pt"><span class="glyphicon {{ template.templateType.icon }}" aria-hidden="true" title="{{ template.templateType.name|trans }}"></span></td>
                            <td>{{ template.name }}</td>
                            <td>
                                {#<a href="#" title="{{ 'button.details'|trans }}" data-toggle="modal" data-target="#newObjectModal">
                                    <span onclick="previewEntity({{ template.id }})" class="glyphicon glyphicon-eye-open"></span></a>#}
                                <a href="#" title="{{ 'button.edit'|trans }}" data-toggle="modal" data-target="#newObjectModal">
                                    <span onclick="editEntity({{ template.id }})" class="glyphicon glyphicon-pencil"></span></a>
                                <a href="#" title="{{ 'button.delete'|trans }}"><span
                                            onclick="deleteEntity({{ template.id }})"
                                            class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                        <tr id="entity-{{ template.id }}" hidden="true">
                            <td colspan="2" id="entity-cell-{{ template.id }}">
                                <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif"/>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ app.request.basepath }}/resources/ckeditor/ckeditor.js"></script>
    <script>

    $.ajaxSetup({
        cache: false
    });

    function collapseEntity(id) {
        var row = "#entity-" + id;
        var cell = "#entity-cell-" + id;

        if ($(row).is(':hidden')) {
            $(row).show();
            return true;
        } else {
            $(row).hide();
            $(cell).html('<img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />');
            return false;
        }
    }
    
    function previewEntity(id) {
        var url = "{{ path('settings.templates.preview', {'id': 'placeholder'}) }}";
        url = url.replace("placeholder", id);
        $("#newObjectModal .modal-title").text("{{ 'templates.preview'|trans }}");
        var content = '<div class="modal-body">' +
                '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
                '</div>';
        $("#modal-content-ajax").html(content);
        $("#modal-content-ajax").load(url, function (response, status, xhr) {
        });

        return false;
    }
    
    function editEntity(id) {
        var url = "{{ path('settings.templates.get', {'id': 'placeholder'}) }}";
        url = url.replace("placeholder", id);
        $("#newObjectModal .modal-title").text("{{ 'templates.edit'|trans }}");
        var content = '<div class="modal-body">' +
                '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
                '</div>';
        $("#modal-content-ajax").html(content);
        $("#modal-content-ajax").load(url, function (response, status, xhr) {
        });

        return false;
    }
    ;

    function saveEntity(id) {
        var form = "#template-form-" + id;
        var url = "{{ path('settings.templates.edit', {'id': 'placeholder'}) }}";
        url = url.replace("placeholder", id);
        $("#editor1").val(editor.getData());

        $.ajax({
            url: url,
            type: "post",
            data: $(form).serialize(),
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                if (data.length > 0) {
                    $("#flash-message-overlay").empty();
                    $("#flash-message-overlay").append(data);
                } else {
                    window.location.href = "{{ path('settings.templates.overview') }}";
                }
            }
        });

        return false;
    }
    ;

    function deleteEntity(id) {
        if (collapseEntity(id)) {
            var cell = "#entity-cell-" + id;
            var url = "{{ path('settings.templates.delete', {'id': 'placeholder'}) }}";
            url = url.replace("placeholder", id);

            $(cell).load(url, function (response, status, xhr) {
                //if(status == "success") location.reload();
            });
        }


        return false;
    }
    ;

    function doDelete(id) {
        var form = "#entity-form-" + id;
        var url = "{{ path('settings.templates.dodelete', {'id': 'placeholder'}) }}";
        url = url.replace("placeholder", id);

        $.ajax({
            url: url,
            type: "post",
            data: $(form).serialize(),
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                location.reload();
            }
        });

        return false;
    }
    ;

    function showCreateForm() {
        var url = "{{ path('settings.templates.new') }}";
        var content = '<div class="modal-body">' +
                '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
                '</div>';
        $("#newObjectModal .modal-title").text("{{ 'templates.add'|trans }}");
        $("#modal-content-ajax").html(content);
        $("#modal-content-ajax").load(url, function (response, status, xhr) {
        });

        return false;
    }
    ;

    function createNewEntity() {
        var url = "{{ path('settings.templates.create')}}";
        $("#editor1").val(editor.getData());
        $.ajax({
            url: url,
            type: "post",
            data: $("#template-form-new").serialize(),
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                if (data.length > 0) {
                    $("#flash-message-overlay").empty();
                    $("#flash-message-overlay").append(data);
                } else {
                    window.location.href = "{{ path('settings.templates.overview') }}";
                }
            }
        });

        return false;
    }
    </script>
{% endblock %}
