<div data-controller="reservations" data-delete-url="{{ path('settings.templates.remove.reservation.from.selection') }}">
{% include 'Reservations/reservation_form_selected_reservations_fields.html.twig' %}
<div class="modal-footer">
    <ul class="pagination ms-auto">
        <li class="page-item" data-action="click->reservations#showAddReservationToSelectionAction" 
            data-url="{{ path('settings.templates.get.reservations') }}" 
            data-create-new="false" data-title="{{ 'templates.select.reservations'|trans }}">
            <a class="page-link" href="#">&larr; {{ 'invoice.add.another.reservation'|trans }}</a>
        </li>
        {% if reservations|length > 0 %}
        <li class="page-item" data-action="click->reservations#selectTemplateForReservationsAction" 
            data-url="{{ path('reservations.select.template') }}" 
            data-title="{{ 'templates.select.template'|trans }}">
            <a class="page-link" href="#">{{ 'button.continue'|trans }} &rarr;</a>
        </li>
        {% endif %}
    </ul>
</div>
</div>
