<fieldset
        id="template-form-fieldset-primary-{{ template.id }}" {% if template.id != "new" %} {% endif %}>
    <div class="form-group">
        <label for="name-{{ template.id }}" class="col-sm-4 control-label">{{ 'templates.name'|trans }}
            *</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="name-{{ template.id }}"
                   value="{{ template.name }}" required />
        </div>
    </div>
    <div class="form-group">
        <label for="name-{{ template.id }}" class="col-sm-4 control-label">{{ 'templates.type'|trans }}
            *</label>
        <div class="col-sm-8">
            <select name="type-{{ template.id }}" class="form-control" id="template-type">
                {% for type in types %}
                    <option value="{{ type.id }}"{% if template.templateType != null and template.templateType.id == type.id %} selected="selected"{% endif %}>{{ type.name|trans }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <textarea name="text-{{ template.id }}" id="editor1" rows="10" cols="70">{{ template.text|raw }}</textarea>
    </div>
    <div class="form-group">
        <label for="params-{{ template.id }}" class="col-sm-4 control-label">{{ 'templates.params'|trans }}</label>
        <div class="col-sm-8">
            {% if template.params|length == 0 %}
                {% set tParams = '{"orientation": "P", "marginLeft": 25, "marginRight": 20, "marginTop": 20, "marginBottom": 20, "marginHeader": 9, "marginFooter": 9}' %}
            {% else %}
                {% set tParams = template.params %}
            {% endif %}
            
            <input type="text" class="form-control" name="params-{{ template.id }}"
                   value="{{ tParams }}" />
        </div>
    </div> 
    <div class="form-group">
        <label for="default-{{ template.id }}" class="col-sm-4 control-label">{{ 'templates.default'|trans }}</label>
        <div class="col-sm-8 text-left">
            <input type="checkbox" name="default-{{ template.id }}"
                   {%if template.isDefault %}checked="checked"{%endif %} />
        </div>
    </div>
</fieldset>

<input name="_csrf_token" value="{{ token }}" type="hidden">

<script>
    
    var templateUrl = "{{ path('settings.templates.editor.template', {'templateTypeId': 'placeholder'}) }}";
    
    var newTemplateUrl = templateUrl.replace("placeholder", $("#template-type").val());
    
    if(tinymce.get("editor1") !== null)
        tinymce.get("editor1").remove();
    tinymce.init({
    selector: '#editor1',
    language: '{{ app.request.locale }}',
    toolbar_drawer: 'sliding',
    plugins: [
        'advlist autolink lists link image charmap print preview anchor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table paste code help wordcount table noneditable template fullpage'
      ],
    toolbar: 'undo redo | fontselect fontsizeselect | bold italic underline forecolor backcolor | alignleft aligncenter alignright alignjustify | template | bullist numlist outdent indent |  table | removeformat | code | preview | help',
    menubar: false,
    protect: [
       /\{\%[\s\S]*?%\}/g, // Allow TWIG control codes
       ///\{\{[\s\S]*?\}\}/g, // Allow TWIG output codes
       /\{\#[\s\S]*?#\}/g, // Allow TWIG comment codes
       /<\/?.*(html)?pageheader.*?>/g,
       /<\/?.*(html)?pagefooter.*?>/g
    ],
    templates: newTemplateUrl,
    entity_encoding: "raw",
    branding: false,
    content_css: [
        '{{ app.request.basepath }}/resources/css/editor.css'
    ],
    fontsize_formats: "8pt 9pt 10pt 11pt 12pt 14pt 16pt 18pt 24pt 36pt",
    // for the moment we define a different class name. fields are therefore editable because they use the original class name
    // reason: formats can not be applied to noneditable fields at the moment (https://github.com/tinymce/tinymce/issues/3355)
    // when the issue is resolved we can remove this line here
    noneditable_noneditable_class: "mceNonEditable2",   
    setup : function(ed)
            {
                ed.on('init', function() 
                {
                    //this.getDoc().body.style.fontSize = '12';
                    //this.getDoc().body.style.fontFamily = 'Arial';
                });
            },
  });
  
  $("#template-type").change(function() {
    let newTemplateUrl = templateUrl.replace("placeholder", $(this).val());
    tinymce.activeEditor.settings.templates = newTemplateUrl;
  });
</script>