<div class="modal-body">
    <div class="container-fluid">
        <div class="row" id="flash-message-overlay">
            <div class="row">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-3">{{ 'templates.recipient'|trans }}</div>
                    <div class="col-md-9">{{ correspondence.recipient }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">{{ 'templates.subject'|trans }}</div>
                    <div class="col-md-9">{{ correspondence.subject }}</div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">{{ correspondence.text|raw }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-12">{{ 'templates.attachment'|trans }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            {% for attachment in correspondence.children %}
                            <tr id="aid-{{ attachment.id }}">
                                <td style="width:10.0pt"><span class="glyphicon {{ attachment.template.templateType.icon }}" aria-hidden="true" title="{{ attachment.template.templateType.name|trans }}"></span></td>
                                <td>{{ attachment.name }}</td>
                                <td class="text-right">
                                    <a href="#" onclick="return exportPDFCorrespondence({{ attachment.id }})"
                                                   title="{{ 'button.download'|trans }}"><i class="fas fa-download"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="createNewCustomerFooter" class="modal-footer">
    <ul class="pager">
        <li class="previous" onclick="return getReservation({{ reservationId }}, 'correspondence')"><a
                    href="#">&larr; {{ 'button.back'|trans }}</a></li>
    </ul>   
</div>