<div class="modal-body pl-5 pr-5">
    <div class="row" >
        <div class="col" id="flash-message-overlay">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">{{ 'templates.recipient'|trans }}</div>
        <div class="col-md-9">{{ correspondence.recipient }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{ 'templates.subject'|trans }}</div>
        <div class="col-md-9">{{ correspondence.subject }}</div>
    </div>
    <br />
    <div class="row">
        <div class="col-md">{{ correspondence.text|raw }}</div>
    </div>
    <div class="row">
        <div class="col-sm">{{ 'templates.attachment'|trans }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table">
                {% for attachment in correspondence.children %}
                <tr id="aid-{{ attachment.id }}">
                    <td style="width:10.0pt"><i class="fas {{ attachment.template.templateType.icon }}" aria-hidden="true" title="{{ attachment.template.templateType.name|trans }}"></i></td>
                    <td>{{ attachment.name }}</td>
                    <td class="text-right">
                        <a href="#" onclick="return exportPDFCorrespondence({{ attachment.id }})"
                                       title="{{ 'button.download'|trans }}"><i class="fas fa-download"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div id="createNewCustomerFooter" class="modal-footer">
    <ul class="pagination mr-auto">
        <li class="page-item " onclick="return getReservation({{ reservationId }}, 'correspondence')">
            <a class="page-link" href="#">&larr; {{ 'button.back'|trans }}</a></li>
    </ul>   
</div>