{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -  Appartmentverwaltung
{% endblock %}

{% block description %}
    {{ parent() }} -  Appartmentverwaltung
{% endblock %}

{% block content %}
    <div class="container" data-controller="settings">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary"
                        data-action="click->settings#openModalAction"
                        data-url="{{ path('apartments.new.apartment') }}"
                        data-title="{{ 'nav.appartment.add'|trans }}"
                        data-bs-toggle="modal" data-bs-target="#modalCenter">
                    <i class="fas fa-plus"></i> {{ 'nav.appartment.add'|trans }}</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">    
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'appartment.number'|trans }}</th>
                        <th>{{ 'appartment.description'|trans }}</th>
                        <th>{{ 'appartment.bedsmax'|trans }}</th>
                        <th>{{ 'appartment.action'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set columnCount = 4 %}
                    {% set previousSubsidiaryId = null %}
                    {% for apartment in apartments %}
                        {% set currentSubsidiaryId = apartment.object is defined and apartment.object ? apartment.object.id : null %}
                        {% if previousSubsidiaryId != currentSubsidiaryId %}
                            <tr>
                                <td colspan="{{ columnCount }}" class="fw-semibold text-center">
                                    {{ apartment.object.name ?? '' }}
                                </td>
                            </tr>
                            {% set previousSubsidiaryId = currentSubsidiaryId %}
                        {% endif %}
                        <tr>
                            <td>{{ apartment.number }}</td>
                            <td>{{ apartment.description }}{% if apartment.multipleOccupancy %} <i class="fa-solid fa-users" title="{{ 'apartment.multiple.occupancy.text'|trans }}"></i>{% endif %}</td>
                            <td>{{ apartment.bedsmax }}</td>
                            <td>
                                <a href="#" title="{{ 'button.details'|trans }}" data-bs-toggle="modal" data-bs-target="#modalCenter">
                                    <i class="fas fa-info-circle"
                                       data-action="click->settings#openModalAction"
                                       data-url="{{ path('apartments.edit.apartment', {'id': apartment.id}) }}"
                                       data-title="{{ 'button.details'|trans }}"></i></a>
                                <a href="#" title="{{ 'button.edit'|trans }}" data-bs-toggle="modal" data-bs-target="#modalCenter">
                                    <i class="fas fa-edit"
                                       data-action="click->settings#openModalAction"
                                       data-url="{{ path('apartments.edit.apartment', {'id': apartment.id}) }}"
                                       data-title="{{ 'button.edit'|trans }}"
                                       data-enable-edit="true"></i></a>
                                <a href="#" title="{{ 'calendar.sync.title'|trans }}" data-bs-toggle="modal" data-bs-target="#modalCenter">
                                    <i class="fas fa-calendar-check"
                                       data-action="click->settings#openModalAction"
                                       data-url="{{ path('apartments.sync.edit', {'id': apartment.calendarSync.id }) }}"
                                       data-title="{{ 'calendar.sync.title'|trans }}"
                                       data-modal-size="lg"></i></a>
                                {% set id = apartment.id %}
                                {% set targetUrl = path('appartments.delete.appartment', {'id': apartment.id}) %}
                                {% use "common/delete_popover.html.twig" %}
                                <a href="#" title="{{ 'button.delete'|trans }}">
                                    <i class="fas fa-trash-alt"
                                        data-popover="delete"
                                        data-title="{{ 'registrationbook.delete.ask'|trans }}"
                                        data-bs-content='{{ block('deletePopoverContent') }}'></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
