{{ form_start(form, {'attr': {
    'id':'entry-form-new',
    'data-controller':'settings',
    'data-action':'submit->settings#submitFormAction',
    'data-url': path('apartments.new.apartment'),
    'data-success-url': path('apartments.overview')
} }) }}
    <div class="modal-body ps-5 pe-5">
        <div id="flash-message-overlay">
        </div>
        <div class="row">
            <div class="col">                             
                {{ include('Apartments/_form.html.twig') }}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'button.cancel'|trans }}</button>
        <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary"/>
    </div>
{{ form_end(form) }}
