{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} -  {{ 'login.pwforgotten.sent.title'|trans }}{% endblock %}

{% block description %}{{ parent() }} -  {{ 'login.pwforgotten.sent.description'|trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        if ($("body nav").length > 0) {
            window.location.href = "{{ path('start') }}";
        } else {
            $(document).ready(function () {
                $("body div").removeClass("d-none");
                $("body p").removeClass("d-none");
            });
        }
    </script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-md-center d-none" style="padding-top: 90px;">
        <div class="col-md-6 card">
            <div class="card-body">
                <legend>{{ 'login.pwforgotten.sent.title'|trans }}</legend>
                <div class="row">
                    <div class="col">                    
                        {{ 'login.pwforgotten.sent.description'|trans }}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">                    
                        {{ 'login.pwforgotten.sent.hint'|trans }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col text-right"><a href="{{ path('login') }}">{{ 'login.pwforgotten.sent.back'|trans }}</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}