{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} -  {{ 'login.pwforgotten.title'|trans }}{% endblock %}

{% block description %}{{ parent() }} -  {{ 'login.pwforgotten.description'|trans }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-md-center" style="padding-top: 90px;">
        <div class="col-md-auto card">
            <div class="card-body">
                <legend>{{ 'login.pwforgotten.title'|trans }}</legend>
                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                <div class="row">
                    <div class="col">                    
                        {{ 'login.pwforgotten.hint'|trans }}
                    </div>
                </div>
                {{ form_start(requestForm) }}
                {{ form_widget(requestForm.email) }}
                
                <button class="btn btn-primary btn-block mt-3">{{ 'login.pwforgotten.button'|trans }}</button>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
    <p class="text-center text-secondary d-none mt-3">&copy; Copyright {{ "now"|date("Y") }} - {{ 'login.copy'|trans }}</p>
</div>
{% endblock %}