{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} -  {{ 'login.pwforgotten.reset.title'|trans }}{% endblock %}

{% block description %}{{ parent() }} -  {{ 'login.pwforgotten.reset.description'|trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        if ($("body nav").length > 0) {
            window.location.href = "{{ path('start') }}";
        } else {
            $(document).ready(function () {
                $("body div").removeClass("d-none");
                $("body p").removeClass("d-none");
            });
        }
    </script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-md-center d-none" style="padding-top: 90px;">
        <div class="col-md-4 card">
            <div class="card-body">
                <legend>{{ 'login.pwforgotten.reset.title'|trans }}</legend>
                {{ form_start(resetForm) }}
                    {{ form_row(resetForm.plainPassword) }}
                    <button class="btn btn-primary btn-block">{{ 'login.pwforgotten.reset.button'|trans }}</button>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
