<div class="col-sm-6">
    <dl>
        <dt>{{ 'reservation.preview.customer.name'|trans }}</dt>
        {% set businessCompany = null %}
        {% for address in customer.customerAddresses %}
            {% if businessCompany is null and address.type == 'CUSTOMER_ADDRESS_TYPE_BUSINESS' and address.company is not empty %}
                {% set businessCompany = address.company %}
            {% endif %}
        {% endfor %}
        <dd>
            {{ customer.salutation }} {{ customer.firstname }} {{ customer.lastname }}
            {% if businessCompany %}
                <div class="text-muted">{{ businessCompany }}</div>
            {% endif %}
        </dd>
        <dt>{{ 'customer.remark'|trans }}</dt>
        <dd>{% if customer.remark %}{{ customer.remark|nl2br }}{% else %} -{% endif %}</dd>
    </dl>
</div>
<div class="col-sm-6">
    <dl>
        <dt>{{ 'customer.birthday'|trans }}</dt>
        <dd>{% if customer.birthday %} {{ customer.birthday|date('d.m.Y') }} {% endif %}</dd>
        {% if customer.iDNumber %}
            <dt>{{ 'customer.id.number'|trans }}</dt>
            <dd>{{ customer.idType.value|trans }}: {{ customer.iDNumber }}</dd>
        {% endif %}
    </dl>
</div>
