<div class="modal-body">
    <div class="container-fluid">
        <div class="row" id="flash-message-overlay">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-sm-12">
                        <div class="page-header">
                            <h4>{{ 'reservation.preview.customer'|trans }}
                                <a href="#" onclick="return editCustomer({{ customer.id }});"
                                   title="{{ 'button.edit'|trans }}" class="pull-right small">
                                        <i class="fas fa-edit"></i></a>
                            </h4>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <dl>
                                    <dt>{{ 'reservation.preview.customer.name'|trans }}</dt>
                                    <dd>{{ customer.salutation }} {{ customer.firstname }} {{ customer.lastname }}</dd>
                                    <dt>{{ 'customer.remark'|trans }}</dt>
                                    <dd>{% if customer.remark %}{{ customer.remark|nl2br }}{% else %} -{% endif %}</dd>
                                </dl>
                            </div>
                            <div class="col-sm-6">
                                <dl>
                                    <dt>{{ 'customer.birthday'|trans }}</dt>
                                    <dd>{% if customer.birthday %} {{ customer.birthday|date('d.m.Y') }} {% endif %}</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="panel-group" id="addressAccordion" role="tablist" aria-multiselectable="true">
                            {% for address in customer.customerAddresses %}
                            <div class="page-header" style="margin-top: 5px;">                                
                                <h6 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#address-{{ address.id }}" aria-expanded="false" aria-controls="address-{{ address.id }}">
                                    {{ 'customer.contact'|trans }} ({{ address.type|trans }})
                                    </a>
                                </h6>                                
                            </div>                            
                            <div class="collapse" id="address-{{ address.id }}">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <dl>
                                            {% if address.company %}
                                            <dt>{{ 'customer.company'|trans }}</dt>
                                            <dd>{{ address.company }}</dd>
                                            {% endif %}
                                            <dt>{{ 'reservation.preview.customer.address'|trans }}</dt>
                                            <dd>{{ address.address }}<br>{{ address.zip }} {{ address.city }}<br />{{ address.country }}</dd>
                                            <dt>{{ 'customer.email'|trans }}</dt>
                                            <dd>{% if address.email %}{{ address.email }}{% else %} -{% endif %}</dd>                                                
                                        </dl>
                                    </div>
                                    <div class="col-sm-6">
                                        <dl>
                                            <dt>{{ 'customer.phone'|trans }}</dt>
                                            <dd>{% if address.phone %}{{ address.phone }}{% else %} -{% endif %}</dd>
                                            <dt>{{ 'customer.fax'|trans }}</dt>
                                            <dd>{% if address.fax %}{{ address.fax }}{% else %} -{% endif %}</dd>
                                            <dt>{{ 'customer.mobilephone'|trans }}</dt>
                                            <dd>{% if address.mobilephone %}{{ address.mobilephone }}{% else %} -{% endif %}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>                            
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="customer-form-{{ customer.id }}">
    <div class="modal-footer">
        <div id="boxDefault">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'button.cancel'|trans }}</button>
            <button type="button" class="btn btn-danger"
                    onclick="return toggleCustomerDelete();">{{ 'button.delete'|trans }}</button>
        </div>
        <div id="boxDelete" class="hide">
            {{ 'customer.delete.ask'|trans }}<br />
            <button class="btn btn-danger" onclick="return doDeleteCustomer({{ customer.id }});">{{ 'button.delete'|trans }}</button>
            <button class="btn btn-default"
                    onclick="return toggleCustomerDelete();">{{ 'button.cancel'|trans }}</button>
            <input type="hidden" name="id" value="{{ customer.id }}"/>
            <input name="_csrf_token" value="{{ token }}" type="hidden">
        </div>
    </div>
</form>
<script>
    function toggleCustomerDelete() {
        if ($("#boxDelete").is(":hidden")) {
            $("#boxDelete").fadeIn().removeClass('hide');
            $("#boxDefault").hide();
        }
        else {
            $("#boxDelete").hide();
            $("#boxDefault").fadeIn();
        }
        return false;
    }
</script>