<div class="row">
    <label for="addresstype-{{ customer.id }}"
           class="col-sm-4 col-form-label text-end">{{ 'customer.addresstype'|trans }}</label>
    <div class="col-sm-8">
        <select name="addresstype-{{ customer.id }}[]" class="form-select">
            {% for type in addresstypes %}
                <option value="{{ type }}">{{ type|trans }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="row">
    <label for="company-{{ customer.id }}"
           class="col-sm-4 col-form-label text-end">{{ 'customer.company'|trans }}</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" name="company-{{ customer.id }}[]"
               value="">
    </div>
</div>
<div class="row">
    <label for="phone-{{ customer.id }}"
           class="col-sm-4 col-form-label text-end">{{ 'customer.phone'|trans }}</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" name="phone-{{ customer.id }}[]"
               value="">
    </div>
</div>
<div class="row">
    <label for="mobilephone-{{ customer.id }}"
           class="col-sm-4 col-form-label text-end">{{ 'customer.mobilephone'|trans }}</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" name="mobilephone-{{ customer.id }}[]"
               value="">
    </div>
</div>
<div class="row">
    <label for="fax-{{ customer.id }}" class="col-sm-4 col-form-label text-end">{{ 'customer.fax'|trans }}</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" name="fax-{{ customer.id }}[]" value="">
    </div>
</div>
<div class="row">
    <label for="email-{{ customer.id }}"
           class="col-sm-4 col-form-label text-end">{{ 'customer.email'|trans }}</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" name="email-{{ customer.id }}[]" value="">
    </div>
</div>
<div class="row">
    <label for="address-{{ customer.id }}"
           class="col-sm-4 col-form-label text-end">{{ 'customer.address'|trans }}</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" name="address-{{ customer.id }}[]" value="">
    </div>
</div>
<div class="row">
    <label for="zip-{{ customer.id }}" class="col-sm-4 col-form-label text-end">{{ 'customer.zip'|trans }}</label>
    <div class="col-sm-8">
        <input id="zip" type="text" class="form-control" name="zip-{{ customer.id }}[]" value="">
    </div>
</div>
<div class="row">
    <label for="city-{{ customer.id }}"
           class="col-sm-4 col-form-label text-end">{{ 'customer.city'|trans }}</label>
    <div class="col-sm-8">
        <input id="city" type="text" class="form-control" name="city-{{ customer.id }}[]" value="">
    </div>
</div>
<div class="row">
    <label for="country-{{ customer.id }}"
           class="col-sm-4 col-form-label text-end">{{ 'customer.country'|trans }}</label>
    <div class="col-sm-8">
        <select name="country-{{ customer.id }}[]" class="form-select">
            {% for key, country in countries %}
                <option value="{{ key }}" 
                        {% if key == app.request.locale|upper %} 
                            selected
                        {% endif %}>{{ country }}</option>
            {% endfor %}
        </select>
    </div>
</div>