<div id="accordion" class="accordion accordion-flush">
{#<div class="card shadow-none p-2">#}
    {% for address in customer.customerAddresses %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="address-heading-{{ address.id }}">
          <button class="accordion-button collapsed py-2" type="button" data-bs-toggle="collapse" data-bs-target="#address-{{ address.id }}" aria-expanded="false" aria-controls="address-{{ address.id }}">
            {{ 'customer.contact'|trans }} ({{ address.type|trans }})
          </button>
        </h2>
        <div id="address-{{ address.id }}" class="accordion-collapse collapse" aria-labelledby="address-heading-{{ address.id }}" data-bs-parent="#accordion">
            <div class="accordion-body">
              <div class="row">
                <div class="col-sm-6">
                        <dl>
                            {% if address.company %}
                            <dt>{{ 'customer.company'|trans }}</dt>
                            <dd>{{ address.company }}</dd>
                            {% endif %}
                            <dt>{{ 'reservation.preview.customer.address'|trans }}</dt>
                            <dd>{{ address.address }}<br>{{ address.zip }} {{ address.city }}<br />{{ address.country }}</dd>
                            <dt>{{ 'customer.email'|trans }}</dt>
                            <dd>{% if address.email %}{{ address.email }}{% else %} -{% endif %}</dd>                                                
                        </dl>
                    </div>
                    <div class="col-sm-6">
                        <dl>
                            <dt>{{ 'customer.phone'|trans }}</dt>
                            <dd>{% if address.phone %}{{ address.phone }}{% else %} -{% endif %}</dd>
                            <dt>{{ 'customer.fax'|trans }}</dt>
                            <dd>{% if address.fax %}{{ address.fax }}{% else %} -{% endif %}</dd>
                            <dt>{{ 'customer.mobilephone'|trans }}</dt>
                            <dd>{% if address.mobilephone %}{{ address.mobilephone }}{% else %} -{% endif %}</dd>
                        </dl>
                    </div>
              </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>