<form id="customer-form-{{ customer.id }}" class="form-horizontal" role="form"
      onsubmit="return saveCustomer({{ customer.id }})">
    <div class="modal-body pl-5 pr-5">
        <div class="container-fluid">
            <div class="row" id="flash-message-overlay">
                <div class="col">
                </div>
            </div>
            {% include 'Customers/customer_form_create_input_fields.html.twig' %}
        </div>
    </div>
    <div id="editCustomerSaveButtons" class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'button.cancel'|trans }}</button>
        <input type="submit" value="{{ 'button.save'|trans }}" id="customer-submit-{{ customer.id }}" class="btn btn-primary">
    </div>
</form>