<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>{{ 'customer.firstname'|trans }}</th>
        <th>{{ 'customer.lastname'|trans }}</th>
        <th>{{ 'customer.company'|trans }}</th>
        <th>{{ 'customer.count.books'|trans }}</th>
        <th>{{ 'customer.action'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for customer in customers %}
        {% if customer.id != 0 %}
            <tr>
                <td>{{ customer.firstname }}</td>
                <td>{{ customer.lastname }}</td>
                <td>
                    {% for address in customer.customerAddresses %}
                        {% if address.company|length > 0 %}
                            {{ address.company }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ customer.bookedReservations|length }}</td>
                <td>
                    <a href="#" title="{{ 'button.details'|trans }}"><i
                           class="fas fa-info-circle"
                           data-action="click->customers#openModalAction"
                           data-url="{{ path('customers.get.customer', {'id': customer.id }) }}"
                           data-title="{{ 'customer.details'|trans }}"
                           data-bs-toggle="modal" data-bs-target="#modalCenter"></i></a>
                    <a href="#" title="{{ 'button.edit'|trans }}"><i
                           class="fas fa-edit"
                           data-action="click->customers#openModalAction"
                           data-url="{{ path('customers.edit.customer.show', {'id': customer.id}) }}"
                           data-title="{{ 'customer.details'|trans }}"
                           data-bs-toggle="modal" data-bs-target="#modalCenter"></i></a>
                    <a href="{{ path('customers.gdpr.customer', {'id': customer.id}) }}" title="{{ 'button.gdpr'|trans }}">
                        <i class="fas fa-balance-scale-left"></i></a>                                                                          
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
<input id="page" type="hidden" name="page" value="{{ page }}" data-customers-target="page" />
{% include 'paginator.html.twig' with { 'url' : path('customers.overview'), 'pagination_action': 'click->customers#paginateAction' } %}
