<div class="modal-body ps-5 pe-5">
    <div class="row">
        <div class="col">
            <h4 class="border-bottom pb-2">{{ 'reservation.preview.customer'|trans }}
                <small>
                <a href="#" onclick="return editCustomer({{ customer.id }});"
                   title="{{ 'button.edit'|trans }}" class="float-end text-secondary">
                        <i class="fas fa-edit"></i></a>
                </small>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <dl>
                <dt>{{ 'reservation.preview.customer.name'|trans }}</dt>
                <dd>{{ customer.salutation }} {{ customer.firstname }} {{ customer.lastname }}</dd>
                <dt>{{ 'customer.remark'|trans }}</dt>
                <dd>{% if customer.remark %}{{ customer.remark|nl2br }}{% else %} -{% endif %}</dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <dl>
                <dt>{{ 'customer.birthday'|trans }}</dt>
                <dd>{% if customer.birthday %} {{ customer.birthday|date('d.m.Y') }} {% endif %}</dd>
            </dl>
        </div>
    </div>
          {% include 'Customers/customer_show_address_fields.html.twig' with {'customer' : customer} %}          
</div>

<form id="customer-form-{{ customer.id }}">
    <div class="modal-footer">
        <div id="boxDelete" class="d-none me-auto">
            {{ 'customer.delete.ask'|trans }}<br />
            <button class="btn btn-danger" onclick="return doDeleteCustomer({{ customer.id }});">{{ 'button.delete'|trans }}</button>
            <button class="btn btn-secondary"
                    onclick="return toggleCustomerDelete();">{{ 'button.cancel'|trans }}</button>
            <input type="hidden" name="id" value="{{ customer.id }}"/>
            <input name="_csrf_token" value="{{ token }}" type="hidden">
        </div>
        <div id="boxDefault">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'button.cancel'|trans }}</button>
            <button type="button" class="btn btn-danger"
                    onclick="return toggleCustomerDelete();">{{ 'button.delete'|trans }}</button>
        </div>        
    </div>
</form>
<script>
    function toggleCustomerDelete() {
        if ($("#boxDelete").is(":hidden")) {
            $("#boxDelete").fadeIn().removeClass('d-none');
            $("#boxDefault").addClass('d-none');
        }
        else {
            $("#boxDelete").addClass('d-none');
            $("#boxDefault").fadeIn().removeClass('d-none');
        }
        return false;
    }
</script>