{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -  Kundenverwaltung
{% endblock %}

{% block description %}
    {{ parent() }} -  Kundenverwaltung
{% endblock %}

{% block content %}
    <div class="container"
         data-controller="customers"
         data-customers-search-url-value="{{ path('customers.search') }}">
        <div class="row">
            <div class="col-md-6">
                <form class="form" id="customers-search-form"
                      data-customers-target="searchForm"
                      data-action="submit->customers#searchAction">
                    <input type="search" class="form-control" id="search" name="search"
                           data-customers-target="searchInput"
                           data-action="input->customers#searchInputAction"
                           placeholder="{{ 'nav.customer.search'|trans }}" value="{{ search }}"/>
                </form>
            </div>
            <div class="col-md ps-0">
                <button class="btn btn-secondary" type="button"
                        data-action="click->customers#searchAction">
                    <i class="fas fa-search"></i> {{ 'nav.customer.search'|trans }}
                </button>
            </div>
            <div class="col-md text-end">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary" 
                            data-action="click->customers#openModalAction"
                            data-url="{{ path('customers.new.customer') }}"
                            data-title="{{ 'nav.customer.add'|trans }}"
                            data-bs-toggle="modal"
                            data-bs-target="#modalCenter">
                        <i class="fas fa-plus"></i> {{ 'nav.customer.add'|trans }}</button>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div id="customers-table" class="col" data-customers-target="table">
                {% include 'Customers/customer_table.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
