{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -  {{ 'statistics.origin.title'|trans }}
{% endblock %}

{% block description %}
    {{ parent() }} -  {{ 'statistics.origin.title'|trans }}
{% endblock %}

{# create list of localized month #}
{% set monthList = [] %}
{% for i in 1..12 %}
    {% set monthList = monthList|merge([getLocalizedMonth(i, 'MMMM', app.request.locale)]) %}
{% endfor %}

{% block content %}
    <div class="container"
         data-controller="statistics"
         data-statistics-monthly-origin-url-value="{{ path('statistics.origin.monthtly') }}"
         data-statistics-yearly-origin-url-value="{{ path('statistics.origin.yearly') }}">
        <div class="row justify-content-end">
            <div class="col-md-3">
                <form id="table-filter" role="form">                   
                    <select id="objects" name="object" class="form-select"
                            data-statistics-target="objects"
                            data-action="change->statistics#drawMonthlyOriginAction change->statistics#drawYearlyOriginAction">
                        <option value="all">{{ 'reservation.objects.all'|trans }}</option>
                        {% for object in objects %}
                            <option value="{{ object.id }}"{% if object.id == objectId %} selected{% endif %}>{{ object.name }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        {{ 'statistics.origin.monthly'|trans }}
                         <i id="refreshMonthly" class="fas fa-sync-alt float-end" aria-hidden="true" 
                            style="cursor: pointer;" data-action="click->statistics#drawMonthlyOriginAction"></i>
                    </div>
                    <div class="card-body">
                        <div style="position: relative; height:45vh;">
                            <canvas id="monthlyChart" data-statistics-target="monthlyChart"></canvas>
                        </div>
                    </div>
                    <div class="card-footer pt-0">
                        <form role="form">
                            <div class="row justify-content-md-center">
                                <div class="col-md-3">
                                    <select id="monthlyStart" name="monthtlyStart" class="form-select"
                                            data-statistics-target="monthlyStart"
                                            data-action="change->statistics#drawMonthlyOriginAction">
                                        {% set currentMonth = 'now'|date('n') %}
                                        {% for month in monthList %}
                                            <option value="{{ loop.index }}"{%if loop.index == currentMonth %} selected="selected"{% endif %}>{{ month }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select id="monthlyStartYear" name="monthtlyStartYear" class="form-select"
                                            data-statistics-target="monthlyStartYear"
                                            data-action="change->statistics#drawMonthlyOriginAction">
                                        {% set currentYear = 'now'|date('Y') %}
                                        {% for i in minYear..maxYear %}
                                            <option value="{{ i }}"{%if i == currentYear %} selected="selected"{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-1 col-form-label text-center">
                                    -
                                </div>
                                <div class="col-md-3">
                                    <select id="monthlyEnd" name="monthtlyEnd" class="form-select"
                                            data-statistics-target="monthlyEnd"
                                            data-action="change->statistics#drawMonthlyOriginAction">
                                        {% for month in monthList %}
                                            <option value="{{ loop.index }}"{%if loop.index == currentMonth %} selected="selected"{% endif %}>{{ month }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select id="monthlyEndYear" name="monthtlyEndYear" class="form-select"
                                            data-statistics-target="monthlyEndYear"
                                            data-action="change->statistics#drawMonthlyOriginAction">
                                        {% for i in minYear..maxYear %}
                                            <option value="{{ i }}"{%if i == currentYear %} selected="selected"{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        {{ 'statistics.origin.yearly'|trans }}
                         <i id="refreshYearly" class="fas fa-sync-alt float-end" aria-hidden="true" 
                            style="cursor: pointer;" data-action="click->statistics#drawYearlyOriginAction"></i>
                    </div>
                    <div class="card-body">
                        <div style="position: relative; height:45vh;">
                            <canvas id="yearlyChart" data-statistics-target="yearlyChart"></canvas>
                        </div>
                    </div>
                    <div class="card-footer pt-0">
                        <form role="form">
                            <div class="row justify-content-md-center">
                                <div class="col-md-2">
                                    <select id="yearlyStartYear" name="yearlyStartYear" class="form-select"
                                            data-statistics-target="yearlyStartYear"
                                            data-action="change->statistics#drawYearlyOriginAction">
                                        {% for i in minYear..maxYear %}
                                            <option value="{{ i }}"{%if i == currentYear %} selected="selected"{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-1 col-form-label text-center">
                                    -
                                </div>
                                <div class="col-md-2">
                                    <select id="yearlyEndYear" name="yearlyEndYear" class="form-select"
                                            data-statistics-target="yearlyEndYear"
                                            data-action="change->statistics#drawYearlyOriginAction">
                                        {% for i in minYear..maxYear %}
                                            <option value="{{ i }}"{%if i == currentYear %} selected="selected"{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ app.request.basepath }}/resources/js/chart-4.5.1.js" defer></script>
{% endblock %}
