
{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -  {{ 'statistics.turnover.title'|trans }}
{% endblock %}

{% block description %}
    {{ parent() }} -  {{ 'statistics.turnover.title'|trans }}
{% endblock %}

{% block content %}
    <div class="container"
         data-controller="statistics"
         data-statistics-monthly-url-value="{{ path('statistics.turnover.monthly') }}"
         data-statistics-yearly-url-value="{{ path('statistics.turnover.yearly') }}">
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        {{ 'statistics.turnover.monthly'|trans }}
                         <i id="refreshMonthly" class="fas fa-sync-alt float-end" aria-hidden="true" 
                            style="cursor: pointer;" data-action="click->statistics#drawMonthlyTurnoverAction"></i>
                    </div>
                    <div class="card-body">
                        <canvas id="monthlyChart" data-statistics-target="monthlyChart"></canvas>
                    </div>
                    <div class="card-footer pt-0">
                        <form role="form">
                            <div class="row justify-content-md-center">
                                <div class="col-md-2">
                                    <select id="monthlyStartYear" name="monthtlyStartYear" class="form-select"
                                            data-statistics-target="monthlyStartYear"
                                            data-action="change->statistics#drawMonthlyTurnoverAction">
                                        {% set currentYear = 'now'|date('Y') %}
                                        {% for i in maxYear..minYear %}
                                            <option value="{{ i }}"{%if i == currentYear %} selected="selected"{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-1 col-form-label text-center">
                                    -
                                </div>
                                <div class="col-md-2">
                                    <select id="monthlyEndYear" name="monthtlyEndYear" class="form-select"
                                            data-statistics-target="monthlyEndYear"
                                            data-action="change->statistics#drawMonthlyTurnoverAction">
                                        {% for i in maxYear..minYear %}
                                            <option value="{{ i }}"{%if i == currentYear %} selected="selected"{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" id="yearlyCard">
                    <div class="card-header bg-primary text-white">
                         {{ 'statistics.turnover.yearly'|trans }}
                         <i id="refreshYearly" class="fas fa-sync-alt float-end mouse-pointer" aria-hidden="true" 
                            data-action="click->statistics#drawYearlyTurnoverAction"></i>
                    </div>
                    <div class="card-body">
                        <canvas id="yearlyChart" data-statistics-target="yearlyChart"></canvas>
                    </div>
                    <div class="card-footer pt-0">
                        <form role="form">
                            <div class="row justify-content-md-center">
                                <div class="col-md-2">
                                    <select id="yearlyStartYear" name="yearlyStartYear" class="form-select"
                                            data-statistics-target="yearlyStartYear"
                                            data-action="change->statistics#drawYearlyTurnoverAction">
                                        {% for i in maxYear..minYear %}
                                            <option value="{{ i }}"{%if i == currentYear %} selected="selected"{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-1 col-form-label text-center">
                                    -
                                </div>
                                <div class="col-md-2">
                                    <select id="yearlyEndYear" name="yearlyEndYear" class="form-select"
                                            data-statistics-target="yearlyEndYear"
                                            data-action="change->statistics#drawYearlyTurnoverAction">
                                        {% for i in maxYear..minYear %}
                                            <option value="{{ i }}"{%if i == currentYear %} selected="selected"{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <span class="text-info"><i class="fas fa-info-circle"></i> {{ 'statistics.turnover.help'|trans }}</span>
            </div>
        </div>
        <div class="row mt-3">
                <form id="invoice-status" role="form" data-statistics-target="invoiceStatusForm">
                    <div class="form-check form-switch form-check-inline">
                        <input type="checkbox" class="form-check-input" id="invoice-status-1" name="invoice-status[]" value="1"
                               data-action="change->statistics#drawMonthlyTurnoverAction change->statistics#drawYearlyTurnoverAction">
                        <label class="form-check-label" for="invoice-status-1">{{ 'invoice.status.notpayed'|trans }}</label>
                    </div>
                    <div class="col form-check form-switch form-check-inline">
                        <input type="checkbox" class="form-check-input" id="invoice-status-3" name="invoice-status[]" value="3"
                               data-action="change->statistics#drawMonthlyTurnoverAction change->statistics#drawYearlyTurnoverAction">
                        <label class="form-check-label" for="invoice-status-3">{{ 'invoice.status.prepayment'|trans }}</label>
                    </div>
                    <div class="col form-check form-switch form-check-inline">
                        <input type="checkbox" class="form-check-input" id="invoice-status-2" name="invoice-status[]" value="2" checked="checked"
                               data-action="change->statistics#drawMonthlyTurnoverAction change->statistics#drawYearlyTurnoverAction">
                        <label class="form-check-label" for="invoice-status-2">{{ 'invoice.status.payed'|trans }}</label>
                    </div>
                    <div class="col form-check form-switch form-check-inline">
                        <input type="checkbox" class="form-check-input" id="invoice-status-4" name="invoice-status[]" value="4"
                               data-action="change->statistics#drawMonthlyTurnoverAction change->statistics#drawYearlyTurnoverAction">
                        <label class="form-check-label" for="invoice-status-4">{{ 'invoice.status.canceled'|trans }}</label>
                    </div>
                </form>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ app.request.basepath }}/resources/js/chart-4.5.1.js" defer></script>
{% endblock %}
