<div class="modal-body ps-5 pe-5"
     data-controller="registrationbook reservations"
     data-registrationbook-showadd-url="{{ path('registrationbook.showadd.reservations') }}">
    <div id="flash-message-overlay">
        <div class="col">
            {% include 'feedback.html.twig' with {'error': error, 'app': app } %}
        </div>
    </div>
    <form id="registration-period" role="form"
          data-action="submit->registrationbook#getAvailableBookEntriesAction"
          data-url="{{ path('registrationbook.showadd.reservations') }}">
    <div class="row justify-content-md-center">        
        <div class="col-md-4 text-center">
            <input type="date" class="form-control" id="start" name="start" value="{{ start|date('Y-m-d') }}"
                   placeholder="{{ 'reservation.startdate'|trans }}"
                   data-action="change->registrationbook#getAvailableBookEntriesAction"
                   data-url="{{ path('registrationbook.showadd.reservations') }}">
        </div>
        <div class="col-md-4 text-center">
                <input type="date" class="form-control" id="end" name="end" value="{{ end|date('Y-m-d') }}"
                       placeholder="{{ 'reservation.enddate'|trans }}"
                       data-action="change->registrationbook#getAvailableBookEntriesAction"
                       data-url="{{ path('registrationbook.showadd.reservations') }}">
        </div>
    </div>
    </form>
    <div class="row mt-4">
        <div class="col-md-4">
            <h4>{{ 'registrationbook.departures'|trans }}</h4>
            <table class="table table-hover" id="selectedAppartments">
                {% for reservation in reservations %}
                <tr class="mouse-pointer js-registrationbook-reservation-row"
                    data-action="click->registrationbook#toggleReservationCustomersAction">
                    <td>{{ 'registrationbook.appartment'|trans }}: {{ reservation.appartment.number }}<br />
                        <span class="text-secondary">({{ reservation.startdate|date('d.m.Y') }} - {{ reservation.enddate|date('d.m.Y') }})</span>
                        <div class="d-none registrationbook-reservation-details">
                            <table class="table mt-4" id="selectedAppartments">
                                <tr>
                                    <th>{{ 'registrationbook.appartment'|trans }}</th>
                                    <th>{{ 'appartment.description'|trans }}</th>
                                    <th>{{ 'reservation.persons'|trans }}</th>
                                    <th>{{ 'reservation.startdate'|trans }}</th>
                                    <th>{{ 'reservation.enddate'|trans }}</th>
                                </tr>
                                <tr data-action="click->registrationbook#toggleReservationCustomersAction">
                                    <td>{{ reservation.appartment.number }}</td>
                                    <td>{{ reservation.appartment.description }}</td>
                                    <td>{{ reservation.persons }}</td>
                                    <td>{{ reservation.startdate|date('d.m.Y') }}</td>
                                    <td>{{ reservation.enddate|date('d.m.Y') }}</td>
                                </tr>
                            </table>
                            <div class="row mt-4">
                                <div class="col">
                                    {{ 'reservation.preview.customer.inroom'|trans }}
                                    <a href="#"
                                       data-action="click->registrationbook#addReservationCustomerAction"
                                       data-url="{{ path('registrationbook.add.add.customer') }}"
                                       data-reservation-id="{{ reservation.id }}"
                                       title="{{ 'button.add'|trans }}" class="float-end">
                                        <i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                                    {#<tr>
                                        <td colspan="6" id="reservation-{{ reservation.id }}" class="reservation-customers">
                                            <div class="row mt-4">
                                                <div class="col-md-12">
                                    #}                

                            <table class="table mt-4">
                                <tr>
                                    <th>{{ 'reservation.preview.customer.name'|trans }}</th>
                                    <th>{{ 'customer.birthday'|trans }}</th>
                                    <th class="text-center">{{ 'customer.action'|trans }}</th>
                                </tr>
                                {% for customer in reservation.customers %}
                                    <tr>
                                        <td>{{ customer.salutation }} {{ customer.firstname }} {{ customer.lastname }}</td>
                                        <td>{% if customer.birthday %}{{ customer.birthday|date('d.m.Y') }}{% endif %}</td>
                                        <td class="text-center">
                                            <form id="delete-customer-{{ customer.id }}">
                                                <input id="reservation-id" type="hidden"
                                                       value="{{ reservation.id }}"
                                                       name="reservation-id"/>
                                                <input id="customer-id" type="hidden"
                                                       value="{{ customer.id }}"
                                                       name="customer-id"/>
                                                <input id="tab" type="hidden" value="guest"
                                                       name="tab"/>
                                                <input name="_csrf_token" value="{{ token }}"
                                                       type="hidden">
                                            </form>
                                            <a href="#" title="{{ 'button.edit'|trans }}">
                                                <i class="fas fa-edit"
                                                   data-action="click->registrationbook#editReservationCustomerAction"
                                                   data-url="{{ path('registrationbook.add.edit.customer') }}"
                                                   data-customer-id="{{ customer.id }}"></i></a>
                                            <a href="#"
                                               data-action="click->registrationbook#deleteReservationCustomerAction"
                                               data-form-selector="#delete-customer-{{ customer.id }}"
                                               data-url="{{ path('registrationbook.add.delete.customer') }}"
                                               title="{{ 'button.delete'|trans }}">
                                                <i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>

                            <div class="float-end">
                                <button class="btn btn-primary"
                                        data-action="click->registrationbook#addReservationToBookAction"
                                        data-url="{{ path('registrationbook.add.registration') }}"
                                        data-reservation-id="{{ reservation.id }}">{{ 'button.accept'|trans }}</button>
                            </div>
                        </div>
                    </td>
                </tr>
                {% else %}
                    <tr>
                        <td><span class="text-secondary"><i>{{ 'registrationbook.noentries'|trans }}</i></span></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id="book-entry" class="col-md-8 border-left-thick" data-registrationbook-target="bookEntry">
        </div>
    </div>
</div>
<input name="_csrf_token" value="{{ token }}" type="hidden" id="_csrf_token">
<div class="modal-footer">
    <span class="text-info me-auto"><i class="fas fa-info-circle"></i> {{ 'registrationbook.help.message'|trans }}</span>
</div>
