<form id="entry-form-{{ id }}" role="form" onsubmit="return doDeleteEntry({{ id }})">
    <div class="row">
        <div class="col">
            <p>{{ 'registrationbook.delete.ask'|trans }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="submit" value="{{ 'button.delete'|trans }}" class="btn btn-danger"/>
            <button class="btn btn-secondary"
                    onclick="return collapseEntry({{ id }})">{{ 'button.cancel'|trans }}</button>
        </div>
    </div>
    <input name="_csrf_token" value="{{ token }}" type="hidden">
</form>

