<div data-controller="registrationbook reservations"
    data-edit-reservation-customer-change-url-template="{{ path('reservations.edit.customer.change', {'id': reservation.id}) }}"
    data-registrationbook-add-reservations-url="{{ path('registrationbook.showadd.reservations') }}"
    data-registrationbook-add-reservations-title="{{ 'registrationbook.addreservations'|trans }}"
    data-registrationbook-edit-customer-url="{{ path('reservations.edit.customer.change', {'id': reservation.id}) }}">
<div class="modal-body ps-5 pe-5">
    <div id="flash-message-overlay">
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">                
            <input type="text" class="form-control" id="lastname" name="lastname"
                   placeholder="{{ 'reservation.select.customer.search.input.placeholder'|trans }}"
                   data-action="input->registrationbook#customersSearchInputAction"
                   data-mode="edit" data-tab="guest">
        </div>
        <div class="col text-end">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button"
                        data-action="click->registrationbook#customersSearchAction"
                        data-mode="edit" data-tab="guest">
                    <i class="fas fa-search"></i> {{ 'nav.customer.search'|trans }}
                </button>
                <button class="btn btn-secondary" type="button"
                        data-action="click->reservations#getFormForNewCustomerAction">
                    <i class="fas fa-plus"></i> {{ 'nav.customer.add'|trans }}
                </button>
            </span>
        </div>
    </div>
    <div class="row mt-4">   
        <div class="col">
            <form id="customer-selection" class="form-horizontal" role="form"
                  data-action="submit->registrationbook#editReservationNewCustomerAction"
                  data-url="{{ path('reservations.edit.reservation.customer.create', {'id': reservation.id}) }}">

                <div id="customers"
                     data-customers-url="{{ path('reservations.get.customers') }}"
                     data-customers-edit-url="{{ path('reservations.edit.customers.get') }}"
                     data-customer-new-form-url="{{ path('reservations.get.customer.new.form') }}"
                     data-customers-extra-params="selectAction={{ 'registrationbook#selectCustomerFromListAction'|url_encode }}&changeUrl={{ path('reservations.edit.customer.change', {'id': reservation.id}) }}">
                </div>
                <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary float-end mt-3 d-none"/>
                <input id="reservation-id" type="hidden" value="{{ reservation.id }}" name="reservation-id"/>
                <input id="tab" type="hidden" value="guest" name="tab"/>
            </form>
        </div>
    </div>
</div>
<div id="createNewCustomerFooter" class="modal-footer">
    <ul class="pagination me-auto">
        <li class="page-item ">
            <a class="page-link"
               href="#"
               data-action="click->registrationbook#openAddReservationsAction"
               data-url="{{ path('registrationbook.showadd.reservations') }}"
               data-title="{{ 'registrationbook.addreservations'|trans }}">&larr; {{ 'button.back'|trans }}</a></li>
    </ul>
</div>
</div>
