<div data-controller="customer-form"
    data-customer-form-city-lookup-url-value="{{ path('customers.citylookup', {'countryCode': 'placeholder1', 'postalCode': 'placeholder2'}) }}"
    data-customer-form-address-lookup-url-value="{{ path('customers.search.address', {'address': 'placeholder'}) }}">
<div class="modal-body ps-5 pe-5">
    <div id="flash-message-overlay">
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form id="customer-form2-{{ customer.id }}" class="form-horizontal" role="form" onsubmit="return saveCustomer({{ customer.id }}, this)">
                <fieldset id="customer-form-fieldset-{{ customer.id }}">
                    {% include 'Customers/customer_form_create_input_fields.html.twig' %}
                </fieldset>
                <input type="submit" class="btn btn-primary float-end mt-3" value="{{ 'button.save'|trans }}">
                <input type="hidden" name="customer-id" value="{{ customer.id }}"/>
            </form>
        </div>
    </div>
</div>
<div id="createNewCustomerFooter" class="modal-footer">
    <ul class="pagination me-auto">
        <li class="page-item " onclick="return showAddReservationsForm()">
            <a class="page-link" href="#">&larr; {{ 'button.back'|trans }}</a></li>
    </ul>
</div>
</div>