{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -  {{ 'object.title'|trans }}
{% endblock %}

{% block description %}
    {{ parent() }} -  {{ 'object.title'|trans }}
{% endblock %}

{% block content %}
<div class="container" data-controller="settings prices">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-secondary"
                    data-action="click->settings#openModalAction"
                    data-url="{{ path('prices.new.price') }}"
                    data-title="{{ 'nav.price.add'|trans }}"
                    data-bs-toggle="modal"
                    data-bs-target="#modalCenter">
                <i class="fas fa-plus"></i> {{ 'nav.price.add'|trans }}</button>
        </div>
    </div>
        

        
    {% set lastRoomCategory = null %}
    <div class="row mt-3">
        <div class="col">
        {% for price in prices %}
            {% if lastRoomCategory != price.roomCategory %}
            <div class="card mb-3">
                <div class="card-header">
                  {% if price.roomCategory != null %}{{ 'price.category'|trans }}: <strong>{{ price.roomCategory.name }}</strong>{% endif %}
                </div>
                <div class="card-body">
                    {% include 'Prices/price_table.html.twig' with {'currentPrice': price} %}
                </div>
            </div>       
            {% set lastRoomCategory = price.roomCategory  %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
