<fieldset id="entry-form-fieldset-{{ price.id }}" {% if price.id != "new" %} disabled {% endif %}>
    <div id="accordion" class="accordion">
        <div class="card">
            <div class="card-header p-0" id="headingOne-{{ price.id }}">
                <h6 class="border-bottom mb-0">
                    <button type="button" class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne-{{ price.id }}" aria-expanded="true" aria-controls="collapseOne-{{ price.id }}">
                        {{ 'price.collapsable.group.1.description'|trans }}
                    </button>
                </h6>
            </div>
            <div id="collapseOne-{{ price.id }}" class="collapse show" aria-labelledby="headingOne-{{ price.id }}" data-parent="#accordion">
                <div class="card-body">
                        <div class="row">
                            <label for="inputDescription" class="col-sm-4 col-form-label text-end">{{ 'price.description'|trans }}
                                *</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="description-{{ price.id }}"
                                       value="{{ price.description }}" required>
                            </div>
                        </div>
                        <div class="row">
                            <label for="price-{{ price.id }}" class="col-sm-4 col-form-label text-end">{{ 'price.price'|trans }} *</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="price-{{ price.id }}"
                                       value="{{ price.price|number_format(2, ',', '.') }}" required>
                            </div>
                            <div class="col">
                                <div class="form-check form-switch mt-4">
                                    <input type="checkbox" name="includesVat-{{ price.id }}" id="includesVat-{{ price.id }}" class="form-check-input"{% if price.includesVat == 1 %} checked {% endif %} value="1">
                                    <label class="form-check-label" for="includesVat-{{ price.id }}">{{ 'price.includesvat'|trans }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputVat" class="col-sm-4 col-form-label text-end">{{ 'price.vat'|trans }} *</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="vat-{{ price.id }}"
                                       value="{{ price.vat|number_format(2, ',', '.') }}" required>
                            </div>
                        </div>
                        <div class="row">
                            <label for="type-{{ price.id }}" class="col-sm-4 col-form-label text-end">{{ 'price.type'|trans }} *</label>

                            <div class="col-sm-8">
                                <select id="type-{{ price.id }}" name="type-{{ price.id }}" class="form-select"
                                        onchange="return checkIfTypeIsAppartment('{{ price.id }}')">
                                    <option value="1" {% if price.type == 1 %} selected {% endif %}>{{ 'price.miscellaneous'|trans }}</option>
                                    <option value="2" {% if price.type == 2 %} selected {% endif %}>{{ 'price.appartment'|trans }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label for="origin-{{ price.id }}" class="col-sm-4 col-form-label text-end">{{ 'price.origin'|trans }} *</label>
                            <div class="col-sm-8">
                                <select id="origin-{{ price.id }}" name="origin-{{ price.id }}[]" class="form-select" multiple>
                                    {% for origin in origins %}
                                        <option value="{{ origin.id }}" {% if origin.id in originPricesIds %} selected {% endif %}>{{ origin.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"></div>
                            <div class="col">
                                <div class="form-check form-switch">
                                    <input type="checkbox" name="active-{{ price.id }}" id="active-{{ price.id }}" class="form-check-input"{% if price.active == 1 %} checked {% endif %} value="1">
                                    <label class="form-check-label" for="active-{{ price.id }}">{{ 'price.active'|trans }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col">
                                <div class="form-check form-switch">
                                    <input type="checkbox" name="isFlatPrice-{{ price.id }}" id="isFlatPrice-{{ price.id }}" class="form-check-input"{% if price.isFlatPrice == 1 %} checked {% endif %} value="1">
                                    <label class="form-check-label" for="isFlatPrice-{{ price.id }}">{{ 'price.isflatprice'|trans }}</label>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="card mt-1">
            <div class="card-header p-0" id="headingTwo-{{ price.id }}">
                <h6 class="border-bottom mb-0">
                    <button type="button" class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseTwo-{{ price.id }}" aria-expanded="false" aria-controls="collapseTwo-{{ price.id }}">
                        {{ 'price.collapsable.group.2.description'|trans }}
                    </button>
                </h6>
            </div>
            <div id="collapseTwo-{{ price.id }}" class="collapse" aria-labelledby="headingTwo-{{ price.id }}" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <label for="inputDescription" class="col-sm-3 col-form-label text-end">{{ 'price.season'|trans }}:</label>
                        <div class="checkbox col-sm-2 align-self-center">
                            <div class="form-check">
                                <input type="checkbox" name="allperiods-{{ price.id }}" id="allperiods-{{ price.id }}" class="form-check-input"
                                       onclick="toggleStartEnd('{{ price.id }}')" {% if price.allPeriods %} checked{% endif %} value="1">
                                <label class="form-check-label" for="allperiods-{{ price.id }}">{{ 'price.alldays'|trans }}</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" id="periodstart-{{ price.id }}"
                                   name="periodstart"
                                   value=""
                                   placeholder="{{ 'price.from'|trans }}"
                                   onchange="iniStartOrEndDate('periodstart-{{ price.id }}', 'periodend-{{ price.id }}', 1);"
                                   {% if price.seasonStart is null %} disabled{% endif %}>
                        </div>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" id="periodend-{{ price.id }}"
                                   name="periodend"
                                   value=""
                                   placeholder="{{ 'price.end'|trans }}"
                                   onchange="iniStartOrEndDate('periodstart-{{ price.id }}', 'periodend-{{ price.id }}', 1);"
                                   {% if price.seasonEnd is null %} disabled{% endif %}>
                        </div>
                        <div class="col-sm-1 align-self-center">    
                            <a href="#" class="text-primary" id="addperiodbutton" title="{{ 'button.add'|trans }}" onclick="addPeriod(this, '{{ price.id }}')">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3"></div>                        
                        <div class="col" id="periods-field">
                        {% for pricePeriod in price.pricePeriods %}
                            <div class="price-period float-start">
                                <span class="badge rounded-pill bg-info">{{ pricePeriod.start|date('d.m.Y') }} - {{ pricePeriod.end|date('d.m.Y') }}
                                    <button type="button" class="btn-close" aria-label="Close">&nbsp;</button>
                                </span>                                 
                                <input type="hidden" name="periodstart-{{ pricePeriod.id }}[]" value="{{ pricePeriod.start|date('Y-m-d') }}" />
                                <input type="hidden" name="periodend-{{ pricePeriod.id }}[]" value="{{ pricePeriod.end|date('Y-m-d') }}" />
                                <input type="hidden" name="period-{{ price.id }}[]" value="{{ pricePeriod.id }}" />
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="row days-control">
                        <label for="inputDescription" class="col-sm-3 col-form-label text-end">{{ 'price.weekdays'|trans }}:</label>
                        <div class="checkbox col-sm-2 align-self-center">
                            <div class="form-check">
                                <input type="checkbox" name="monday-{{ price.id }}" id="monday-{{ price.id }}" class="form-check-input"
                                       {% if price.monday == true or price.alldays == true %} checked{% endif %} value="1">
                                <label class="form-check-label" for="monday-{{ price.id }}">{{ 'price.monday'|trans }}</label>
                            </div>
                        </div>
                        <div class="checkbox col-sm-2 align-self-center">
                            <div class="form-check">
                                <input type="checkbox" name="tuesday-{{ price.id }}" id="tuesday-{{ price.id }}" class="form-check-input"
                                       {% if price.tuesday == true or price.alldays == true %} checked{% endif %} value="1">
                                <label class="form-check-label" for="tuesday-{{ price.id }}">{{ 'price.tuesday'|trans }}</label>
                            </div>
                        </div>
                        <div class="checkbox col-sm-2 align-self-center">
                            <div class="form-check">
                                <input type="checkbox" name="wednesday-{{ price.id }}" id="wednesday-{{ price.id }}" class="form-check-input"
                                       {% if price.wednesday == true or price.alldays == true %} checked{% endif %} value="1">
                                <label class="form-check-label" for="wednesday-{{ price.id }}">{{ 'price.wednesday'|trans }}</label>
                            </div>
                        </div>
                        <div class="checkbox col-sm-2 align-self-center">
                            <div class="form-check">
                                <input type="checkbox" name="thursday-{{ price.id }}" id="thursday-{{ price.id }}" class="form-check-input"
                                       {% if price.thursday == true or price.alldays == true %} checked{% endif %} value="1">
                                <label class="form-check-label" for="thursday-{{ price.id }}">{{ 'price.thursday'|trans }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row days-control">
                        <div class="col-sm-3"></div>
                        <div class="checkbox col-sm-2">
                            <div class="form-check">
                                <input type="checkbox" name="friday-{{ price.id }}" id="friday-{{ price.id }}" class="form-check-input"
                                       {% if price.friday == true or price.alldays == true %} checked{% endif %} value="1">
                                <label class="form-check-label" for="friday-{{ price.id }}">{{ 'price.friday'|trans }}</label>
                            </div>
                        </div>
                        <div class="checkbox col-sm-2">
                            <div class="form-check">
                                <input type="checkbox" name="saturday-{{ price.id }}" id="saturday-{{ price.id }}" class="form-check-input"
                                       {% if price.saturday == true or price.alldays == true %} checked{% endif %} value="1">
                                <label class="form-check-label" for="saturday-{{ price.id }}">{{ 'price.saturday'|trans }}</label>
                            </div>
                        </div>
                        <div class="checkbox col-sm-2">
                            <div class="form-check">
                                <input type="checkbox" name="sunday-{{ price.id }}" id="sunday-{{ price.id }}" class="form-check-input"
                                       {% if price.sunday == true or price.alldays == true %} checked{% endif %} value="1">
                                <label class="form-check-label" for="sunday-{{ price.id }}">{{ 'price.sunday'|trans }}</label>
                            </div>
                        </div>
                        <div class="checkbox col-sm-2">
                            <div class="form-check">
                                <input type="checkbox" name="alldays-{{ price.id }}" id="alldays-{{ price.id }}" class="form-check-input"
                                       onclick="checkAllCheckboxes('{{ price.id }}')" {% if price.alldays == true or price.alldays == true %} checked{% endif %} value="1">
                                <label class="form-check-label" for="alldays-{{ price.id }}">{{ 'price.alldays'|trans }}</label>
                            </div>
                        </div>
                    </div>
                    <span class="text-info"><i class="fas fa-info-circle"></i> {{ 'price.season.hint'|trans }}</span>
                </div>
            </div>
        </div>

        <div class="card mt-1">
            <div class="card-header p-0" id="headingThree-{{ price.id }}">
                <h6 class="border-bottom mb-0">
                    <button type="button" class="btn btn-link {% if price.id == "new" or price.type != 2 %} disabled {% endif %}" 
                            data-bs-toggle="collapse" data-bs-target="#collapseThree-{{ price.id }}" aria-expanded="false" aria-controls="collapseThree-{{ price.id }}">
                        {{ 'price.collapsable.group.3.description'|trans }}
                    </button>
                </h6>
            </div>
            <div id="collapseThree-{{ price.id }}" class="collapse" aria-labelledby="headingThree-{{ price.id }}" data-parent="#accordion">
                <div class="card-body">
                    <fieldset id="price-form-fieldset-type-appartment-{{ price.id }}" {% if price.id == "new" or price.type != 2 %} disabled {% endif %}>
                    <div class="row">
                        <label for="inputNumberOfPersons"
                               class="col-sm-4 col-form-label text-end">{{ 'price.numberofpersons'|trans }} *</label>

                        <div class="col-sm-8">
                            <input type="text" id="number-of-persons" class="form-control"
                                   name="number-of-persons-{{ price.id }}" value="{{ price.numberofpersons }}">
                        </div>
                    </div>
                    <div class="row">
                        <label for="category-{{ price.id }}" class="col-sm-4 col-form-label text-end">{{ 'appartment.category'|trans }}</label>

                        <div class="col-sm">
                            <select name="category-{{ price.id }}" class="form-select">
                                {% for category in categories %}
                                    {% if price.id != "new" and price.roomCategory != null and category.id == price.roomCategory.id %}
                                        <option value="{{ category.id }}" selected>{{ category.name }}</option>
                                    {% else %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label for="inputMinStay" class="col-sm-4 col-form-label text-end">{{ 'price.minstay'|trans }} *</label>

                        <div class="col-sm-8">
                            <input type="text" id="min-stay" class="form-control" name="min-stay-{{ price.id }}"
                                   value="{{ price.minstay }}">
                        </div>
                    </div>
                    <span class="text-info"><i class="fas fa-info-circle"></i> {{ 'price.appartment.hint'|trans }}</span>
                    </fieldset>
                </div>
            </div>
        </div>    
    </div>
    <input name="_csrf_token" value="{{ token }}" type="hidden">
</fieldset>
<div id="pricePeriodTemplate" class="d-none">
    <div class="price-period float-start">
        <span class="badge rounded-pill bg-info"><span class="period-text"></span>
             <button type="button" class="btn-close" aria-label="Close">&nbsp;</button>
        </span> 
        <input type="hidden" name="periodstart-new[]" value="" disabled />
        <input type="hidden" name="periodend-new[]" value="" disabled />        
        <input type="hidden" name="period-{{ price.id }}[]" value="new" disabled />
    </div>
</div>
<script>
    {% if price.id == 'new' %}
    // initialy check all checkboces for days
    $('#collapseTwo-new #alldays-new').prop('checked', true);
    checkAllCheckboxes('new');
    {% endif %}
    makeDismissable();
    function makeDismissable() {
        document.querySelectorAll('.price-period .btn-close').forEach(item => {
            item.addEventListener('click', event => {
              let pDiv = item.closest(".price-period");
              pDiv.remove();
            });
        });
    }
    
    
    function addPeriod(elm, priceId) {
        let parent = elm.closest(".row");
        let start = parent.querySelector("#periodstart-"+priceId);
        let end = parent.querySelector("#periodend-"+priceId);
        if(start.value !== '' && end.value !== '') {
            let template = document.getElementById("pricePeriodTemplate").querySelector(".price-period").cloneNode(true);
            let dStart = new Date(start.value);
            let dEnd = new Date(end.value);
            let txtStart = ('0' + dStart.getDate()).slice(-2) + '.' + ('0' + (dStart.getMonth()+1)).slice(-2) + '.' + dStart.getFullYear();
            let txtEnd = ('0' + dEnd.getDate()).slice(-2) + '.' + ('0' + (dEnd.getMonth()+1)).slice(-2) + '.' + dEnd.getFullYear();
            let periodTxt = document.createTextNode(txtStart + ' - ' + txtEnd);
            
            template.querySelectorAll("input[type=hidden]").forEach(item => {
                item.removeAttribute("disabled");
            });
            template.querySelector("input[type=hidden][name='periodstart-new[]']").value = start.value;
            template.querySelector("input[type=hidden][name='periodend-new[]']").value = end.value;
            template.querySelector(".period-text").appendChild(periodTxt);
            
            document.getElementById("periods-field").prepend(template);

            start.value = '';
            end.value = '';
            
            makeDismissable();
        }
    }
    
    // when a day is checked, uncheck the alldays checkbox
    document.querySelectorAll('.days-control input[type="checkbox"]').forEach(item => {        
        let allDay = "alldays";
        if( item.name.substring(0, allDay.length) !== allDay ) {
            item.addEventListener('click', event => {
                if( ! item.checked ) {
                    document.querySelector('input[name="alldays-{{ price.id }}"]').checked = false;
                } else {
                    checkIfAllChecked();   
                }
            })
        }        
    });
    
    // when all days are checked, check the alldays checkbox as well
    function checkIfAllChecked() {
        let count = document.querySelectorAll('.days-control input[type="checkbox"]:not([name^="alldays-"]):checked').length;
        if ( count === 7 ) {
            document.querySelector('input[name="alldays-{{ price.id }}"]').checked = true;   
        }
    }
</script>