<table class="table table-bordered table-hover">
<thead>
<tr>
    <th>{{ 'price.description'|trans }}</th>
    <th>{{ 'price.season'|trans }}</th>
    <th>{{ 'price.daysinweek'|trans }}</th>
    <th>{{ 'price.price'|trans }}</th>
    <th>{{ 'price.vat'|trans }}</th>
    <th>{{ 'price.type'|trans }}</th>
    <th>{{ 'price.active'|trans }}</th>
    <th>{{ 'base.action'|trans }}</th>
</tr>
</thead>
<tbody>  
    {% for price in prices %}
    {% if currentPrice.roomCategory == price.roomCategory %}
    <tr{% if price.active == false %} class="text-secondary"{% endif %}>
        <td>{{ price.description }}</td>
        <td>
            {% if price.allPeriods %}
                {{ 'price.abbreviation.alldays'|trans }}                            
            {% else %}
                {% for pricePeriod in price.pricePeriods %}
                    {{ pricePeriod.start|date('d.m.Y') }} - {{ pricePeriod.end|date('d.m.Y') }}<br />
                {% endfor %}
            {% endif %}
        </td>
        <td>
            {% if price.alldays %}
                {{ 'price.abbreviation.alldays'|trans }}                            
            {% else %}
                {% if price.monday == true %}{{ 'price.abbreviation.monday'|trans }}{% endif %}
                {% if price.tuesday == true %}{{ 'price.abbreviation.tuesday'|trans }}{% endif %}
                {% if price.wednesday == true %}{{ 'price.abbreviation.wednesday'|trans }}{% endif %}
                {% if price.thursday == true %}{{ 'price.abbreviation.thursday'|trans }}{% endif %}
                {% if price.friday == true %}{{ 'price.abbreviation.friday'|trans }}{% endif %}
                {% if price.saturday == true %}{{ 'price.abbreviation.saturday'|trans }}{% endif %}
                {% if price.sunday == true %}{{ 'price.abbreviation.sunday'|trans }}{% endif %}
            {% endif %}
        </td>
        <td class="text-right">{{ price.price|number_format(2, ',', '.') }}</td>
        <td class="text-right">
            {% if is_decimal_place_0(price.vat) %}
                {{ price.vat|number_format(0, ',', '.') }}
            {% else %}
                {{ price.vat|number_format(2, ',', '.') }}
            {% endif %}
        </td>
        <td>{% if price.type == 1 %}
                {{ 'price.miscellaneous'|trans }}
            {% elseif price.type == 2 %}
                {{ 'price.appartment'|trans }}
            {% endif %}
        </td>
        <td>{% if price.active == true %}{{ 'price.active'|trans }} {% else %} {{ 'price.inactive'|trans }}{% endif %}</td>
        <td>
            <a href="#" title="{{ 'button.details'|trans }}" data-toggle="modal" data-target="#modalCenter">
                <i onclick="getEntity({{ price.id }})" class="fas fa-info-circle"></i></a>
            <a href="#" title="{{ 'button.edit'|trans }}">
                <i onclick="editEntry({{ price.id }})" class="fas fa-edit" data-toggle="modal" data-target="#modalCenter"></i></a>
            <a href="#" title="{{ 'button.delete'|trans }}">
                <i onclick="deleteEntry({{ price.id }})" class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    <tr id="entry-{{ price.id }}" class="d-none">
        <td colspan="9" id="entry-cell-{{ price.id }}">
            <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif"/>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</tbody>
</table>