<table class="table table-bordered table-hover">
<thead>
<tr>
    <th>{{ 'price.description'|trans }}</th>
    <th>{{ 'price.season'|trans }}</th>
    <th>{{ 'price.daysinweek'|trans }}</th>
    <th>{{ 'price.price'|trans }}</th>
    <th>{{ 'price.vat'|trans }}</th>
    <th>{{ 'price.type'|trans }}</th>
    <th>{{ 'price.active'|trans }}</th>
    <th>{{ 'base.action'|trans }}</th>
</tr>
</thead>
<tbody>  
    {% for price in prices %}
    {% if currentPrice.roomCategory == price.roomCategory %}
    <tr{% if price.active == false %} class="text-secondary"{% endif %}>
        <td>{{ price.description }}</td>
        <td>
            {% if price.allPeriods %}
                {{ 'price.abbreviation.alldays'|trans }}                            
            {% else %}
                {% for pricePeriod in price.pricePeriods %}
                    {{ pricePeriod.start|date('d.m.Y') }} - {{ pricePeriod.end|date('d.m.Y') }}<br />
                {% endfor %}
            {% endif %}
        </td>
        <td>
            {% if price.alldays %}
                {{ 'price.abbreviation.alldays'|trans }}                            
            {% else %}
                {% if price.monday == true %}{{ 'price.abbreviation.monday'|trans }}{% endif %}
                {% if price.tuesday == true %}{{ 'price.abbreviation.tuesday'|trans }}{% endif %}
                {% if price.wednesday == true %}{{ 'price.abbreviation.wednesday'|trans }}{% endif %}
                {% if price.thursday == true %}{{ 'price.abbreviation.thursday'|trans }}{% endif %}
                {% if price.friday == true %}{{ 'price.abbreviation.friday'|trans }}{% endif %}
                {% if price.saturday == true %}{{ 'price.abbreviation.saturday'|trans }}{% endif %}
                {% if price.sunday == true %}{{ 'price.abbreviation.sunday'|trans }}{% endif %}
            {% endif %}
        </td>
        <td class="text-end">{{ price.price|number_format(2, ',', '.') }}</td>
        <td class="text-end">
            {% if is_decimal_place_0(price.vat) %}
                {{ price.vat|number_format(0, ',', '.') }}
            {% else %}
                {{ price.vat|number_format(2, ',', '.') }}
            {% endif %}
        </td>
        <td>{% if price.type == 1 %}
                {{ 'price.miscellaneous'|trans }}
            {% elseif price.type == 2 %}
                {{ 'price.appartment'|trans }}
            {% endif %}
        </td>
        <td>{% if price.active == true %}{{ 'price.active'|trans }} {% else %} {{ 'price.inactive'|trans }}{% endif %}</td>
        <td>
            <a href="#" title="{{ 'button.details'|trans }}" data-bs-toggle="modal" data-bs-target="#modalCenter">
                <i class="fas fa-info-circle"
                   data-action="click->settings#openModalAction"
                   data-url="{{ path('prices.get.price', {'id': price.id}) }}"
                   data-title="{{ 'button.details'|trans }}"></i></a>
            <a href="#" title="{{ 'button.edit'|trans }}" data-bs-toggle="modal" data-bs-target="#modalCenter">
                <i class="fas fa-edit"
                   data-action="click->settings#openModalAction"
                   data-url="{{ path('prices.get.price', {'id': price.id}) }}"
                   data-title="{{ 'button.edit'|trans }}"
                   data-enable-edit="true"></i></a>
            {% set id = price.id %}
            {% set targetUrl = path('prices.delete.price', {'id': price.id}) %}
            {% use "common/delete_popover.html.twig" %}
            <a href="#" title="{{ 'button.delete'|trans }}">
                <i class="fas fa-trash-alt"
                    data-popover="delete"
                    data-title="{{ 'registrationbook.delete.ask'|trans }}"
                    data-bs-content='{{ block('deletePopoverContent') }}'></i></a>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</tbody>
</table>
