{{ form_row(form.number, {'attr': {'data-action': 'change->invoices#fillApartmentDescriptionAction', 'data-choices-id': form.description_choices.vars.id }}) }}
{{ form_row(form.description_choices) }}
{{ form_row(form.description) }}
{{ form_row(form.startDate) }}
{{ form_row(form.endDate) }}
{{ form_row(form.persons) }}
{{ form_row(form.beds) }}
<div class="row">
    <label for="pricecategory"
           class="col-sm-4 col-form-label text-end">{{ 'invoice.appartment.position.pricecategory'|trans }}</label>

    <div class="col-sm">
        <select id="pricecategory" name="pricecategory" class="form-select"
                data-action="change->invoices#fillApartmentFieldsFromPriceCategoryAction">
            <option value="0|0" selected></option>
            {% for price in prices %}
                <option value="{{ price.vat|number_format(2, ',', '.') }}|{{ price.price|number_format(2, ',', '.') }}|{{ price.includesVat }}|{{ price.isFlatPrice }}">{{ price.description }}</option>
            {% endfor %}
        </select>
    </div>
</div>                   
{{ form_row(form.vat) }}
{{ form_row(form.price) }}
<div class="row mt-4 ps-5">
    <div class="col-sm">
        {{ form_widget(form.includesVat) }}
        {{ form_widget(form.isFlatPrice) }}
    </div>
</div>
