<div class="row">
    <label for="recommendation"
           class="col-sm-4 col-form-label text-end">{{ 'invoice.customer.recommendation'|trans }}</label>
    <div class="col-sm">
        <select id="recommendation" name="recommendation" class="form-select" onchange="return fillCustomerRecommendation(this)">>
            <option value="0"></option>
            {% for customer in customers %}
                {% for address in customer.customerAddresses %}
                    <option
                            value="{{ customer.salutation }}|{{ customer.firstname }}|{{ customer.lastname }}|{{ address.company }}|{{ address.address }}|{{ address.zip }}|{{ address.city }}|{{ address.country }}|{{ address.phone }}|{{ address.email }}">
                        {{ customer.salutation }} {{ customer.firstname }} {{ customer.lastname }}{% if address.company %} | {{ 'customer.company'|trans }}: {{ address.company }}{% endif %}
                    </option>
                {% endfor %}
            {% endfor %}
        </select>
    </div>
</div>
{{ form_widget(form) }}