<div class="form-group row">
    <label for="pricecategory"
           class="col-sm-4 col-form-label text-end">{{ 'invoice.appartment.position.pricecategory'|trans }}</label>

    <div class="col-sm">
        <select id="pricecategory" name="pricecategory" class="form-select"
                onchange="return fillFieldsFromPriceCategory(this)">
            <option value="0|0" selected></option>
            {% for price in prices %}
                <option value="{{ price.vat|number_format(2, ',', '.') }}|{{ price.price|number_format(2, ',', '.') }}|{{ price.description }}|{{ price.includesVat }}|{{ price.isFlatPrice }}">{{ price.description }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{{ form_row(form.amount) }}
{{ form_row(form.description) }}                    
{{ form_row(form.vat) }}
{{ form_row(form.price) }}
<div class="form-group mt-4 ps-5">
    {{ form_widget(form.includesVat) }}
    {{ form_widget(form.isFlatPrice) }}
</div>