<div class="row">
    <label for="pricecategory"
           class="col-sm-4 col-form-label text-end">{{ 'invoice.appartment.position.pricecategory'|trans }}</label>

    <div class="col-sm">
        <select id="pricecategory" name="pricecategory" class="form-select"
                data-action="change->invoices#fillFieldsFromPriceCategoryAction">
            <option value="0|0" selected></option>
            {% for price in prices %}
                <option value="{{ price.vat|number_format(2, ',', '.') }}|{{ price.price|number_format(2, ',', '.') }}|{{ price.description }}|{{ price.includesVat }}|{{ price.isFlatPrice }}|{{ price.isPerRoom }}"
                        data-is-package="{{ price.isPackage ? 1 : 0 }}"
                        data-price-id="{{ price.id }}">{{ price.description }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<input type="hidden" id="packagePriceId" name="packagePriceId" value="">
<div id="package-info" class="alert alert-info mt-2 d-none" role="alert">
    <small>{{ 'invoice.misc.package.hint'|trans }}</small>
</div>
{{ form_row(form.amount) }}
{{ form_row(form.description) }}                    
{{ form_row(form.vat) }}
{{ form_row(form.price) }}
<div class="row mt-4 ps-5">
    <div class="col-sm">
        {{ form_widget(form.includesVat) }}
        {{ form_widget(form.isFlatPrice, {'attr': {'data-action': 'change->invoices#flatPriceTogglePerRoomAction', 'data-per-room-selector': '#' ~ form.isPerRoom.vars.id}}) }}
        {{ form_widget(form.isPerRoom, {'attr': {'disabled': form.isFlatPrice.vars.checked ? 'disabled' : null}}) }}
    </div>
</div>
