<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button {% if not setting.isActive and setting.id != null %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ idx }}"
            aria-expanded="true" aria-controls="collapse{{ idx }}">
            {% if setting.isActive %}
                {{ 'invoice.settings.active'|trans }}
            {% else %}
                <span class="text-muted fst-italic">{{ 'invoice.settings.inactive'|trans }}</span>
            {% endif %}
        </button>
    </h2>
    <div id="collapse{{ idx }}" class="accordion-collapse collapse{% if setting.isActive or setting.id == null %} show{% endif %}" data-bs-parent="#accordionSettings">
        <div class="accordion-body">
            {{ form_start(form, {'attr': {'onsubmit': 'return saveSettings(this)', 'id': 'sttings-form-'~idx }}) }}
                {{ form_widget(form) }}
                <div class="row text-end">
                    <div class="col-md">
                        {% if setting.id != null %}
                            {% set id = setting.id %}
                            {% set targetUrl = path('invoices.settings.delete', {'id': setting.id}) %}
                            {% use "common/delete_popover.html.twig" %}
                            <button type="button" class="btn btn-danger" 
                                title="{{ 'registrationbook.delete.ask'|trans }}"
                                data-popover="delete" data-bs-content='{{ block('deletePopoverContent') }}'>                            
                                {{ 'button.delete'|trans }}
                            </button>
                        {% endif %}
                    <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary" />
                </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
