{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -  {{ 'invoice.title'|trans }}
{% endblock %}

{% block description %}
    {{ parent() }} -  {{ 'invoice.description'|trans }}
{% endblock %}

{% block content %}
    <div class="container" data-controller="invoices">
        <div class="row justify-content-between">
            <div class="col-md-4">
                <button type="button" class="btn btn-default" data-action="click->invoices#showCreateInvoiceFormAction"
                        data-url="{{ path('invoices.new.invoice') }}" data-create-new="true"
                        data-title="{{ 'invoice.select.open.reservation'|trans }}"
                        data-bs-toggle="modal" data-bs-target="#modalCenter">
                    <i class="fas fa-plus"></i> {{ 'nav.invoice.add'|trans }}</button>
            </div>
            <div class="col-md-3 text-end">
                <a href="#" class="fs-5 text-secondary" title="{{ 'invoice.settings.text'|trans }}" 
                data-url="{{ path('invoices.settings.get') }}" data-bs-toggle="modal" data-bs-target="#modalCenter"
                data-action="click->invoices#openModalAction">
                    <i class="fas fa-cog"></i>
                </a>             
            </div>
        </div>
        <form class="form" id="invoices-search-form" data-search-url="{{ path('invoices.search') }}" data-action="submit->invoices#doSearchAction" novalidate>
            <div class="row">
                <div class="col-md-5">
                    <input type="search" class="form-control" id="search" name="search"
                           placeholder="{{ 'nav.customer.search'|trans }}" value="{{ search }}"
                           data-action="keyup->invoices#searchInputAction"/>
                </div>
                <div class="col-md ps-0">
                    <button class="btn btn-default" type="button" data-action="click->invoices#doSearchAction">
                        <i class="fas fa-search"></i> {{ 'nav.customer.search'|trans }}
                    </button>
                </div>                
            </div>
        </form>
        <div class="row mt-4">
            <div id="invoice-table" class="col">
                {% include 'Invoices/invoice_table.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
