<div class="modal-body">
    <div class="ps-5 pe-5">
        <form id="new-invoice-id" class="form" role="form" onsubmit="return showCreateInvoicePositions(null)">
        <div class="row">            
            <div id="invoice-id" class="col">
                <input type="text" name="invoiceid" class="form-control"
                       placeholder="{{ 'invoice.id'|trans }} ({{ 'invoice.id.last'|trans }} {{ lastinvoiceid }})"
                       value="{{ invoiceid }}">                    
            </div>
            <div id="invoice-id" class="col">
                <input type="date" name="invoiceDate" class="form-control" id="invoiceDate"                       
                       value="{{ invoiceDate|date("Y-m-d") }}">
            </div>
        </div>
        <div class="row mt-4">
            <button type="submit" class="btn btn-secondary" type="button">{{ 'invoice.button.save.numberanddate'|trans }}</button>
        </div>        
        </form>
        <div class="row">
            <div class="col">
                <h4 class="mt-4">{{ 'invoice.guest'|trans }}&nbsp;
                    <small>
                    <a href="#" onclick="return getContentForModal('{{ path('invoices.show.change.customer') }}')"
                       title="{{ 'button.edit'|trans }}" class="text-secondary">
                        <i class="fas fa-edit"></i></a>
                    </small>
                </h4>
                {{ invoice.salutation }} <br />
                {{ invoice.firstname }} {{ invoice.lastname }}<br />
                {% if invoice.company is not empty %}
                    {{ invoice.company }}<br/>
                {% endif %}
                {{ invoice.address }}<br />
                {% if invoice.country is not empty %}{{ invoice.country }}-{% endif %}{{ invoice.zip }} {{ invoice.city }}
                {% if invoice.phone is not empty %}
                <br /><i class="fa-solid fa-phone"></i> {{ invoice.phone }}
                {% endif %}
                {% if invoice.email is not empty %}
                <br /><i class="fa-solid fa-envelope"></i> {{ invoice.email }}
                {% endif %}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h4>{{ 'invoice.appartment'|trans }}</h4>
                {% include 'Invoices/invoice_table_apartment_positions.html.twig' with {'mode': 'edit'} %}
                <button type="button" class="btn btn-default" onclick="return getContentForModal('{{ path('invoices.new.apartment.position', {'invoiceId': 'new'}) }}')">
                    <i class="fas fa-plus"></i> {{ 'invoice.position.add.appartment'|trans }}</button>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <p>
                <h4>{{ 'invoice.miscellaneous'|trans }}</h4>
                {% include 'Invoices/invoice_table_misc_positions.html.twig' with {'mode': 'edit'} %}
                <button type="button" class="btn btn-default" onclick="return getContentForModal('{{ path('invoices.new.miscellaneous.position', {'invoiceId': 'new'}) }}')">
                    <i class="fas fa-plus"></i> {{ 'invoice.position.add.miscellaneous'|trans }}</button>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <ul class="pagination me-auto">
        <li class="page-item " onclick="return selectReservation()">
            <a class="page-link" href="#">&larr; {{ 'button.back'|trans }}</a></li>
    </ul>
    {% if appartmentPositionExists %}
    <ul class="pagination">
        <li class="page-item" onclick="return showNewInvoicePreview()">
            <a class="page-link" href="#">{{ 'button.continue'|trans }}&rarr;</a>
        </li>
    </ul>
    {% endif %} 
</div>
<script>
function saveNewInvoiceId() {
    var url = "{{ path('invoices.create.invoice.positions') }}";
    var content = '<div class="modal-body">' +
            '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
            '</div>';

    $.ajax({
        url: url,
        type: "post",
        data: $("#new-invoice-id").serialze(),
        beforeSend: function () {
            $("#modal-content-ajax").html(content);
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
        },
        success: function (data) {
            $("#modal-content-ajax").html(data);
        }
    });

    return false;
}

function removeAppartmentPositionFromInvoicePositions(index) {
    var url = "{{ path('invoices.delete.appartment.invoice.position') }}";
    var content = '<div class="modal-body">' +
            '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
            '</div>';

    $.ajax({
        url: url,
        type: "post",
        data: {appartmentInvoicePositionIndex: index},
        beforeSend: function () {
            $("#modal-content-ajax").html(content);
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
        },
        success: function (data) {
            $("#modal-content-ajax").html(data);
        }
    });

    return false;
}

function removeMiscellaneousPositionFromInvoicePositions(index) {
    var url = "{{ path('invoices.delete.miscellaneous.invoice.position') }}";
    var content = '<div class="modal-body">' +
            '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
            '</div>';

    $.ajax({
        url: url,
        type: "post",
        data: {miscellaneousInvoicePositionIndex: index},
        beforeSend: function () {
            $("#modal-content-ajax").html(content);
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
        },
        success: function (data) {
            $("#modal-content-ajax").html(data);
        }
    });

    return false;
}

function showNewInvoicePreview() {
    var url = "{{ path('invoices.show.new.invoice.preview') }}";
    var content = '<div class="modal-body">' +
            '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
            '</div>';

    $.ajax({
        url: url,
        type: "post",
        beforeSend: function () {
            $("#modal-content-ajax").html(content);
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
        },
        success: function (data) {
            $("#modal-content-ajax").html(data);
        }
    });

    return false;
}

function selectReservation() {
    var url = "{{ path('invoices.select.reservation') }}";
    var content = '<div class="modal-body">' +
            '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
            '</div>';

    $.ajax({
        url: url,
        type: "post",
        beforeSend: function () {
            $("#modal-content-ajax").html(content);
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
        },
        success: function (data) {
            $("#modal-content-ajax").html(data);
        }
    });

    return false;
}

</script>