<form id="create-new-invoice" role="form" onsubmit="return createNewInvoice()">
    <div class="modal-body">
        <div class="pl-4 pr-4">
            <div id="flash-message-overlay">
            </div>
            <div class="row">
                <div class="col-md-4">{{ invoice.salutation }}</div>
                <div class="col-md text-right"><strong>{{ 'invoice.number'|trans }}</strong></div>
            </div>
            <div class="row">
                <div class="col-md-4">{{ invoice.firstname }} {{ invoice.lastname }}
                    {% if invoice.company is not empty %}
                        <br/>{{ invoice.company }}
                    {% endif %}
                </div>
                <div class="col-md text-right">{{ invoice.number }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">{{ invoice.address }}</div>
                <div class="col-md  text-right"><strong>{{ 'invoice.date'|trans }}</strong></div>
            </div>
            <div class="row">
                <div class="col-md-4">{{ invoice.zip }} {{ invoice.city }}</div>
                <div class="col-md text-right">{{ invoice.date|date('d.m.Y') }}</div>
            </div>
            <div class="row mt-5">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'invoice.position.appartment'|trans }}</th>
                        <th class="text-right">{{ 'invoice.position.stays'|trans }}</th>
                        <th class="text-right">{{ 'invoice.price.single'|trans }}</th>
                        <th class="text-right">{{ 'invoice.vat'|trans }}</th>
                        <th class="text-right">{{ 'invoice.price.total'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set appartmentSum = 0 %}
                    {% for appartment in appartments %}
                        {% set appartmentSum = appartmentSum + (appartment.price * appartment.amount) %}
                        <tr>
                            <td>{{ appartment.description }} ({{ 'invoice.appartment.persons'|trans({'%count%': appartment.persons }) }})
                                <br/>{{ appartment.startDate|date('d.m.Y') }}
                                - {{ appartment.endDate|date('d.m.Y') }}</td>
                            <td class="text-right">{{ appartment.amount }}</td>
                            <td class="text-right">{{ appartment.price|number_format(2, ',', '.') }}</td>
                            <td class="text-right">
                                {% if is_decimal_place_0(appartment.vat) %}
                                    {{ appartment.vat|number_format(0, ',', '.') }}
                                {% else %}
                                    {{ appartment.vat|number_format(2, ',', '.') }}
                                {% endif %}
                            </td>
                            <td class="text-right">{{ (appartment.price * appartment.amount)|number_format(2, ',', '.') }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="5" class="text-right">{{ appartmentSum|number_format(2, ',', '.') }}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mt-5">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'invoice.position.additional'|trans }}</th>
                        <th class="text-right">{{ 'invoice.position.amount'|trans }}</th>
                        <th class="text-right">{{ 'invoice.price.single'|trans }}</th>
                        <th class="text-right">{{ 'invoice.vat'|trans }}</th>
                        <th class="text-right">{{ 'invoice.price.total'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set positionSum = 0 %}
                    {% for position in positions %}
                        {% set positionSum = positionSum + (position.price * position.amount) %}
                        <tr>
                            <td>{{ position.description }}</td>
                            <td class="text-right">{{ position.amount }}</td>
                            <td class="text-right">{{ position.price|number_format(2, ',', '.') }}</td>
                            <td class="text-right">
                                {% if is_decimal_place_0(position.vat) %}
                                    {{ position.vat|number_format(0, ',', '.') }}
                                {% else %}
                                    {{ position.vat|number_format(2, ',', '.') }}
                                {% endif %}
                            </td>
                            <td class="text-right">{{ (position.price * position.amount)|number_format(2, ',', '.') }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="5" class="text-right">{{ positionSum|number_format(2, ',', '.') }}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ 'invoice.containing.vat'|trans }}<br/>
                    <table>
                        {% for key, value in vats %}
                            <tr>
                                <td class="text-right">
                                    {% if is_decimal_place_0(key) %}
                                        {{ key|number_format(0, ',', '.') }}
                                    {% else %}
                                        {{ key|number_format(2, ',', '.') }}
                                    {% endif %} %:
                                </td>
                                <td>&nbsp;&nbsp;</td>
                                <td class="text-right">{{ value.netto|number_format(2, ',', '.') }} €</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-6 text-right">{{ 'invoice.netto'|trans }}
                    <br/><strong>{{ 'invoice.brutto'|trans }}</strong></div>
                <div class="col-md text-right">{{ (brutto-netto)|number_format(2, ',', '.') }} €<br/>
                    <strong>{{ brutto|number_format(2, ',', '.') }} €</strong>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-3 text-right">
                    <label for="invoice-remark">{{ 'invoice.remark'|trans }}</label>
                </div>
                <div class="col-sm-9">
                    <textarea id="invoice-remark" class="form-control" name="remark">{{ invoice.remark }}</textarea>
                </div>
            </div>
            <input name="_csrf_token" value="{{ token }}" type="hidden">
        </div>
    </div>
    <div class="modal-footer" id="newInvoicePreview">
        <ul class="pagination mr-auto">
            <li class="page-item " onclick="return showCreateInvoicePositions(false)">
                <a class="page-link" href="#">&larr; {{ 'button.back'|trans }}</a></li>
        </ul>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'button.cancel'|trans }}</button>
        <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary"
               onclick="return createNewInvoice()"/>
    </div>
</form>
<script>
    function createNewInvoice() {
        var url = "{{ path('invoices.create.invoice') }}";
        var content = '<div class="modal-body">' +
                '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
                '</div>';

        $.ajax({
            url: url,
            type: "post",
            data: $("#create-new-invoice").serialize(),
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                if (data.length > 0) {
                    $("#flash-message-overlay").empty();
                    $("#flash-message-overlay").append(data);
                } else {
                    window.location.href = "{{ path('invoices.overview') }}";
                }
            }
        });

        return false;
    }
</script>