<div class="modal-body">
    <div class="container-fluid">
        <div id="flash-message-overlay">
            <div class="col">
                {% include 'feedback.html.twig' with {'error': error, 'app': app } %}
            </div>
        </div>
        <div class="row">                
            <div class="col">
                <h4 class="invoice-edit-field d-none">{{ 'invoice.guest'|trans }}&nbsp;
                    <small>
                    <a href="#" onclick="return getContentForModal('{{ path('invoices.get.invoice.customer.change', {'id': invoice.id}) }}')"
                       title="{{ 'button.edit'|trans }}" class="text-secondary">
                        <i class="fas fa-edit"></i>
                    </a>
                    </small>
                </h4>
                {{ invoice.salutation }}
            </div>
            <div class="col text-end">
                <h4 class="invoice-edit-field d-none">
                    <small>
                        <a href="#" onclick="return getContentForModal('{{ path('invoices.edit.invoice.number.show', {'id': invoice.id}) }}')"
                           title="{{ 'button.edit'|trans }}" class="text-secondary">
                            <i class="fas fa-edit"></i>
                        </a>
                    </small>
                </h4>
                <strong>{{ 'invoice.number'|trans }}</strong></div>
        </div>
        <div class="row">
            <div class="col">{{ invoice.firstname }} {{ invoice.lastname }}
                {% if invoice.company is not empty %}
                    <br/>{{ invoice.company }}
                {% endif %}
            </div>
            <div class="col text-end">{{ invoice.number }}</div>
        </div>
        <div class="row">
            <div class="col">{{ invoice.address }}</div>
            <div class="col text-end"><strong>{{ 'invoice.date'|trans }}</strong></div>
        </div>
        <div class="row">
            <div class="col">
                {% if invoice.country is not empty %}{{ invoice.country }}-{% endif %}{{ invoice.zip }} {{ invoice.city }}
                {% if invoice.phone is not empty %}
                <br /><i class="fa-solid fa-phone"></i> {{ invoice.phone }}
                {% endif %}
                {% if invoice.email is not empty %}
                <br /><i class="fa-solid fa-envelope"></i> {{ invoice.email }}
                {% endif %}</div>
            <div class="col text-end">{{ invoice.date|date('d.m.Y') }}</div>
        </div>

        <table class="table table-hover mt-4">
            <thead>
            <tr>
                <th>{{ 'invoice.position.appartment'|trans }}</th>
                <th class="text-end">{{ 'invoice.position.amount'|trans }}</th>
                <th class="text-end">{{ 'invoice.price.single'|trans }}</th>
                <th class="text-end">{{ 'invoice.vat'|trans }}</th>
                <th class="text-end">{{ 'invoice.price.total'|trans }}</th>
                <th class="invoice-edit-field d-none text-end">{{ 'invoice.action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {# variable that contains the status whether prices are used that includes vat and does not include vats
            this will lead to price sums that are displayed incorrect #}
            {% set lastIncludesVat = null %}
            {% set vatWarning = false %}
            {% for appartment in invoice.appartments %}
                <tr>
                    <td>{{ appartment.description }} ({{ 'invoice.appartment.persons'|trans({'%count%': appartment.persons }) }})
                        <br/>{{ appartment.startDate|date('d.m.Y') }}
                        - {{ appartment.endDate|date('d.m.Y') }}</td>
                    <td class="text-end">{{ appartment.amount }}</td>
                    <td class="text-end">{{ appartment.price|number_format(2, ',', '.') }}</td>
                    <td class="text-end">
                        {% if is_decimal_place_0(appartment.vat) %}
                            {{ appartment.vat|number_format(0, ',', '.') }}
                        {% else %}
                            {{ appartment.vat|number_format(2, ',', '.') }}
                        {% endif %}
                    </td>
                    <td class="text-end">{{ appartment.totalPrice }}</td>
                    <td class="invoice-edit-field d-none text-end">
                        <a href="#" title="{{ 'button.edit'|trans }}">
                            <i onclick="return getContentForModal('{{ path('invoices.edit.apartment.position', {'invoiceId': invoice.id, 'id': appartment.id}) }}')" class="fas fa-edit"></i></a>
                        <a href="#" title="{{ 'button.delete'|trans }}">
                            <i onclick="return removeAppartmentPositionFromInvoicePositions({{ appartment.id }})"
                                class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                {# check whether there are different prices used, e.g. one uses uses includes vat and one not #}
                {% if lastIncludesVat is not null and lastIncludesVat != appartment.includesVat %}
                    {% set vatWarning = true %}
                {% endif %}
                {% set lastIncludesVat = appartment.includesVat %}
            {% endfor %}
            <tr>
                <th><button type="button" class="btn btn-secondary invoice-edit-field d-none" onclick="return getContentForModal('{{ path('invoices.new.apartment.position', {'invoiceId': invoice.id}) }}')">
                        <i class="fas fa-plus"></i> {{ 'invoice.position.add.appartment'|trans }}</button></th>
                <th colspan="5" class="text-end">{{ apartmentTotal|number_format(2, ',', '.') }}</th>
            </tr>
            </tbody>
        </table>
        <table class="table table-hover mt-4">
            <thead>
            <tr>
                <th>{{ 'invoice.position.additional'|trans }}</th>
                <th class="text-end">{{ 'invoice.position.amount'|trans }}</th>
                <th class="text-end">{{ 'invoice.price.single'|trans }}</th>
                <th class="text-end">{{ 'invoice.vat'|trans }}</th>
                <th class="text-end">{{ 'invoice.price.total'|trans }}</th>
                <th class="invoice-edit-field d-none text-end">{{ 'invoice.action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for position in invoice.positions %}
                <tr>
                    <td>{{ position.description }}</td>
                    <td class="text-end">{{ position.amount }}</td>
                    <td class="text-end">{{ position.price|number_format(2, ',', '.') }}</td>
                    <td class="text-end">
                        {% if is_decimal_place_0(position.vat) %}
                            {{ position.vat|number_format(0, ',', '.') }}
                        {% else %}
                            {{ position.vat|number_format(2, ',', '.') }}
                        {% endif %}
                    </td>
                    <td class="text-end">{{ position.totalPrice }}</td>
                    <td class="invoice-edit-field d-none text-end">
                        <a href="#" title="{{ 'button.edit'|trans }}">
                            <i onclick="return getContentForModal('{{ path('invoices.edit.miscellaneous.position', {'invoiceId': invoice.id, 'id': position.id}) }}')" class="fas fa-edit"></i></a>
                        <a href="#" title="{{ 'button.delete'|trans }}">
                            <i onclick="return removeMiscellaneousPositionFromInvoicePositions({{ position.id }})"
                                class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                {# check whether there are different prices used, e.g. one uses uses includes vat and one not #}
                {% if lastIncludesVat is not null and lastIncludesVat != position.includesVat %}
                    {% set vatWarning = true %}
                {% endif %}
                {% set lastIncludesVat = position.includesVat %}
            {% endfor %}
            <tr>
                <th><button type="button" class="btn btn-secondary invoice-edit-field d-none" onclick="return getContentForModal('{{ path('invoices.new.miscellaneous.position', {'invoiceId': invoice.id}) }}')">
                        <i class="fas fa-plus"></i> {{ 'invoice.position.add.miscellaneous'|trans }}</button></th>
                <th colspan="5" class="text-end">{{ miscTotal|number_format(2, ',', '.') }}</th>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-4">
                {{ 'invoice.containing.vat'|trans }}<br/>
                <table>
                    {% for key, value in vats %}
                        <tr>
                            <td class="text-end">
                                {% if is_decimal_place_0(key) %}
                                    {{ key|number_format(0, ',', '.') }}
                                {% else %}
                                    {{ key|number_format(2, ',', '.') }}
                                {% endif %} %:
                            </td>
                            <td>&nbsp;&nbsp;</td>
                            <td class="text-end">{{ value.netto|number_format(2, ',', '.') }} €</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-6 text-end">{{ 'invoice.netto'|trans }}
                <br/><strong>{{ 'invoice.brutto'|trans }}</strong></div>
            <div class="col text-end">{{ (brutto-netto)|number_format(2, ',', '.') }} €<br/>
                <strong>{{ brutto|number_format(2, ',', '.') }} €</strong>
            </div>
        </div>
        {% if vatWarning %}
        <div class="row mt-3">
            <div class="col text-center">
            <span class="text-warning me-auto"><i class="fas fa-info-circle"></i> {{ 'invoice.vatwarning'|trans }}</span>
            </div>
        </div>
        {% endif %}
        <div class="row mt-3">
            <div class="col">
                <h4>{{ 'invoice.remark'|trans }}&nbsp;
                    <small>
                        <a href="#" onclick="return changeInvoiceRemark({{ invoice.id }});"
                           title="{{ 'button.edit'|trans }}" class="small invoice-edit-field d-none text-secondary">
                            <i class="fas fa-edit"></i>
                        </a>
                    </small>
                </h4>
                <div class="text-muted">{%if invoice.remark %}{{ invoice.remark|nl2br }}{% else %}-{% endif%}</div>
            </div>
        </div>

    </div>
</div>

<div class="modal-footer">
    <div class="col p-0" id="boxDefault">
        <form id="invoice-form-status"  role="form">   
           <div class="row"> 
                <div class="col-sm-2">
            <select id="invoce-status" name="invoice-status" class="form-control me-sm-2">
                <option value="1"{% if invoice.status == 1 %} selected{% endif %}>{{ 'invoice.status.notpayed'|trans }}</option>
                <option value="3"{% if invoice.status == 3 %} selected{% endif %}>{{ 'invoice.status.prepayment'|trans }}</option>
                <option value="2"{% if invoice.status == 2 %} selected{% endif %}>{{ 'invoice.status.payed'|trans }}</option>
                <option value="4"{% if invoice.status == 4 %} selected{% endif %}>{{ 'invoice.status.canceled'|trans }}</option>
            </select>
                </div>
            <div class="col-sm-3">
            <button id="save-status" type="button" class="btn btn-secondary d-none"
                    onclick="return updateInvoiceStatus({{ invoice.id }});">{{ 'button.save'|trans }}</button>
            </div>
            <div class="col text-end">
       
        <button type="button" class="btn btn-secondary " id="invoiceEditButton" 
                onclick="return toggleInvoiceEditFields();">{{ 'button.edit'|trans }}</button>
        <a href="{{ path('invoices.export.pdf', {'id': invoice.id, 'templateId': templateId }) }}" class="btn btn-secondary" target="_blank">{{ 'button.export.pdf'|trans }}</a>
        {% if is_granted('ROLE_ADMIN') %}
        <button type="button" class="btn btn-danger"
                    onclick="return toggleInvoiceDelete();">{{ 'button.delete'|trans }}</button>
        {% endif %}
            </div>
           </div>
        <input name="_csrf_token" value="{{ token }}" type="hidden">
        </form>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    <div id="boxDelete" class="d-none">
        <form id="invoiceDeleteForm" role="form">
            {{ 'invoice.delete.ask'|trans }}
            <button class="btn btn-danger" onclick="return doDeleteInvoice();">{{ 'button.delete'|trans }}</button>
            <button class="btn btn-secondary"
                    onclick="return toggleInvoiceDelete();">{{ 'button.cancel'|trans }}</button>
            <input type="hidden" name="id" value="{{ invoice.id }}"/>
            <input name="_csrf_token" value="{{ token }}" type="hidden">
        </form>
    </div>
    {% endif %}
</div>
<script type="text/javascript">
    $(document).ready(function () {
        fromOptions = {
            changeMonth: true,
            numberOfMonths: 2,
            regional: "{{ app.request.locale }}",
            onClose: function (selectedDate) {
                $("#end").datepicker("option", "minDate", selectedDate);

                if ($("#end").val().length === 0) {
                    var from = $(this).datepicker("getDate");
                    $("#end").datepicker("setDate", new Date(from.getFullYear(), from.getMonth(), (from.getDate() + 1)));
                    $("#from").datepicker("option", "maxDate", new Date(from.getFullYear(), from.getMonth(), (from.getDate() + 1)));
                }
            }
        };
        endOptions = {
            changeMonth: true,
            numberOfMonths: 2,
            regional: "{{ app.request.locale }}",
            onClose: function (selectedDate) {
                $("#from").datepicker("option", "maxDate", selectedDate);
            }
        }
        
        $("#invoce-status").change(function () {
            $("#save-status").fadeIn().removeClass("d-none");
        });
    });

    function updateInvoiceStatus(id) {
        var url = "{{ path('invoices.update.status', {'id': 'placeholder'}) }}";
        url = url.replace("placeholder", id);

        $.ajax({
            url: url,
            type: "post",
            data: $("#invoice-form-status").serialize(),
            beforeSend: function () {
                $("#save-status").prop("disabled", true);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                $("#save-status").prop("disabled", false);
                $("#save-status").addClass("d-none");
            }
        });

        return false;
    }
    
    function toggleInvoiceEditFields() {
        var fields = $(".invoice-edit-field");
        if(fields.hasClass("d-none")) {
            fields.removeClass("d-none");
            $("#invoiceEditButton").addClass("d-none");
        } else {
            fields.addClass("d-none");
        }
    }

    function removeAppartmentPositionFromInvoicePositions(id) {
        var url = "{{ path('invoices.delete.appartment.invoice.position') }}";
        var content = '<div class="modal-body">' +
                '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
                '</div>';

        $.ajax({
            url: url,
            type: "post",
            data: {appartmentInvoicePositionEditId: id},
            beforeSend: function () {
                $("#modal-content-ajax").html(content);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                $("#modal-content-ajax").html(data);
            }
        });

        return false;
    }

    function removeMiscellaneousPositionFromInvoicePositions(id) {
        var url = "{{ path('invoices.delete.miscellaneous.invoice.position') }}";
        var content = '<div class="modal-body">' +
                '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
                '</div>';

        $.ajax({
            url: url,
            type: "post",
            data: {miscellaneousInvoicePositionEditId: id},
            beforeSend: function () {
                $("#modal-content-ajax").html(content);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                $("#modal-content-ajax").html(data);
            }
        });

        return false;
    }
    
    function changeInvoiceRemark(id) {
        var url = "{{ path('invoices.edit.invoice.remark.show', {'id': 'placeholder'}) }}";
        url = url.replace("placeholder", id);
        var content = '<div class="modal-body">' +
                '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
                '</div>';

        $.ajax({
            url: url,
            type: "get",
            beforeSend: function () {
                $("#modal-content-ajax").html(content);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                $("#modal-content-ajax").html(data);
            }
        });

        return false;
    }
    
    function toggleInvoiceDelete() {
        if ($("#boxDelete").is(":hidden")) {
            $("#boxDelete").fadeIn().removeClass('d-none');
            $("#boxDefault").addClass("d-none");
        }
        else {
            $("#boxDelete").addClass("d-none");
            $("#boxDefault").fadeIn().removeClass('d-none');;
        }
        return false;
    }
</script>
