<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>{{ 'invoice.number'|trans }}</th>
        <th>{{ 'invoice.date'|trans }}</th>
        <th>{{ 'invoice.lastname'|trans }}</th>
        <th>{{ 'invoice.company'|trans }}</th>
        <th>{{ 'invoice.status'|trans }}</th>
        <th>{{ 'invoice.action'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for invoice in invoices %}
        <tr>
            <td>{{ invoice.number }}</td>
            <td>{{ invoice.date|date('d.m.Y') }}</td>
            <td>{{ invoice.lastname }}</td>
            <td>{{ invoice.company }}</td>
            <td>
                {% if invoice.status == 1 %}
                    {{ 'invoice.status.notpayed'|trans }}
                {% elseif invoice.status == 2 %}
                    {{ 'invoice.status.payed'|trans }}
                {% elseif invoice.status == 3 %}
                    {{ 'invoice.status.prepayment'|trans }}
                {% else %}
                    {{ 'invoice.status.canceled'|trans }}
                {% endif %}
            </td>
            <td>
                <a href="#" title="{{ 'button.details'|trans }}">
                    <i onclick="showInvoice({{ invoice.id }})" class="fas fa-info-circle" 
                       data-bs-toggle="modal" data-bs-target="#modalCenter"></i></a>
                <a href="#" title="{{ 'button.edit'|trans }}">
                    <i onclick="showInvoice({{ invoice.id }}, true)" class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#modalCenter"></i></a>
                <a class="export-link"
                   href="{{ path('invoices.export.pdf', {'id': invoice.id, 'templateId': templateId }) }}"
                   title="{{ 'button.export.pdf'|trans }}" target="_blank">
                    <i class="fas fa-file-pdf"></i></a>
                <a href="{{ path('invoices.export.xrechnung', {'id': invoice.id }) }}"
                    title="{{ 'button.export.xrechnung'|trans }}">
                     <i class="fas fa-file-invoice"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<input id="page" type="hidden" name="page" value="{{ page }}" />
{% include 'paginator.html.twig' with { 'url' : path('invoices.overview') } %}