<table class="table">
    <thead>
        <tr>
            <th>{{ 'invoice.appartment.position.description'|trans }}</th>
            <th>{{ 'invoice.position.amount'|trans }}</th>
            <th class="text-end">{{ 'invoice.vat'|trans }}</th>
            <th class="text-end">{{ 'invoice.appartment.position.price'|trans }}</th>
            {% if mode is defined and mode == 'edit' %}
            <th>{{ 'invoice.action'|trans }}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for key,position in positionsMiscellaneous %}
            <tr>
                <td>{{ position.description }}</td>
                <td>{{ position.amount }}</td>
                <td class="text-end">
                    {% if is_decimal_place_0(position.vat) %}
                        {{ position.vat|number_format(0, ',', '.') }}
                    {% else %}
                        {{ position.vat|number_format(2, ',', '.') }}
                    {% endif %}
                </td>
                <td class="text-end">{{ position.price|number_format(2, ',', '.') }}</td>
                {% if mode is defined and mode == 'edit' %}
                <td>
                    <a href="#" title="{{ 'button.edit'|trans }}">
                        <i onclick="return getContentForModal('{{ path('invoices.edit.miscellaneous.position', {'invoiceId': 'new', 'id': key}) }}')" class="fas fa-edit"></i></a>
                    <a href="#" title="{{ 'button.delete'|trans }}">
                        <i onclick="return removeMiscellaneousPositionFromInvoicePositions({{ key }})" class="fas fa-trash-alt"></i></a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
    