<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ 'invoice.position.appartment'|trans }}</th>
            <th class="text-end">{{ 'invoice.position.amount'|trans }}</th>
            <th class="text-end">{{ 'invoice.price.single'|trans }}</th>
            <th class="text-end">{{ 'invoice.vat'|trans }}</th>
            <th class="text-end">{{ 'invoice.price.total'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for appartment in positionsApartment %}
            <tr>
                <td>{{ appartment.description }} ({{ 'invoice.appartment.persons'|trans({'%count%': appartment.persons }) }})
                    <br/>{{ appartment.startDate|date('d.m.Y') }}
                    - {{ appartment.endDate|date('d.m.Y') }}</td>
                <td class="text-end">{{ appartment.amount }}</td>
                <td class="text-end">{{ appartment.price|number_format(2, ',', '.') }}</td>
                <td class="text-end">
                    {% if is_decimal_place_0(appartment.vat) %}
                        {{ appartment.vat|number_format(0, ',', '.') }}
                    {% else %}
                        {{ appartment.vat|number_format(2, ',', '.') }}
                    {% endif %}
                </td>
                <td class="text-end">{{ appartment.totalPrice }}</td>
            </tr>
            {# check whether there are different prices used, e.g. one uses uses includes vat and one not #}
            {% if lastIncludesVat is not null and lastIncludesVat != appartment.includesVat %}
                {% set vatWarning = true %}
            {% endif %}
            {% set lastIncludesVat = appartment.includesVat %}
        {% endfor %}
        <tr>
            <th colspan="5" class="text-end">{{ apartmentTotal|number_format(2, ',', '.') }}</th>
        </tr>
    </tbody>
</table>