<form id="create-new-invoice" role="form" onsubmit="return createNewInvoice()">
    <div class="modal-body">
        <div class="ps-4 pe-4">
            <div id="flash-message-overlay">
            </div>
            <div class="row">
                <div class="col-md-4">{{ invoice.salutation }}</div>
                <div class="col-md text-end"><strong>{{ 'invoice.number'|trans }}</strong></div>
            </div>
            <div class="row">
                <div class="col-md-4">{{ invoice.firstname }} {{ invoice.lastname }}
                    {% if invoice.company is not empty %}
                        <br/>{{ invoice.company }}
                    {% endif %}
                </div>
                <div class="col-md text-end">{{ invoice.number }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">{{ invoice.address }}</div>
                <div class="col-md  text-end"><strong>{{ 'invoice.date'|trans }}</strong></div>
            </div>
            <div class="row">
                <div class="col-md-4">{{ invoice.zip }} {{ invoice.city }}</div>
                <div class="col-md text-end">{{ invoice.date|date('d.m.Y') }}</div>
            </div>
            {# variable that contains the status whether prices are used that includes vat and does not include vats
            this will lead to price sums that are displayed incorrect #}
            {% set lastIncludesVat = null %}
            {% set vatWarning = false %}
            <div class="row mt-5">
                {% include 'Invoices/invoice_table_apartment_preview_positions.html.twig' with {'mode': 'edit'} %}                
            </div>
            <div class="row mt-5">
                {% include 'Invoices/invoice_table_misc_preview_positions.html.twig' with {'mode': 'edit'} %}
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ 'invoice.containing.vat'|trans }}<br/>
                    <table>
                        {% for key, value in vats %}
                            <tr>
                                <td class="text-end">
                                    {% if is_decimal_place_0(key) %}
                                        {{ key|number_format(0, ',', '.') }}
                                    {% else %}
                                        {{ key|number_format(2, ',', '.') }}
                                    {% endif %} %:
                                </td>
                                <td>&nbsp;&nbsp;</td>
                                <td class="text-end">{{ value.netto|number_format(2, ',', '.') }} €</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-6 text-end">{{ 'invoice.netto'|trans }}
                    <br/><strong>{{ 'invoice.brutto'|trans }}</strong></div>
                <div class="col-md text-end">{{ (brutto-netto)|number_format(2, ',', '.') }} €<br/>
                    <strong>{{ brutto|number_format(2, ',', '.') }} €</strong>
                </div>
            </div>
            {% if vatWarning %}
            <div class="row mt-3">
                <div class="col text-center">
                <span class="text-warning me-auto"><i class="fas fa-info-circle"></i> {{ 'invoice.vatwarning'|trans }}</span>
                </div>
            </div>
            {% endif %}
            <div class="row mt-4">
                <div class="col-sm-3 text-end">
                    <label for="invoice-remark">{{ 'invoice.remark'|trans }}</label>
                </div>
                <div class="col-sm-9">
                    <textarea id="invoice-remark" class="form-control" name="remark">{{ invoice.remark }}</textarea>
                </div>
            </div>
            <input name="_csrf_token" value="{{ token }}" type="hidden">
        </div>
    </div>
    <div class="modal-footer" id="newInvoicePreview">
        <ul class="pagination me-auto">
            <li class="page-item " onclick="return showCreateInvoicePositions(false)">
                <a class="page-link" href="#">&larr; {{ 'button.back'|trans }}</a></li>
        </ul>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'button.cancel'|trans }}</button>
        <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary"
               onclick="return createNewInvoice()"/>
    </div>
</form>
<script>
    function createNewInvoice() {
        var url = "{{ path('invoices.create.invoice') }}";
        var content = '<div class="modal-body">' +
                '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
                '</div>';

        $.ajax({
            url: url,
            type: "post",
            data: $("#create-new-invoice").serialize(),
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                if (data.length > 0) {
                    $("#flash-message-overlay").empty();
                    $("#flash-message-overlay").append(data);
                } else {
                    window.location.href = "{{ path('invoices.overview') }}";
                }
            }
        });

        return false;
    }
</script>