{{ form_start(form, {'attr': {'data-controller': 'invoices', 'data-action': 'submit->invoices#submitFormAction', 'id': 'invoice-form-'~invoice.id }}) }}
    <div class="modal-body">
        <div class="ps-3 pe-3">    
            <div class="row">
                <div class="col-md-7">
                    {{ form_widget(form) }}
                </div>
                <div class="col-md-5">
                    {% include 'Invoices/invoice_form_reservation_list_fields.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <ul class="pagination me-auto">
        <li class="page-item " data-action="click->invoices#showInvoiceAction" data-url="{{ path('invoices.get.invoice', {'id': invoice.id}) }}" data-edit="true">
            <a class="page-link" href="#">&larr; {{ 'button.back'|trans }}</a></li>
        </ul>
        <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary" />
    </div>
{{ form_end(form) }}
