<form id="invoice-number-form" class="form-horizontal" role="form"
      onsubmit="return changeInvoiceRemarkSave()">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-7">
                    <p>
                    <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label">{{ 'invoice.remark'|trans }}</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="remark" name="remark">{{ invoice.remark }}</textarea>
                        </div>
                    </div>
                    </p>
                </div>
                <div class="col-md-5">
                    {% for reservation in reservations %}
                        <p>
                        <dl class="dl-horizontal">
                            <dt>{{ loop.index }}. {{ 'invoice.reservation'|trans }}</dt>
                            <dd></dd>
                            <dt>{{ 'invoice.startdate'|trans }}</dt>
                            <dd>{{ reservation.startdate|date('d.m.Y') }}</dd>
                            <dt>{{ 'invoice.enddate'|trans }}</dt>
                            <dd>{{ reservation.enddate|date('d.m.Y') }}</dd>
                            <dt>{{ 'invoice.position.stays'|trans }}</dt>
                            <dd>{{ get_date_diff_amount(reservation.startdate, reservation.enddate) }}</dd>
                            <dt>{{ 'invoice.appartment.position.persons'|trans }}</dt>
                            <dd>{{ reservation.persons }}</dd>
                            <dt>{{ 'invoice.appartment.position.beds'|trans }}</dt>
                            <dd>{{ reservation.appartment.bedsmax }}</dd>
                        </dl>
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <ul class="pager pull-left">
            <li class="previous" onclick="
                {% if invoiceId == 'new' %}
                    //return showCreateInvoicePositions('false')
                {% else %}
                    return showInvoice({{ invoiceId }}, true)
                {% endif %}
                    "><a href="#">&larr; {{ 'button.back'|trans }}</a></li>
        </ul>
        <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary" style="margin-top: inherit;"/>
    </div>
    <input type="hidden" name="invoice-id" value="{{ invoiceId }}" />
    <input name="_csrf_token" value="{{ token }}" type="hidden">
</form>
<script>
    function changeInvoiceRemarkSave() {
        var url = "{{ path('invoices.edit.invoice.remark.save') }}";
        var content = '<div class="modal-body">' +
                '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
                '</div>';

        $.ajax({
            url: url,
            type: "post",
            data: $("#invoice-number-form").serialize(),
            beforeSend: function () {
                $("#modal-content-ajax").html(content);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                $("#modal-content-ajax").html(data);
            }
        });

        return false;
    }
</script>