<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <p>

        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="button" id="button-filter-time" class="btn btn-primary"
                        onclick="return showTimeFilter()">{{ 'invoice.open.reservations.filter.time'|trans }}</button>
            </div>
            <div class="btn-group">
                <button type="button" id="button-filter-customer" class="btn btn-default"
                        onclick="return showCustomerFilter()">{{ 'invoice.open.reservations.filter.customer'|trans }}</button>
            </div>
        </div>
        </p>
    </div>
</div>
<div class="row">
    <div id="container-invoice-filter-reservations-period" class="col-md-10 col-md-offset-1">
        <p>

        <form id="invoice-filter-reservations-period" role="form">
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    <input type="input" class="form-control" id="from" name="from"
                           placeholder="{{ 'invoice.startdate'|trans }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-md-6">
                    <input type="input" class="form-control" id="end" name="end"
                           placeholder="{{ 'invoice.enddate'|trans }}">
                </div>
            </div>
        </form>
        </p>
    </div>
</div>
<div class="row">
    <div id="container-invoice-filter-reservations-customer" class="col-md-10 col-md-offset-1 hidden">
        <p>

        <form id="invoice-filter-reservations-customer-name" role="form"
              onsubmit="return getReservationsByCustomerName()">
            <div class="form-group">
                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <input type="input" class="form-control" id="lastname" name="lastname"
                               placeholder="{{ 'invoice.select.customer.search.input.placeholder'|trans }}"
                               onchange="return getReservationsByCustomerName()">
                    </div>
                </div>
            </div>
        </form>
        </p>
    </div>
</div>
<div class="row">
    <div id="container-invoice-filter-reservations-result" class="col-md-10 col-md-offset-1">
    </div>
</div>
<div class="modal-footer {% if objectContainsReservations == "false" %} hidden {% endif %}">
    <ul class="pager">
        <li class="next" onclick="return selectReservation()"><a href="#">{{ 'button.continue'|trans }} &rarr;</a></li>
    </ul>
</div>
<script>
    fromOptions = {
        changeMonth: true,
        numberOfMonths: 2,
        regional: "{{ app.request.locale }}",
        onClose: function (selectedDate) {
            $("#end").datepicker("option", "minDate", selectedDate);

            if ($("#end").val().length === 0) {
                var from = $(this).datepicker("getDate");
                $("#end").datepicker("setDate", new Date(from.getFullYear(), from.getMonth(), (from.getDate() + 1)));
                $("#from").datepicker("option", "maxDate", new Date(from.getFullYear(), from.getMonth(), (from.getDate() + 1)));
            }
            getReservationsInPeriod();
        }
    };
    endOptions = {
        changeMonth: true,
        numberOfMonths: 2,
        regional: "{{ app.request.locale }}",
        onClose: function (selectedDate) {
            $("#from").datepicker("option", "maxDate", selectedDate);
            getReservationsInPeriod();
        }
    }

    function getReservationsInPeriod() {
        var url = "{{ path('invoices.get.reservations.in.period') }}";
        var form = "#invoice-filter-reservations-period";
        var content = '<div class="modal-body">' +
                '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
                '</div>';

        $.ajax({
            url: url,
            type: "post",
            data: $(form).serialize(),
            beforeSend: function () {
                $("#container-invoice-filter-reservations-result").html(content);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                $("#container-invoice-filter-reservations-result").html(data);
            }
        });

        return false;
    }
    ;

    function getReservationsByCustomerName() {
        var url = "{{ path('invoices.get.reservations.for.customer') }}";
        var form = "#invoice-filter-reservations-customer-name";
        var content = '<div class="modal-body">' +
                '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
                '</div>';

        $.ajax({
            url: url,
            type: "post",
            data: $(form).serialize(),
            beforeSend: function () {
                $("#container-invoice-filter-reservations-result").html(content);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                $("#container-invoice-filter-reservations-result").html(data);
            }
        });

        return false;
    }
    ;

    function selectReservation(id) {
        var url = "{{ path('invoices.select.reservation') }}";
        var content = '<div class="modal-body">' +
                '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
                '</div>';

        $.ajax({
            url: url,
            type: "post",
            data: { reservationid: id },
            beforeSend: function () {
                $("#modal-content-ajax").html(content);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                $("#modal-content-ajax").html(data);
            }
        });

        return false;
    }

    function showTimeFilter() {
        if ($('#button-filter-time').hasClass('btn-primary')) {
            return false;
        } else {
            $('#button-filter-time').addClass('btn-primary');
            $('#container-invoice-filter-reservations-period').removeClass('hidden');
            $('#container-invoice-filter-reservations-customer').addClass('hidden');
            $('#button-filter-customer').removeClass('btn-primary');
            $('#button-filter-customer').addClass('btn-default');

            return false;
        }
    }
    ;

    function showCustomerFilter() {
        if ($('#button-filter-customer').hasClass('btn-primary')) {
            return false;
        } else {
            $('#button-filter-customer').addClass('btn-primary');
            $('#container-invoice-filter-reservations-customer').removeClass('hidden');
            $('#container-invoice-filter-reservations-period').addClass('hidden');
            $('#button-filter-time').removeClass('btn-primary');
            $('#button-filter-time').addClass('btn-default');

            return false;
        }
    }
    ;
</script>