<form id="invoice-number-form" class="form-horizontal" role="form"
      data-action="submit->invoices#submitFormAction" data-controller="invoices">
    <div class="modal-body ps-5 pe-5">
        <div class="row">
            <div class="col-md-7">
                <p>
                <div class="row">
                    <label for="salutation" class="col-sm-4 col-form-label">{{ 'invoice.number.short'|trans }} *</label>
                    <div class="col-sm">
                        <input type="text" class="form-control" id="salutatinumberon" name="number" value="{{ invoice.number }}" required>
                    </div>
                </div>
                <div class="row">
                    <label for="firstname" class="col-sm-4 col-form-label">{{ 'invoice.date2'|trans }} *</label>
                    <div class="col-sm">
                        <input type="text" class="form-control" id="date" name="date" value="{{ invoice.date|date("d.m.Y") }}" required>
                    </div>
                </div>
                </p>
            </div>
            <div class="col-md-5">
                {% include 'Invoices/invoice_form_reservation_list_fields.html.twig' %}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <ul class="pagination me-auto">
            <li class="page-item"
                {% if invoiceId == 'new' %}
                    data-action="click->invoices#openModalAction" data-url="{{ path('invoices.create.invoice.positions') }}"
                {% else %}
                    data-action="click->invoices#showInvoiceAction" data-url="{{ path('invoices.get.invoice', {'id': invoiceId}) }}" data-edit="true"
                {% endif %}>
                <a class="page-link" href="#">&larr; {{ 'button.back'|trans }}</a></li>
        </ul>
        <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary" />
    </div>
    <input type="hidden" name="invoice-id" value="{{ invoiceId }}" />
    <input name="_csrf_token" value="{{ token }}" type="hidden">
</form>
<script>
    $(document).ready(function() {
        $("#date").datepicker({
            regional: "{{ app.request.locale }}",
        });
    });

    function changeInvoiceNumberSave() {
        var url = "{{ path('invoices.edit.invoice.number.save') }}";
        var content = '<div class="modal-body">' +
                '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
                '</div>';

        $.ajax({
            url: url,
            type: "post",
            data: $("#invoice-number-form").serialize(),
            beforeSend: function () {
                $("#modal-content-ajax").html(content);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                $("#modal-content-ajax").html(data);
            }
        });

        return false;
    }
</script>
