{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -  {{ 'journal.title'|trans }}
{% endblock %}

{% block description %}
    {{ parent() }} -  {{ 'journal.description'|trans }}
{% endblock %}

{% block content %}
    <div class="container"
         data-controller="cashjournal"
         data-cashjournal-table-url-value="{{ path('cashjournal.table.get') }}">
        <div class="row justify-content-between">
            <div class="col-md-4">
                <button type="button" class="btn btn-secondary"
                        data-action="click->cashjournal#openModalAction"
                        data-url="{{ path('cashjournal.journal.new') }}"
                        data-title="{{ 'journal.add'|trans }}"
                        data-bs-toggle="modal" data-bs-target="#modalCenter">
                        <i class="fas fa-plus"></i> {{ 'journal.add'|trans }}</button>
            </div>
            <div class="col-md-3">                
                    <select id="template" name="template" class="form-select"
                            data-cashjournal-target="template"
                            data-action="change->cashjournal#templateChangeAction">
                        <option disabled>{{ 'journal.template'|trans }}:</option>
                        <option disabled>──────────</option>
                        {% for template in templates %}
                            <option value="{{ template.id }}"{% if template.id == templateId %} selected{% endif %}>{{ template.name }}</option>
                        {% endfor %}
                    </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <form id="table-filter" role="form">
                    <select id="cashJournalYear" name="search" class="form-select"
                            data-cashjournal-target="year"
                            data-action="change->cashjournal#yearChangeAction">
                    {% for journal in journalYears %}
                        <option value="{{ journal.cashYear }}"{% if journal.cashYear == "Y"|date or search == journal.cashYear %} selected{% endif %}>{{ journal.cashYear }}</option>
                    {% endfor %}
                    </select>                                                 
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <div id="table-ajax" class="col" data-cashjournal-target="table">
            </div>
        </div>
    </div>
{% endblock %}
