<form id="entity-form-new" class="form-horizontal" role="form" method="POST"
      data-controller="cashjournal"
      data-action="submit->cashjournal#submitFormAction"
      data-url="{{ path('cashjournal.journal.entry.edit', {'id': entry.id}) }}">
    <div class="modal-body ps-5 pe-5">
        <div class="container-fluid">
            <div id="flash-message-overlay">
                <div class="col">
                </div>
            </div>
            {% include 'CashJournal/journal_entry_input_fields.html.twig' %}
        </div>
    </div>
    <div class="modal-footer">
        {% if is_granted('ROLE_ADMIN') %}
        {% set id = entry.id %}
        {% set targetUrl = path('cashjournal.journal.entry.delete', {'id': entry.id}) %}
        {% use "common/delete_popover.html.twig" %}
        <div class="boxDefault me-auto">            
            <button type="button" class="btn btn-danger"
                    title="{{ 'journal.entry.delete.ask'|trans }}"
                    data-popover="delete"
                    data-bs-content='{{ block('deletePopoverContent') }}'>{{ 'button.delete'|trans }}</button>
        </div>
        {% endif %}  
        <div class="boxDefault" data-cashjournal-target="defaultBox">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'button.cancel'|trans }}</button>
            <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary"/>  
        </div>              
    </div>
</form>
