<form id="entity-form-new" class="form-horizontal" role="form" onsubmit="return editJournal({{ journal.id }})">
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row" id="flash-message-overlay">
                <div class="row">
                </div>
            </div>
            {% include 'CashJournal/journal_journal_input_fields.html.twig' %}
        </div>
    </div>
    <div class="modal-footer">
        {% if is_granted('ROLE_ADMIN') %}
        <div class="boxDefault mr-auto">            
            <button type="button" class="btn btn-danger"
                        onclick="return toggleDelete();">{{ 'button.delete'|trans }}</button>
        </div>
        <div id="boxDelete" class="d-none mr-auto">               
            <button class="btn btn-secondary"
                    onclick="return toggleDelete();">{{ 'button.cancel'|trans }}</button>
            <button class="btn btn-danger" onclick="return doDeleteJournal({{ journal.id }});">{{ 'button.delete'|trans }}</button>
            <br />{{ 'journal.delete.ask'|trans }}
        </div>
        {% endif %} 
        <div class="boxDefault">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'button.cancel'|trans }}</button>
            <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary"/>  
        </div>               
    </div>
</form>
{% if is_granted('ROLE_ADMIN') %}
    <div id="boxDelete" class="d-none">
        <form id="deleteForm" role="form">            
            <input type="hidden" name="id" value="{{ journal.id }}"/>
            <input name="_csrf_token" value="{{ token }}" type="hidden">
        </form>
    </div>
{% endif %}
<script>
   function toggleDelete() {
        if ($("#boxDelete").is(":hidden")) {
            $("#boxDelete").fadeIn().removeClass('d-none');
            $(".boxDefault").addClass('d-none');
        }
        else {
            $("#boxDelete").addClass('d-none');
            $(".boxDefault").fadeIn().removeClass('d-none');
        }
        return false;
    } 
</script>