<form id="entity-form-new" class="form-horizontal" role="form" method="POST"
      data-controller="cashjournal"
      data-action="submit->cashjournal#submitFormAction"
      data-url="{{ path('cashjournal.journal.entry.create') }}"
      data-success-url="{{ path('cashjournal.journal.entry.index', {'id': id}) }}">
    <div class="modal-body ps-5 pe-5">
        <div class="container-fluid">
            <div id="flash-message-overlay">
                <div class="col">
                </div>
            </div>
            {% include 'CashJournal/journal_entry_input_fields.html.twig' %}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'button.cancel'|trans }}</button>
        <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary"/>
    </div>
    <input name="id" value="{{ id }}" type="hidden">
</form>
