<form id="entity-form-new" class="form-horizontal" role="form" method="POST"
      data-controller="cashjournal"
      data-action="submit->cashjournal#submitFormAction"
      data-url="{{ path('cashjournal.journal.edit', {'id': journal.id}) }}">
    <div class="modal-body">
        <div class="container-fluid">
            <div id="flash-message-overlay">
                <div class="row">
                </div>
            </div>
            {% include 'CashJournal/journal_journal_input_fields.html.twig' %}
        </div>
    </div>
    <div class="modal-footer">
        {% if is_granted('ROLE_ADMIN') %}
        {% set id = journal.id %}
        {% set targetUrl = path('cashjournal.journal.delete', {'id': journal.id}) %}
        {% use "common/delete_popover.html.twig" %}
        <div class="boxDefault me-auto">            
            <button type="button" class="btn btn-danger"
                    title="{{ 'journal.delete.ask'|trans }}"
                    data-popover="delete"
                    data-bs-content='{{ block('deletePopoverContent') }}'>{{ 'button.delete'|trans }}</button>
        </div>
        {% endif %} 
        <div class="boxDefault" data-cashjournal-target="defaultBox">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'button.cancel'|trans }}</button>
            <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary"/>  
        </div>               
    </div>
</form>
