<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>{{ 'journal.entry.number'|trans }}</th>
        <th>{{ 'journal.entry.incomes'|trans }}</th>
        <th>{{ 'journal.entry.expenses'|trans }}</th>
        <th>{{ 'journal.entry.inventory'|trans }}</th>
        <th>{{ 'journal.entry.counteraccount'|trans }}</th>
        <th>{{ 'journal.entry.invoicenumber'|trans }}</th>
        <th>{{ 'journal.entry.documentnumber'|trans }}</th>
        <th>{{ 'journal.entry.date'|trans }}</th>
        <th>{{ 'journal.entry.remark'|trans }}</th>
        <th>{{ 'journal.action'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
        <tr>
            <td>{{ loop.index + startIdx }}</td>
            <td class="text-end">{{ entry.incomes|number_format(2, ',', '.') }}</td>
            <td class="text-end">{{ entry.expenses|number_format(2, ',', '.') }}</td>
            <td class="text-end">{{ entry.inventory|number_format(2, ',', '.') }}</td>
            <td>{{ entry.counterAccount }}</td>
            <td>{{ entry.invoiceNumber }}</td>
            <td>{{ "%04d"|format(entry.documentNumber) }}</td>
            <td>{{ entry.date|date("d.m.Y") }}</td>
            <td>{{ entry.remark }}</td>
            <td>
                {% if not journal.isClosed %}
                <a href="#" title="{{ 'button.edit'|trans }}">
                    <i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#modalCenter"
                       data-action="click->cashjournal#openModalAction"
                       data-url="{{ path('cashjournal.journal.entry', {'id': entry.id}) }}"
                       data-title="{{ 'journal.entry.edit'|trans }}"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="row">
    <div class="col-md-11 text-end">{{ 'journal.cash.start'|trans }}:</div>
    <div class="col-md-1 text-end">{{ journal.cashStart|number_format(2, ',', '.') }}</div>
</div>
<div class="row">
    <div class="col-md-11 text-end">{{ 'journal.cash.end'|trans }}:</div>
    <div class="col-md-1 text-end">{{ journal.cashEnd|number_format(2, ',', '.') }}</div>
</div>
<input id="page" type="hidden" name="page" value="{{ page }}" />
{% include 'paginator.html.twig' with { 'url' : path('cashjournal.journal.entry.index', {'id': journal.id}), 'pagination_action': 'click->cashjournal#paginateEntriesAction' } %} 
