{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -  {{ 'journal.title'|trans }}
{% endblock %}

{% block description %}
    {{ parent() }} -  {{ 'journal.description'|trans }}
{% endblock %}

{% block content %}

    <div class="container"
         data-controller="cashjournal"
         data-cashjournal-entry-table-url-value="{{ path('cashjournal.journal.entry.index', {'id': journal.id}) }}">
        <div class="row">
            <div class="col-md-4">
                {% if not journal.isClosed %}
                <div class="btn-group">
                    <button type="button" class="btn btn-default"
                            data-action="click->cashjournal#openModalAction"
                            data-url="{{ path('cashjournal.journal.entry.new', {'id': journal.id}) }}"
                            data-title="{{ 'journal.entry.add'|trans }}"
                            data-bs-toggle="modal" data-bs-target="#modalCenter">
                        <i class="fas fa-plus"></i> {{ 'journal.entry.add'|trans }}</button>
                </div>
                {% endif %}
                
            </div>
            <div class="col-md-5 pt-3">
                <h5>{{ 'journal.single'|trans }} {{ getLocalizedMonth(journal.cashMonth, 'MMMM', app.request.locale) }} {{ journal.cashYear }}</h5>
            </div>
        </div>
        <div class="row mt-4">
            <div id="table-ajax" class="col" data-cashjournal-target="table">
                {% include 'CashJournal/journal_entry_table.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div id="table-ajax" class="col">
            <ul class="pagination me-auto">
                    <li class="page-item">
                        <a class="page-link" href="{{ path('cashjournal.overview') }}">&larr; {{ 'button.back'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
