<table class="table table-responsive table-bordered table-hover">
    <tr>
        <th>{{ 'journal.entry.number'|trans }}</th>
        <th>{{ 'journal.entry.incomes'|trans }}</th>
        <th>{{ 'journal.entry.expenses'|trans }}</th>
        <th>{{ 'journal.entry.inventory'|trans }}</th>
        <th>{{ 'journal.entry.counteraccount'|trans }}</th>
        <th>{{ 'journal.entry.invoicenumber'|trans }}</th>
        <th>{{ 'journal.entry.documentnumber'|trans }}</th>
        <th>{{ 'journal.entry.date'|trans }}</th>
        <th>{{ 'journal.entry.remark'|trans }}</th>
        <th>{{ 'journal.action'|trans }}</th>
    </tr>
    {% for entry in entries %}
        <tr>
            <td>{{ loop.index + startIdx }}</td>
            <td class="text-right">{{ entry.incomes|number_format(2, ',', '.') }}</td>
            <td class="text-right">{{ entry.expenses|number_format(2, ',', '.') }}</td>
            <td class="text-right">{{ entry.inventory|number_format(2, ',', '.') }}</td>
            <td>{{ entry.counterAccount }}</td>
            <td>{{ entry.invoiceNumber }}</td>
            <td>{{ "%04d"|format(entry.documentNumber) }}</td>
            <td>{{ entry.date|date("d.m.Y") }}</td>
            <td>{{ entry.remark }}</td>
            <td>
                {% if not journal.isClosed %}
                <a href="#" title="{{ 'button.edit'|trans }}">
                    <i onclick="getEntry({{ entry.id }})" class="fas fa-edit" data-toggle="modal" data-target="#showModal"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
<div class="row">
    <div class="col-md-11 text-right">{{ 'journal.cash.start'|trans }}:</div>
    <div class="col-md-1 text-right">{{ journal.cashStart|number_format(2, ',', '.') }}</div>
</div>
<div class="row">
    <div class="col-md-11 text-right">{{ 'journal.cash.end'|trans }}:</div>
    <div class="col-md-1 text-right">{{ journal.cashEnd|number_format(2, ',', '.') }}</div>
</div>
<input id="page" type="hidden" name="page" value="{{ page }}" />
{% include 'paginator.html.twig' with { 'url' : path('cashjournal.journal.entry.index', {'id': journal.id}) } %}