{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -  Reservierungsverwaltung
{% endblock %}

{% block description %}
    {{ parent() }} -  Reservierungsverwaltung
{% endblock %}

{% block flashMessage %}
    <div class="container-fluid mt-3">
        <div class="row" id="flash-message-container">
            {% for type, flashMessages in app.flashes %}
                {% for flashMessage in flashMessages %}
                    <div class="col">
                        <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                            {{ flashMessage|trans }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>                            
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container-fluid"
     data-controller="reservations"
     data-reservations-can-select-value="{{ is_granted('ROLE_RESERVATIONS') ? 'true' : 'false' }}"
     data-reservations-start-url="{{ path('start') }}"
     data-reservations-translations-value="{{
        {
            'templates.select.reservations': 'templates.select.reservations'|trans,
            'nav.reservation.add': 'nav.reservation.add'|trans,
            'reservation.no.selected.appartments': 'reservation.no.selected.appartments'|trans,
            'reservation.details': 'reservation.details'|trans,
            'nav.reservation.edit': 'nav.reservation.edit'|trans,
            'templates.select.template': 'templates.select.template'|trans,
            'templates.edit': 'templates.edit'|trans,
            'templates.preview': 'templates.preview'|trans
        }|json_encode|e('html_attr')
     }}">
    <form id="table-filter" role="form"
          data-reservations-table-url="{{ path('reservations.get.table') }}"
          data-reservations-table-settings-url="{{ path('reservations.table.settings') }}"
          data-action="submit->reservations#getNewTableAction">
        <div class="row">
            {% if show == 'table' %}
                {% include 'Reservations/_index_table_form.html.twig' %}
            {% else %}
                {% include 'Reservations/_index_yearly_form.html.twig' %}
            {% endif %}
            {% if is_granted('ROLE_RESERVATIONS') %}
            <div class="col-md-auto">
                <a href="#" class="me-3" data-action="click->reservations#getNewTableAction" title="{{ 'reservation.table.reload'|trans }}" data-url="{{ path('reservations.get.table') }}"><i class="fas fa-sync-alt" data-reservations-table-spinner></i></a>
                <button type="button" class="btn btn-secondary mb-2 me-sm-2"
                        data-action="click->reservations#selectAppartmentAction"
                        data-reservations-create-new="true"
                        data-url="{{ path('reservations.select.appartment') }}"
                        data-bs-toggle="modal" data-bs-target="#modalCenter">
                    <i class="fas fa-plus"></i> {{ 'nav.reservation.add'|trans }}
                </button>
            </div>
            {% endif %}
            <div class="col col-md-2 text-end ms-auto">
                <a href="{{ path('start.toggle.view', {show: 'table'}) }}" class="fs-5 {% if show == 'table' %}text-primary{% else %}text-secondary{% endif %}" title="{{ 'reservation.table.view.table'|trans }}">
                    <i class="fas fa-list"></i></a>
                <a href="{{ path('start.toggle.view', {show: 'yearly'}) }}" class="fs-5 me-4 {% if show == 'yearly' %}text-primary{% else %}text-secondary{% endif %}" title="{{ 'reservation.table.view.yearly'|trans }}">
                    <i class="far fa-calendar-alt"></i></a>
                
                {% include 'Reservations/reservation_table_settings.html.twig' %}                    
            </div>
        </div>
    </form>
    <div class="row mt-2" >
        <div class="col" id="table-ajax" data-reservations-add-appartment-selectable-url="{{ path('reservations.add.appartment.to.reservation.selectable') }}">
        </div>
    </div>
</div>
{% endblock %}

{% block bodyjs %}
    {{ parent() }}
    <script type="text/javascript" src="{{ app.request.basepath }}/resources/tinymce/tinymce.min.js" defer></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/resources/js/selectable-0.22.0.min.js" defer></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/resources/js/customers_1.0.0.js" defer></script>
{% endblock %}
