{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -  Reservierungsverwaltung
{% endblock %}

{% block description %}
    {{ parent() }} -  Reservierungsverwaltung
{% endblock %}

{% block flashMessage %}
    <div class="container-fluid mt-3">
        <div class="row" id="flash-message-container">
            {% for type, flashMessages in app.flashes %}
                {% for flashMessage in flashMessages %}
                    <div class="col">
                        <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                            {{ flashMessage|trans }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>                            
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container-fluid"
     data-controller="reservations"
     data-reservations-can-select-value="{{ is_granted('ROLE_RESERVATIONS') ? 'true' : 'false' }}"
     data-reservations-urls-value="{{
        {
            tableSettings: path('reservations.table.settings'),
            reservationTable: path('reservations.get.table'),
            selectInvoice: path('invoices.select.reservation'),
            selectTemplateReservation: path('settings.templates.select.reservation'),
            selectReservationForTemplate: path('settings.templates.select.reservation'),
            selectAppartment: path('reservations.select.appartment'),
            getEditAvailableAppartments: path('reservations.get.edit.available.appartments'),
            getAvailableAppartments: path('reservations.get.available.appartments'),
            addAppartment: path('reservations.add.appartment.to.reservation'),
            addAppartmentSelectable: path('reservations.add.appartment.to.reservation.selectable'),
            removeAppartment: path('reservations.remove.appartment.from.reservation'),
            modifyAppartmentOptions: path('reservations.modify.appartment.options'),
            selectCustomer: path('reservations.select.customer'),
            getCustomers: path('reservations.get.customers'),
            getCustomersEdit: path('reservations.edit.customers.get'),
            getCustomerNewForm: path('reservations.get.customer.new.form'),
            createCustomer: path('reservations.get.customer.create'),
            createPreview: path('reservations.create.preview'),
            createReservations: path('reservations.create.reservations'),
            getReservation: path('reservations.get.reservation', {'id': 'placeholder'}),
            editReservation: path('reservations.edit.reservation', {'id': 'placeholder'}),
            changeReservationCustomer: path('reservations.edit.reservation.customer', {'id': 'placeholder'}),
            editReservationNewCustomer: path('reservations.edit.reservation.customer.create', {'id': 'placeholder'}),
            editReservationCustomerChange: path('reservations.edit.customer.change', {'id': 'placeholder'}),
            deleteReservation: path('reservations.dodelete.reservation'),
            deleteReservationCustomer: path('reservations.edit.delete.customer'),
            editReservationCustomerEdit: path('reservations.edit.customer.edit'),
            saveEditCustomer: path('reservations.edit.customer.edit.save'),
            selectTemplate: path('reservations.select.template'),
            previewTemplate: path('reservations.select.template.preview', {'id': 'placeholder'}),
            sendEmail: path('settings.templates.email.send'),
            saveTemplateFile: path('settings.templates.file.save'),
            exportCorrespondencePdf: path('settings.templates.correspondence.export.pdf', {'id': 'placeholder'}),
            showCorrespondence: path('settings.templates.correspondence.show', {'id': 'placeholder'}),
            deleteInvoice: is_granted('ROLE_ADMIN') ? path('invoices.dodelete.invoice') : '',
            deleteCorrespondence: path('settings.templates.correspondence.remove'),
            addAttachment: path('settings.templates.attachment.add'),
            deleteAttachment: path('settings.templates.attachment.remove'),
            selectReservationForTemplate: path('settings.templates.select.reservation'),
            startUrl: path('start')
        }|json_encode|e('html_attr')
     }}"
     data-reservations-translations-value="{{
        {
            'templates.select.reservations': 'templates.select.reservations'|trans,
            'nav.reservation.add': 'nav.reservation.add'|trans,
            'reservation.no.selected.appartments': 'reservation.no.selected.appartments'|trans,
            'reservation.details': 'reservation.details'|trans,
            'nav.reservation.edit': 'nav.reservation.edit'|trans,
            'templates.select.template': 'templates.select.template'|trans,
            'templates.edit': 'templates.edit'|trans,
            'templates.preview': 'templates.preview'|trans
        }|json_encode|e('html_attr')
     }}">
    <form id="table-filter" role="form" onsubmit="return getNewTable()">
        <div class="row">
            {% if show == 'table' %}
                {% include 'Reservations/_index_table_form.html.twig' %}
            {% else %}
                {% include 'Reservations/_index_yearly_form.html.twig' %}
            {% endif %}
            {% if is_granted('ROLE_RESERVATIONS') %}
            <div class="col-md-auto">
                <a href="#" class="me-3" data-action="click->reservations#getNewTableAction" title="{{ 'reservation.table.reload'|trans }}"><i class="fas fa-sync-alt" data-reservations-table-spinner></i></a>
                <button type="button" class="btn btn-secondary mb-2 me-sm-2" data-action="click->reservations#selectAppartmentAction" data-reservations-create-new="true"
                        data-bs-toggle="modal" data-bs-target="#modalCenter">
                    <i class="fas fa-plus"></i> {{ 'nav.reservation.add'|trans }}
                </button>
            </div>
            {% endif %}
            <div class="col col-md-2 text-end ms-auto">
                <a href="{{ path('start.toggle.view', {show: 'table'}) }}" class="fs-5 {% if show == 'table' %}text-primary{% else %}text-secondary{% endif %}" title="{{ 'reservation.table.view.table'|trans }}">
                    <i class="fas fa-list"></i></a>
                <a href="{{ path('start.toggle.view', {show: 'yearly'}) }}" class="fs-5 me-4 {% if show == 'yearly' %}text-primary{% else %}text-secondary{% endif %}" title="{{ 'reservation.table.view.yearly'|trans }}">
                    <i class="far fa-calendar-alt"></i></a>
                
                {% include 'Reservations/reservation_table_settings.html.twig' %}                    
            </div>
        </div>
    </form>
    <div class="row mt-2" >
        <div class="col" id="table-ajax">
        </div>
    </div>
</div>
{% endblock %}

{% block bodyjs %}
    {{ parent() }}
    <script type="text/javascript" src="{{ app.request.basepath }}/resources/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/resources/js/selectable-0.22.0.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/resources/js/customers_1.0.0.js"></script>
{% endblock %}
