
    <div class="col-sm-3">
        <select id="persons" name="persons" class="form-select">
            {% for i in 1..appartment.bedsmax %}
                <option value="{{ i }}"{% if reservation is defined and reservation.persons == i %} selected{% endif %}>
                    {{ i }} {% if i == 1 %} {{ 'reservation.person'|trans }} {% else %} {{ 'reservation.persons'|trans }} {% endif %}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-3">
        <select id="status" name="status" class="form-select">
            {% for status in reservationStatus %}
            <option value="{{ status.id }}"{% if reservation is defined and reservation.reservationStatus.id == status.id %} selected{% endif %}>{{ status.name }}</option>
            {% endfor %}
        </select>
    </div>
