{% set submit='return _doPost("#entry-form-'~reservation.id~'","'~ path('reservations.edit.remark', {'id': reservation.id}) ~'");' %}
{{ form_start(form, {'attr': {'id':'entry-form-'~reservation.id, 'onsubmit':submit} }) }}
<div class="modal-body">
    <div class="ps-5 pe-5">
        {{ form_widget(form) }}
    </div>
</div>
<div class="modal-footer">
    <ul class="pagination me-auto">
        <li class="page-item" onclick="return getReservation({{ reservation.id }})">
            <a class="page-link" href="#">&larr; {{ 'button.back'|trans }}</a>
        </li>
    </ul>
    <input id="reservation-edit-save" class="btn btn-primary" type="submit" value="{{ 'button.save'|trans }}" />
</div>
{{ form_end(form) }}