{{ form_start(form, {
    'attr': {
        'id':'entry-form-'~reservation.id,
        'data-controller': 'reservations',
        'data-url': path('reservations.edit.remark', {'id': reservation.id}),
        'data-action': 'submit->reservations#submitFormAction'
    }
}) }}
<div class="modal-body">
    <div class="ps-5 pe-5">
        {{ form_widget(form) }}
    </div>
</div>
<div class="modal-footer">
    <ul class="pagination me-auto">
        <li class="page-item">
            <a class="page-link" href="#"
               data-action="click->reservations#openReservationAction"
               data-url="{{ path('reservations.get.reservation', {'id': reservation.id}) }}"
               data-reservation-id="{{ reservation.id }}">&larr; {{ 'button.back'|trans }}</a>
        </li>
    </ul>
    <input id="reservation-edit-save" class="btn btn-primary" type="submit" value="{{ 'button.save'|trans }}" />
</div>
{{ form_end(form) }}
