
<div data-controller="reservations">
<div class="modal-body">
    <div class="ps-5 pe-5">
        <div id="flash-message-overlay">
            <div class="col">
                {% include 'feedback.html.twig' with {'app': app } %}
            </div>
        </div>
    {% set lastStartDate, lastEndDate = "", "" %}
    {% if reservations|length > 0 %}
        <div class="row">
            <h4>{{ 'reservation.new.reservation.appartments.selected.heading'|trans }}</h4>
        </div>
        <div class="row">
            <div class="col">
                <table class="table" id="selectedAppartments">
                    <thead>
                    <tr>
                        <th>{{ 'appartment.number'|trans }}</th>
                        <th>{{ 'appartment.description'|trans }}</th>
                        <th>{{ 'reservation.persons'|trans }}</th>
                        <th>{{ 'reservation.status'|trans }}</th>
                        <th>{{ 'reservation.startdate'|trans }}</th>
                        <th>{{ 'reservation.enddate'|trans }}</th>
                        <th>{{ 'base.action'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, reservation in reservations %}
                        <tr data-action="click->reservations#toggleAppartmentOptionsAction" data-appartment-id="{{ key }}">
                            <td>{{ reservation.appartment.number }}</td>
                            <td>{{ reservation.appartment.description }}</td>
                            <td>{{ reservation.persons }}</td>
                            <td>{{ reservation.reservationStatus.name }}</td>
                            <td>{{ reservation.startdate|date('d.m.Y') }}</td>
                            <td>{{ reservation.enddate|date('d.m.Y') }}</td>
                            <td>
                                <a href="#" title="{{ 'button.edit'|trans }}">
                                    <i class="fas fa-edit"></i></a>
                                <a href="#" title="{{ 'button.delete'|trans }}" data-action="click->reservations#deleteAppartmentAction" data-appartment-id="{{ key }}">
                                    <i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" id="appartment-{{ key }}" class="d-none">
                                <form id="appartment-options-{{ key }}">
                                    <div class="row">
                                        {% include 'Reservations/reservations_form_appartment_options_input_fields.html.twig' with {'appartment': reservation.appartment} %}
                                        <div class="col-sm-3">                                        
                                            <button class="btn btn-default" type="button"
                                                data-action="click->reservations#saveAppartmentOptionsAction"
                                                data-appartment-id="{{ key }}">{{ 'button.save'|trans }}</button>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        {% set lastStartDate = reservation.startdate|date('Y-m-d')  %}
                        {% set lastEndDate = reservation.enddate|date('Y-m-d')  %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    <hr>
{% endif %}

        <form id="reservation-period" role="form"
              data-available-url="{{ path('reservations.get.available.appartments') }}"
              data-add-appartment-url="{{ path('reservations.add.appartment.to.reservation') }}"
              data-remove-appartment-url="{{ path('reservations.remove.appartment.from.reservation') }}"
              data-modify-appartment-options-url="{{ path('reservations.modify.appartment.options') }}"
              data-select-customer-url="{{ path('reservations.select.customer') }}"
              data-preview-url="{{ path('reservations.create.preview') }}"
              data-action="submit->reservations#selectCustomerAction">
            <div class="row">
                <div class="col" id="flash-message-overlay">
                </div>
            </div>

            <div class="row">
                <h4>{{ 'reservation.new.reservation.appartments.addmore'|trans }}</h4>
            </div>
            <div class="row">
                <div class="col">
                    <input type="date" class="form-control" id="from" name="from"
                           placeholder="{{ 'reservation.startdate'|trans }}"
                           data-action="change->reservations#getAvailableAppartmentsAction"
                           value="{{ lastStartDate }}"
                    >
                </div>            
                <div class="col">
                    <input type="date" class="form-control" id="end" name="end"
                           placeholder="{{ 'reservation.enddate'|trans }}"
                           data-action="change->reservations#getAvailableAppartmentsAction"
                           value="{{ lastEndDate }}"
                    >
                </div>
                <div class="col text-end">
                    <select id="objects" name="object" class="form-select"
                            data-action="change->reservations#getAvailableAppartmentsAction">
                        <option value="all"
                                {% if objectSelected == "all" %}selected{% endif %}>{{ 'reservation.objects.all'|trans }}</option>
                        {% for object in objects %}
                            <option value="{{ object.id }}"
                                    {% if objectSelected == object.id %}selected{% endif %}>{{ object.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-1 align-self-center">
                    <a href="#" title="{{ 'button.accept'|trans }}"
                       data-action="click->reservations#getAvailableAppartmentsAction">
                        <i class="fa-solid fa-check fa-lg"></i>
                    </a>
                </div>
            </div>
            <div class="col mt-4" id="available-appartments"></div>
        </form>
    </div>
</div>


{% if reservations|length > 0 %}
<div class="modal-footer">
    {% if objectHasAppartments %}
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#"
               data-action="click->reservations#selectCustomerAction"
               data-url="{{ path('reservations.select.customer') }}">{{ 'button.continue'|trans }} &rarr;</a></li>
    </ul>
    {% endif %}
</div>
{% endif %}
</div>  
