<div class="modal-body">
    <div class="ps-5 pe-5">
        <div id="flash-message-overlay">
            <div class="col">
                {% include 'feedback.html.twig' with {'error': error, 'app': app } %}
            </div>
        </div>
        <form id="reservation-period" data-target="{{ path('reservations.edit.reservation.change', {id: reservation.id}) }}">
            <div class="row">
                <div class="col">
                    <input type="date" class="form-control" id="from" name="from"
                           value="{{ reservation.startdate|date('Y-m-d') }}"
                           placeholder="{{ 'reservation.startdate'|trans }}"
                           onchange="getAvailableAppartmentsForPeriod('edit')">
                </div>
                    
                <div class="col">
                    <input type="date" class="form-control" id="end" name="end"
                           value="{{ reservation.enddate|date('Y-m-d') }}"
                           placeholder="{{ 'reservation.enddate'|trans }}"
                           onchange="getAvailableAppartmentsForPeriod('edit')">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <table class="table table-hover" id="selectedAppartments">
                        <thead>
                        <tr>
                            <th class="border-top-0">{{ 'appartment.number'|trans }}</th>
                            <th class="border-top-0">{{ 'appartment.bedsmax'|trans }}</th>
                            <th class="border-top-0">{{ 'appartment.description'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr onclick="return toggleAppartmentOptions({{ reservation.appartment.id }})">
                            <td>{{ reservation.appartment.number }}</td>
                            <td>{{ reservation.appartment.bedsmax }}</td>
                            <td>{{ reservation.appartment.description }}</td>
                        </tr>
                        <tr>
                            <td class="ps-4 pe-4" colspan="4" id="appartment-{{ reservation.appartment.id }}">
                                <div class="row" id="appartment-options-{{ reservation.appartment.id }}">
                                    {% include 'Reservations/reservations_form_appartment_options_input_fields.html.twig' with {'appartment': reservation.appartment, 'reservation': reservation } %}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="box-available-appartments" class="d-none">
                <div class="row align-items-center">
                        <div class="col-sm-8">
                            <h4>{{ 'reservation.appartment.available'|trans }}</h4>
                        </div>
                        <div class="col text-end">
                            <select id="objects" name="object" class="form-select"
                                    onchange="getAvailableAppartmentsForPeriod('edit')">
                                <option value="all"
                                        {% if objectSelected == "all" %}selected{% endif %}>{{ 'reservation.objects.all'|trans }}</option>
                                {% for object in objects %}
                                    <option value="{{ object.id }}"
                                            {% if objectSelected == object.id %}selected{% endif %}>{{ object.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                </div>
                <div class="row">
                    <div class="col">
                         <div id="available-appartments"></div>
                    </div>
                </div>
            </div>
        </form>  
    </div>
</div>
<div class="modal-footer">
    <ul class="pagination me-auto">
        <li class="page-item" onclick="return getReservation({{ reservation.id }})">
            <a class="page-link" href="#">&larr; {{ 'button.back'|trans }}</a>
        </li>
        <li class="page-item" onclick="return toggleReservationEditAppartments({{ reservation.appartment.id }});">
            <a class="page-link"href="#">{{ 'reservation.edit.change.appartment'|trans }}</a>
        </li>
    </ul>
    <button id="reservation-edit-save" class="btn btn-primary" type="button"
                    onclick="return editUpdateReservation({{ reservation.appartment.id }})">{{ 'button.save'|trans }}</button>
</div>

<script>
    function toggleReservationEditAppartments(id) {
        if ($("#box-available-appartments").is(":hidden")) {
            getAvailableAppartmentsForPeriod('edit');
            $("#box-available-appartments").fadeIn().removeClass('d-none');
            $("#appartment-" + id).addClass('d-none');
            $("#reservation-edit-save").hide();
            $("#selectedAppartments").addClass('text-secondary');
        }
        else {
            $("#box-available-appartments").addClass('d-none');
            $("#reservation-edit-save").show();
            $("#selectedAppartments").removeClass('text-secondary');
            $("#appartment-" + id).fadeIn();
        }
        return false;
    }
    function editUpdateReservation(appartmentId) {
        var reservationId = {{ reservation.id }};
        var options = "status=" + $("#appartment-" + appartmentId).find("#status :selected").val()
                + "&persons=" + $("#appartment-" + appartmentId).find("#persons :selected").val();
        //alert(options);return false;
        $("#available-appartments").html("");

        if (($("#from").val() !== '') && ($("#end").val() !== '')) {
            let url = document.getElementById("reservation-period").dataset.target;
            let content = '<div class="modal-body">' +
                    '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
                    '</div>';

            $.ajax({
                url: url,
                type: "post",
                data: (options + "&id=" + reservationId + "&aid=" + appartmentId + "&from=" + $("#from").val() + "&end=" + $("#end").val()),
                beforeSend: function () {
                    $("#modal-content-ajax").html(content);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                },
                success: function (data) {
                    $("#modal-content-ajax").html(data);
                    getNewTable();
                }
            });
        }

        return false;
    }
    ;
</script>