<table class="table table-hover">
    <tr>
        <th>{{ 'customer.firstname'|trans }}</th>
        <th>{{ 'customer.lastname'|trans }}</th>
        <th>{{ 'customer.birthday'|trans }}</th>
    </tr>
    {% for customer in customers %}
        {% if customer.id != 0 %}
            <tr class="mouse-pointer" onclick="return editReservationCustomerChange({{ customer.id }}, '{{ tab }}', {{ appartmentId }})"
                title="{{ 'button.accept'|trans }}">
                <td>{{ customer.firstname }}</td>
                <td>{{ customer.lastname }}</td>
                <td>{% if customer.birthday %} {{ customer.birthday|date('d.m.Y') }} {% endif %}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>

<div data-reservations-pagination="customers"
     data-reservations-pagination-mode="edit"
     data-reservations-pagination-tab="{{ tab }}"
     data-reservations-pagination-appartment-id="{{ appartmentId }}">
    {% include 'paginator.html.twig' with { 'url' : '#' } %}
</div>
