
    <div class="col-sm-3">
        <select id="persons" name="persons" class="form-select">
            {% for i in 1..appartment.bedsmax %}
                <option value="{{ i }}"{% if reservation is defined and reservation.persons == i %} selected{% endif %}>
                    {{ i }} {% if i == 1 %} {{ 'reservation.person'|trans }} {% else %} {{ 'reservation.persons'|trans }} {% endif %}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-3">
        <select id="status" name="status" class="form-select">
            <option value="1"{% if reservation is defined and reservation.status == 1 %} selected{% endif %}>{{ 'reservation.confirm'|trans }}</option>
            <option value="2"{% if reservation is defined and reservation.status == 2 %} selected{% endif %}>{{ 'reservation.option'|trans }}</option>
        </select>
    </div>
