<form id="template-form" class="form-horizontal" role="form"
      data-controller="reservations"
      data-action="submit->reservations#sendEmailAction"
      data-url="{{ path('settings.templates.email.send') }}"
      data-refresh-url="{{ path('reservations.get.reservation', {'id': attribute(reservations, 0).id, 'tab': 'correspondence'}) }}">
    <fieldset id="template-form-fieldset-primary-">
        <div class="row">
            <label for="to" class="col-sm-3 col-form-label">{{ 'templates.recipient'|trans }} *</label>
            {% set mail = "" %}
            {% for address in attribute(reservations, 0).booker.customerAddresses %}
                {% if address.email|length > 0 %}{% set mail = address.email %}{% endif %}
            {% endfor %}
            <div class="col-sm-9">
                <input type="email" class="form-control" name="to" value="{{ mail }}" required>
            </div>
        </div>
        <div class="row">
            <label for="subject" class="col-sm-3 col-form-label">{{ 'templates.subject'|trans }}
                *</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" name="subject"
                       value="" required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                <textarea name="msg" id="editor1" rows="10" cols="70">{{ templateOutput|raw }}</textarea>
            </div>
        </div>
    </fieldset>
    <div class="row mt-3">
        <div class="col-sm-10">{{ 'templates.attachment'|trans }}</div>
        <div class="col-sm-2">
            <small>
            <a href="#"
               data-action="click->reservations#selectTemplateForReservationsAction"
               data-url="{{ path('reservations.select.template') }}"
               data-template-id="{{ template.id }}"
               data-inprocess="true"
               title="{{ 'button.add'|trans }}" class="float-end"><i class="fas fa-plus"></i></a>
            </small>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table">
                {% for attachment in attachments %}
                <tr id="aid-{{ attachment.id }}">
                    <td style="width:10.0pt"><i class="fas {{ attachment.template.templateType.icon }}" aria-hidden="true" title="{{ attachment.template.templateType.name|trans }}"></i></td>
                    <td>{{ attachment.name }}</td>
                    <td class="text-end">
                        <a href="#"
                           data-action="click->reservations#exportPDFCorrespondenceAction"
                           data-url="{{ path('settings.templates.correspondence.export.pdf', {'id': attachment.id}) }}"
                           title="{{ 'button.download'|trans }}"><i class="fas fa-download"></i></a>
                        <a href="#"
                           data-action="click->reservations#deleteAttachmentAction"
                           data-url="{{ path('settings.templates.attachment.remove') }}"
                           data-attachment-id="{{ attachment.id }}"
                            title="{{ 'button.delete'|trans }}"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br />
    <input name="_csrf_token" value="{{ token }}" type="hidden">
    <input name="templateId" value="{{ template.id }}" type="hidden">
    <div class="float-end">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">{{ 'button.cancel'|trans }}</button>
        <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary" />
    </div>
</form>
