<div class="modal-body">
    <div class="pl-5 pr-5">
        <div id="flash-message-overlay">
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">
                <form id="customer-form2-{{ customer.id }}" onsubmit="return saveEditCustomer({{ customer.id }}, this)">
                    <fieldset id="customer-form-fieldset-{{ customer.id }}">
                        {% include 'Customers/customer_form_create_input_fields.html.twig' %}
                    </fieldset>
                    <input type="submit" class="btn btn-primary float-right mt-3" value="{{ 'button.save'|trans }}">
                    <input type="hidden" name="customer-id" value="{{ customer.id }}"/>
                    <input type="hidden" name="reservation-id" value="{{ reservation.id }}"/>
                    <input type="hidden" name="tab" value="{{ tab }}"/>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="createNewCustomerFooter" class="modal-footer">
    <ul class="pagination mr-auto">
        <li class="page-item " onclick="return getReservation('{{ reservation.id }}', '{{ tab }}')">
            <a class="page-link" href="#">&larr; {{ 'button.back'|trans }}</a></li>
    </ul>
</div>