<div class="modal-body">
    <div class="container-fluid">
        <div id="flash-message-overlay">
            <div class="col">
                {% include 'feedback.html.twig' with {'error': error, 'app': app } %}
            </div>
        </div>
        {% include 'Reservations/reservation_form_show_fields.html.twig' with {'mode': 'edit', 'reservationId':  attribute(reservations, 0).id } %}
    </div>
</div>
{% if is_granted('ROLE_RESERVATIONS') %}
<form id="reservationShowForm">
    <div class="modal-footer">
        <div class="col p-0" id="boxDefault">
            {% if is_granted('ROLE_INVOICES') %}
            <div class="btn-group dropup float-start">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownInvoice" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ 'reservation.invoices'|trans }} <span class="caret"></span>
                </button>
                <div class="dropdown-menu">
                    {% for invoice in attribute(reservations, 0).invoices %}
                        <a class="dropdown-item" href="#" onclick="return showInvoice({{ invoice.id }});">{{ 'reservation.invoice'|trans }} {{ invoice.number }}</a>
                    {% endfor %}
                    {% if attribute(reservations, 0).invoices|length > 0 %}
                    <div class="dropdown-divider"></div>
                    {% endif %}
                    <a class="dropdown-item" href="#" onclick="return selectReservatioForInvoice({{ attribute(reservations, 0).id }})">{{ 'reservation.button.create.invoice'|trans }}</a>
                </div>                
            </div>
            {% endif %}
            
            <button type="button" class="btn btn-danger float-end"
                    onclick="return toggleReservationDelete();">{{ 'button.delete'|trans }}</button>
            <button type="button" class="btn btn-default float-end me-2" data-bs-dismiss="modal">{{ 'button.cancel'|trans }}</button>
        </div>
        <div id="boxDelete" class="d-none">
            {{ 'reservation.delete.ask'|trans }}
            <button class="btn btn-danger" onclick="return doDeleteReservation();">{{ 'button.delete'|trans }}</button>
            <button class="btn btn-default"
                    onclick="return toggleReservationDelete();">{{ 'button.cancel'|trans }}</button>
            <input type="hidden" name="id" value="{{ attribute(reservations, 0).id }}"/>
            <input name="_csrf_token" value="{{ token }}" type="hidden">
        </div>
    </div>
</form>
{% endif %}
