<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link{% if tab is defined and tab == 'booker' %} active{% endif %}" href="#reservation" data-toggle="tab">{{ 'reservation.details'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if tab is defined and tab == 'guest' %} active{% endif %}" href="#guests" data-toggle="tab">{{ 'reservation.preview.customer.inroom'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if tab is defined and tab == 'correspondence' %} active{% endif %}" href="#correspondence" data-toggle="tab">{{ 'reservation.correspondences'|trans }}</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content p-4">
    <div class="tab-pane{% if tab is defined and tab == 'booker' %} active{% endif %}" id="reservation" role="tabpanel" aria-labelledby="booker-tab">
        <div class="row">
            <div class="col">                    
                <h4 class="border-bottom pb-2">{{ 'reservation.preview.booker'|trans }}
                    {% if mode is defined and mode == 'edit' %}
                        <form id="actions-booker-{{ booker.id }}" class="d-none">
                            <input id="reservation-id" type="hidden" value="{{ reservationId }}"
                                   name="reservation-id"/>
                            <input id="customer-id" type="hidden" value="{{ booker.id }}"
                                   name="customer-id"/>
                            <input id="tab" type="hidden" value="booker" name="tab"/>
                            <input name="_csrf_token" value="{{ token }}" type="hidden">
                        </form>
                        <small>
                        <a href="#" onclick="return editReservationCustomerEdit({{ booker.id }}, '#actions-booker-{{ booker.id }}');"
                           title="{{ 'button.edit'|trans }}" class="float-right text-secondary">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="#" onclick="return changeReservationCustomer({{ reservationId }}, 'booker', 0);"
                           title="{{ 'reservation.button.changeBooker'|trans }}" class="float-right text-secondary">
                            <i class="fas fa-exchange-alt" style="margin-right: 5px;"></i>
                        </a>
                        </small>
                    {% endif %}
                </h4>
            </div>          
        </div>
        <div class="row p-2">
            <div class="col-sm-6">
                <dl>
                    <dt>{{ 'reservation.preview.customer.name'|trans }}</dt>
                    <dd>{{ booker.salutation }} {{ booker.firstname }} {{ booker.lastname }}</dd>
                    <dt>{{ 'customer.remark'|trans }}</dt>
                    <dd>{% if booker.remark %}{{ booker.remark|nl2br }}{% else %} -{% endif %}</dd>
                </dl>
            </div>
            <div class="col-sm-6">
                <dl>
                    <dt>{{ 'customer.birthday'|trans }}</dt>
                    <dd>{% if booker.birthday %} {{ booker.birthday|date('d.m.Y') }} {% endif %}</dd>
                </dl>
            </div>
        </div>                        
        {% include 'Customers/customer_show_address_fields.html.twig' with {'customer' : booker} %}

        <h4 class="mt-4 pb-2">{{ 'reservation.preview.appartments.selected'|trans }}
            {% if mode is defined and mode == 'edit' %}
            <small>
                <a href="#" onclick="return editReservation({{ reservationId }});"
                   title="{{ 'button.edit'|trans }}" class="float-right text-secondary">
                    <i class="fas fa-edit"></i>
                </a>
            </small>
            {% endif %}
        </h4>

        <table class="table">
            <tr>
                <th>{{ 'appartment.number'|trans }}</th>
                <th>{{ 'appartment.description'|trans }}</th>
                <th>{{ 'reservation.persons'|trans }}</th>
                <th>{{ 'reservation.status'|trans }}</th>
                <th>{{ 'reservation.startdate'|trans }}</th>
                <th>{{ 'reservation.enddate'|trans }}</th>
            </tr>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.appartment.number }}</td>
                    <td>{{ reservation.appartment.description }}</td>
                    <td>{{ reservation.persons }}</td>
                    <td>
                        {% if reservation.status == 1 %}
                            {{ 'reservation.confirm'|trans }}
                        {% elseif reservation.status == 2 %}
                            {{ 'reservation.option'|trans }}
                        {% endif %}
                    </td>
                    <td>{{ reservation.startdate|date('d.m.Y') }}</td>
                    <td>{{ reservation.enddate|date('d.m.Y') }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="row mt-3">
            <div class="col-sm-3">
                <label for="reservation-remark">{{ 'customer.remark'|trans }}</label>
            </div>
            <div class="col-sm-9">
                    <textarea id="reservation-remark" class="form-control"name="remark">{{ attribute(reservations, 0).remark }}</textarea>
            </div>
        </div>
            
        <div class="row mt-3">
            <div class="col-sm-3">
                <label for="reservation-origin">{{ 'reservation.origin'|trans }}</label>
            </div>
            <div class="col-sm-9">
                <select id="reservation-origin" name="reservation-origin" class="form-control"{% if mode is defined and mode == 'edit' %} disabled{% endif %}>
                    {% for origin in origins %}
                        <option value="{{ origin.id }}" {% if attribute(reservations, 0).reservationOrigin and origin.id == attribute(reservations, 0).reservationOrigin.id  %} selected {% endif %}>
                            {{ origin.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <input id="_csrf_token" name="_csrf_token" value="{{ token }}" type="hidden">

        

    </div>
    <div class="tab-pane{% if tab is defined and tab == 'guest' %} active{% endif %}" id="guests" role="tabpanel" aria-labelledby="guests-tab">
        {% for reservation in reservations %}
        <div class="row">
            <div class="col">            
                <h4 class="pb-2">{{ 'reservation.preview.customer'|trans }} {{ 'reservation.appartment.name'|trans }}: {{ reservation.appartment.number }}
                    <small>
                    <a href="#" onclick="return changeReservationCustomer('{{ reservationId }}', 'guest', {{ reservation.appartment.id }});"
                       title="{{ 'button.add'|trans }}" class="float-right text-secondary">
                        <i class="fas fa-plus"></i></a>
                    </small>
                </h4>
            </div> 
        </div>                           
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ 'reservation.preview.customer.name'|trans }}</th>                            
                <th>{{ 'customer.birthday'|trans }}</th>
                <th>{{ 'customer.action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                {% if mode is defined and mode == 'new' %}                                
                    {% if customer.appartmentId == reservation.appartment.id %}
                        {% set customer = customer.c %}
                    {% endif %}
                {% endif %}
                {% if customer.salutation is defined %}
                <tr>
                    <td>{{ customer.salutation }} {{ customer.firstname }} {{ customer.lastname }}</td>                            
                    <td>{% if customer.birthday %}{{ customer.birthday|date('d.m.Y') }}{% endif %}</td>
                    <td>
                        <form id="actions-customer-{{ customer.id }}">
                            <input id="reservation-id" type="hidden" value="{{ reservationId }}"
                                   name="reservation-id"/>
                            <input id="customer-id" type="hidden" value="{{ customer.id }}"
                                   name="customer-id"/>
                            <input id="tab" type="hidden" value="guest" name="tab"/>
                            <input id="appartmentId" type="hidden" value="{{ reservation.appartment.id }}" name="appartmentId"/>
                            <input name="_csrf_token" value="{{ token }}" type="hidden">
                        </form>
                        <a href="#" onclick="return editReservationCustomerEdit({{ customer.id }}, '#actions-customer-{{ customer.id }}')"
                           title="{{ 'button.edit'|trans }}">
                            <i class="fas fa-edit"></i></a>
                        <a href="#" onclick="return deleteReservationCustomer(this, {{ customer.id }});"
                           title="{{ 'button.delete'|trans }}">
                            <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}        
    </div>
    
    <div class="tab-pane{% if tab is defined and tab == 'correspondence' %} active{% endif %}" id="correspondence" role="tabpanel" aria-labelledby="correspondence-tab">
        <div class="row">
            <div class="col">
                <h4 class="pb-2">{{ 'reservation.correspondences.reservation'|trans }}
                    {% if mode is defined and mode == 'edit' %}
                        <small>
                            <a href="#" onclick="return selectReservationForTemplate({{ reservationId }});"
                               title="{{ 'button.add'|trans }}" class="float-right text-secondary">
                                <i class="fas fa-plus"></i></a>
                        </small>
                    {% endif %}
                </h4>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>{{ 'templates.correspondence.created'|trans }}</th>
                <th>{{ 'templates.correspondence.name'|trans }}</th>
                <th></th>
                <th>{{ 'base.action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for correspondence in correspondences %}
            <tr>
                <td style="width:10.0pt"><i class="fas {{ correspondence.template.templateType.icon }}" aria-hidden="true" title="{{ correspondence.template.templateType.name|trans }}"></i></td>
                <td>{{ correspondence.created|date('d.m.Y H:i') }}</td>
                <td>{{ correspondence.name }}</td>
                <td style="width:10.0pt">{% if correspondence.children|length > 0 %}<i class="fas fa-paperclip"></i>{% endif %}</td>
                <td>
                    {% if 'PDF' in correspondence.template.templateType.name %}
                    <a href="#" onclick="return exportPDFCorrespondence({{ correspondence.id }})"
                       title="{{ 'button.download'|trans }}"><i class="fas fa-download"></i></a>
                    {% elseif 'EMAIL' in correspondence.template.templateType.name %}
                    <a href="#" onclick="return showMailCorrespondence({{ correspondence.id }}, {{ reservationId }})"
                       title="{{ 'button.details'|trans }}"><i class="fas fa-eye"></i></a>
                    {% endif %}
                    <a href="#" onclick="return deleteCorrespondence({{ correspondence.id }}, {{ reservationId }})"
                       title="{{ 'button.delete'|trans }}"><i class="fas fa-trash-alt"></i></a>                                    
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>                    
        <input id="_csrf_token" name="_csrf_token" value="{{ token }}" type="hidden">
    </div>
</div>

