<div class="modal-body">
    <div class="ps-5 pe-5">
        <div id="flash-message-overlay">
            <div class="col"></div>
        </div>
        {% if correspondences|length > 0 %}
        <div class="row">
            <div class="col">
                <h4 class="pb-2">{{ 'reservation.correspondences.available'|trans }}</h4>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>{{ 'templates.name'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for correspondence in correspondences %}
                {# do not allow other mails #}
                {% if 'FILE' in correspondence.template.templateType.name or 'PDF' in correspondence.template.templateType.name %}
                    <tr onclick="return addAsAttachment({{ correspondence.id }}, false);" class="mouse-pointer">
                        <td style="width:10.0pt"><i class="fas {{ correspondence.template.templateType.icon }}" aria-hidden="true" title="{{ correspondence.template.templateType.name|trans }}"></i></td>
                        <td>{{ correspondence.name }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if invoices|length > 0 %}
        <div class="row">
            <div class="col">
                <h4 class="pb-2">{{ 'reservation.templates.availableprices'|trans }}</h4>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>{{ 'invoice.number'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
                    <tr onclick="return addAsAttachment({{ invoice.id }}, true);" class="mouse-pointer">
                        <td style="width:10.0pt"><i class="fas fa-file-pdf" aria-hidden="true" title="{{ 'invoice.number.short'|trans }}"></i></td>
                        <td>{{ invoice.number }} ({{ invoice.date|date('d.m.Y') }})</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <div class="row">
            <div class="col">
                <h4 class="pb-2">{{ 'templates.title'|trans }}</h4>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>{{ 'templates.name'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for template in templates %}
                    <tr onclick="return previewTemplateForReservation({{ template.id }}, {{ inProcess }});" class="mouse-pointer">
                        <td style="width:10.0pt"><i class="fas {{ template.templateType.icon }}" aria-hidden="true" title="{{ template.templateType.name|trans }}"></i></td>
                        <td>{{ template.name }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="createNewCustomerFooter" class="modal-footer">
    <ul class="pagination me-auto">
        <li class="page-item " onclick="return {% if inProcess == 'false' %}selectReservation()
                                             {% else %}previewTemplateForReservation({{ selectedTemplateId }}, {{ inProcess }});{% endif %}">
            <a class="page-link" href="#">&larr; {{ 'button.back'|trans }}</a></li>
    </ul>
</div>
