<table class="table table-hover">
    <thead>
    <tr>
        <th class="border-top-0">{{ 'reservation.appartment.name'|trans }}</th>
        <th class="border-top-0">{{ 'reservation.startdate'|trans }}</th>
        <th class="border-top-0">{{ 'reservation.enddate'|trans }}</th>
        <th class="border-top-0">{{ 'customer.lastname'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for reservation in reservations %}
    <tr data-action="click->invoices#selectReservationAction" data-reservation-id="{{ reservation.id }}" data-url="{{ path('invoices.select.reservation') }}">
        <td>{{ reservation.appartment.number }}</td>
        <td>{{ reservation.startdate|date('d.m.Y') }}</td>
        <td>{{ reservation.enddate|date('d.m.Y') }}</td>
        <td>{{ reservation.booker.lastname }}</td>        
    </tr>
    {% endfor %}
    </tbody>
</table>
