<div data-controller="reservations"
     data-edit-reservation-customer-change-url-template="{{ path('reservations.edit.customer.change', {'id': 'placeholder'}) }}"
     data-reservation-url="{{ path('reservations.get.reservation', {'id': reservation.id}) }}"
     data-preview-url="{{ path('reservations.create.preview') }}">
<div class="modal-body">
    <div class="ps-5 pe-5">
        <div id="flash-message-overlay">
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" id="lastname" name="lastname"
                       placeholder="{{ 'reservation.select.customer.search.input.placeholder'|trans }}"
                       data-reservations-customer-search="true"
                       data-search-mode="edit"
                       data-search-tab="{{ tab }}"
                       data-search-appartment="{{ appartmentId }}">
            </div>
            <div class="col text-end">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button"
                            data-action="click->reservations#getCustomersAction"
                            data-page="1" data-mode="edit" data-tab="{{ tab }}" data-appartment-id="{{ appartmentId }}">
                        <i class="fas fa-search"></i> {{ 'nav.customer.search'|trans }}
                    </button>
                    <button class="btn btn-secondary" type="button" data-action="click->reservations#getFormForNewCustomerAction">
                        <i class="fas fa-plus"></i> {{ 'nav.customer.add'|trans }}
                    </button>
                </span>
            </div>
        </div>
        <div class="row mt-4">   
            <div class="col">
                <form id="customer-selection"
                      data-action="submit->reservations#editReservationNewCustomerAction"
                      data-url="{{ path('reservations.edit.reservation.customer.create', {'id': reservation.id}) }}"
                      data-reservation-id="{{ reservation.id }}">
                    <div id="customers"
                         data-customers-edit-url="{{ path('reservations.edit.customers.get') }}"
                         data-customer-new-form-url="{{ path('reservations.get.customer.new.form') }}"></div>
                    <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary float-end mt-3 d-none"/>
                    <input id="reservation-id" type="hidden" value="{{ reservation.id }}" name="reservation-id"/>
                    <input id="tab" type="hidden" value="{{ tab }}" name="tab"/>
                    <input id="appartmentId" type="hidden" value="{{ appartmentId }}" name="appartmentId"/>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="createNewCustomerFooter" class="modal-footer">
    <ul class="pagination me-auto">
        <li class="page-item ">
            <a class="page-link" href="#"
               data-action="click->reservations#openReservationAction"
               data-url="{{ path('reservations.get.reservation', {'id': reservation.id, 'tab': tab}) }}"
               data-reservation-id="{{ reservation.id }}"
               data-tab="{{ tab }}">&larr; {{ 'button.back'|trans }}</a></li>
    </ul>
</div>
</div>
