<div class="modal-body">
    <div class="ps-5 pe-5">
        <div id="flash-message-overlay">
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" id="lastname" name="lastname"
                       placeholder="{{ 'reservation.select.customer.search.input.placeholder'|trans }}"
                       data-reservations-customer-search="true"
                       data-search-mode="edit"
                       data-search-tab="{{ tab }}"
                       data-search-appartment="{{ appartmentId }}">
            </div>
            <div class="col text-end">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button"
                            onclick="getCustomers(1, 'edit', '{{ tab }}', {{ appartmentId}})">
                        <i class="fas fa-search"></i> {{ 'nav.customer.search'|trans }}
                    </button>
                    <button class="btn btn-secondary" type="button" onclick="getFormForNewCustomer()">
                        <i class="fas fa-plus"></i> {{ 'nav.customer.add'|trans }}
                    </button>
                </span>
            </div>
        </div>
        <div class="row mt-4">   
            <div class="col">
                <form id="customer-selection" onsubmit="return editReservationNewCustomer('{{ reservation.id }}', '{{ tab }}')">
                    <div id="customers"></div>
                    <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary float-end mt-3 d-none"/>
                    <input id="reservation-id" type="hidden" value="{{ reservation.id }}" name="reservation-id"/>
                    <input id="tab" type="hidden" value="{{ tab }}" name="tab"/>
                    <input id="appartmentId" type="hidden" value="{{ appartmentId }}" name="appartmentId"/>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="createNewCustomerFooter" class="modal-footer">
    <ul class="pagination me-auto">
        <li class="page-item " onclick="return getReservation('{{ reservation.id }}', '{{ tab }}')">
            <a class="page-link" href="#">&larr; {{ 'button.back'|trans }}</a></li>
    </ul>
</div>
