<div class="modal-body">
    <div class="ps-5 pe-5">
        <div class="row">
                <div class="col" id="flash-message-overlay">
                </div>
        </div>
        <div class="row">
            <h4>{{ 'reservation.customer'|trans }}</h4>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" id="lastname" name="lastname"
                       placeholder="{{ 'reservation.select.customer.search.input.placeholder'|trans }}"
                       data-reservations-customer-search="true">
            </div>
            <div class="col text-end">
                <button class="btn btn-default" type="button" data-action="click->reservations#getCustomersAction" data-page="1">
                    <i class="fas fa-search"></i> {{ 'nav.customer.search'|trans }}
                </button>
                <button class="btn btn-default" type="button" data-action="click->reservations#getFormForNewCustomerAction">
                    <i class="fas fa-plus"></i> {{ 'nav.customer.add'|trans }}
                </button>
            </div>
        </div>
        <div class="row mt-4">   
            <div class="col">
            <form id="customer-selection" onsubmit="return createNewCustomer()">
                <div id="customers">
                    <p>
                        {% if customer %}
                            {{ 'reservation.custumer.selected'|trans }} {{ customer.firstname }} {{ customer.lastname }}
                        {% endif %}
                    </p>
                </div>
                <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary float-end mt-3 d-none"/>
            </form>
            </div>
        </div>
    </div>
</div>
<div id="createNewCustomerFooter" class="modal-footer">
    <ul class="pagination me-auto">
        <li class="page-item" data-action="click->reservations#selectAppartmentAction" data-reservations-create-new="false">
            <a class="page-link" href="#">&larr; {{ 'button.back'|trans }}</a></li>
    </ul>
    {% if customer %}
    <ul class="pagination">
        <li class="page-item" data-action="click->reservations#reservationPreviewAction" data-customer-id="{{ customer.id }}">
            <a class="page-link" href="#">{{ 'button.continue.with'|trans }} {{ customer.firstname }} {{ customer.lastname }}&rarr;</a>
        </li>
    </ul>
    {% endif %}
</div>
