<fieldset id="entry-form-fieldset-{{ appartment.id }}" {% if appartment.id != "new" %} disabled {% endif %}>
    <div class="form-group row">
        <label for="inputFirstname" class="col-sm-4 col-form-label text-right">{{ 'appartment.number'|trans }} *</label>

        <div class="col-sm">
            <input type="text" class="form-control" name="number-{{ appartment.id }}"
                   value="{{ appartment.number }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail" class="col-sm-4 col-form-label text-right">{{ 'appartment.description'|trans }} *</label>

        <div class="col-sm">
            <input type="text" class="form-control" name="description-{{ appartment.id }}"
                   value="{{ appartment.description }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail" class="col-sm-4 col-form-label text-right">{{ 'appartment.bedsmax'|trans }} *</label>

        <div class="col-sm">
            <input type="text" class="form-control" name="bedsmax-{{ appartment.id }}"
                   value="{{ appartment.bedsmax }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="category-{{ appartment.id }}" class="col-sm-4 col-form-label text-right">{{ 'appartment.category'|trans }}</label>

        <div class="col-sm">
            <select name="category-{{ appartment.id }}" class="form-control">
                {% for category in categories %}
                    {% if appartment.id != "new" and appartment.roomCategory != null and category.id == appartment.roomCategory.id %}
                        <option value="{{ category.id }}" selected>{{ category.name }}</option>
                    {% else %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-4 col-form-label text-right">{{ 'appartment.object'|trans }}</label>

        <div class="col-sm">
            <select name="object-{{ appartment.id }}" class="form-control">
                {% for object in objects %}
                    {% if appartment.id != "new" and object.id == appartment.object.id %}
                        <option value="{{ object.id }}" selected>{{ object.name }}</option>
                    {% else %}
                        <option value="{{ object.id }}">{{ object.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
</fieldset>
<input name="_csrf_token" value="{{ token }}" type="hidden">
