{{ form_start(form, {'attr': {
    'id':'tt-form-new',
    'data-controller':'settings',
    'data-action':'submit->settings#submitFormAction',
    'data-url': path('tourist_tax_new'),
    'data-success-url': path('tourist_tax_index')
} }) }}
    <div class="modal-body ps-5 pe-5">
        <div id="flash-message-overlay"></div>
        <div class="row">
            <div class="col">{{ include('TouristTax/_form.html.twig') }}</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'button.cancel'|trans }}</button>
        <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary"/>
    </div>
{{ form_end(form) }}
