{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -  {{ 'reservationorigin.title'|trans }}
{% endblock %}

{% block description %}
    {{ parent() }} -  {{ 'reservationorigin.description'|trans }}
{% endblock %}

{% block content %}
    <div class="modal fade" id="newObjectModal">
        <div class="modal-dialog">
            <div class="modal-content" id="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ 'reservationorigin.add'|trans }}</h4>
                </div>
                <div id="modal-content-ajax"></div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p>

                <div class="btn-group">
                    <button type="button" class="btn btn-default" onclick="showCreateOriginForm()" data-toggle="modal"
                            data-target="#newObjectModal"><span
                                class="glyphicon glyphicon-plus"></span> {{ 'reservationorigin.add'|trans }}</button>
                </div>
                </p>
                <table class="table table-responsive table-bordered table-hover">
                    <tr>
                        <th>{{ 'reservationorigin.name'|trans }}</th>
                        <th>{{ 'base.action'|trans }}</th>
                    </tr>
                    {% for origin in origins %}
                        <tr>
                            <td>{{ origin.name }}</td>
                            <td>
                                <a href="#" title="{{ 'button.details'|trans }}"><span
                                            onclick="showOrigin({{ origin.id }})"
                                            class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="#" title="{{ 'button.edit'|trans }}"><span onclick="editOrigin({{ origin.id }})"
                                                                                    class="glyphicon glyphicon-pencil"></span></a>
                                <a href="#" title="{{ 'button.delete'|trans }}"><span
                                            onclick="deleteOrigin({{ origin.id }})"
                                            class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                        <tr id="origin-{{ origin.id }}" hidden="true">
                            <td colspan="2" id="origin-cell-{{ origin.id }}">
                                <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif"/>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

    $.ajaxSetup({
        cache: false
    });

    function collapseOrigin(id) {
        var row = "#origin-" + id;
        var cell = "#origin-cell-" + id;

        if ($(row).is(':hidden')) {
            $(row).show();
            return true;
        } else {
            $(row).hide();
            $(cell).html('<img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />');
            return false;
        }
    }
    ;

    function enableOriginForm(id) {
        var formFieldsetPrimary = "#origin-form-fieldset-primary-" + id;
        var formFieldsetSecondary = "#origin-form-fieldset-secondary-" + id;
        var cancelButton = "#origin-cancel-" + id;
        var editButton = "#origin-edit-" + id;
        var saveButton = "#origin-submit-" + id;
        $(cancelButton).html('{{ 'button.cancel'|trans }}');
        $(editButton).addClass('button-hidden');
        $(saveButton).removeClass('button-hidden');
        $(formFieldsetPrimary).removeAttr('disabled');
        $(formFieldsetSecondary).removeAttr('disabled');

        return false;
    }
    ;

    function getOrigin(id, enableForm) {
        var cell = "#origin-cell-" + id;
        var url = "{{ path('reservationorigin.get.origin', {'id': 'placeholder'}) }}";
        url = url.replace("placeholder", id);

        $.ajax({
            url: url,
            type: "get",
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                $(cell).html(data);

                if (enableForm) {
                    enableOriginForm(id);
                }
            }
        });


        return false;
    }
    ;

    function showOrigin(id) {
        if (collapseOrigin(id)) {
            getOrigin(id, false);
        }

        return false;
    }
    ;

    function editOrigin(id) {
        if (collapseOrigin(id)) {
            getOrigin(id, true);
        }

        return false;
    }
    ;

    function saveOrigin(id) {
        var form = "#origin-form-" + id;
        var url = "{{ path('reservationorigin.edit.origin', {'id': 'placeholder'}) }}";
        url = url.replace("placeholder", id);

        $.ajax({
            url: url,
            type: "post",
            data: $(form).serialize(),
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                location.reload();
            }
        });

        return false;
    }
    ;

    function deleteOrigin(id) {
        if (collapseOrigin(id)) {
            var cell = "#origin-cell-" + id;
            var url = "{{ path('reservationorigin.delete.origin', {'id': 'placeholder'}) }}";
            url = url.replace("placeholder", id);

            $(cell).load(url, function (response, status, xhr) {
                //if(status == "success") location.reload();
            });
        }


        return false;
    }
    ;

    function doDeleteOrigin(id) {
        var form = "#origin-form-" + id;
        var url = "{{ path('reservationorigin.dodelete.origin', {'id': 'placeholder'}) }}";
        url = url.replace("placeholder", id);

        $.ajax({
            url: url,
            type: "post",
            data: $(form).serialize(),
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                location.reload();
            }
        });

        return false;
    }
    ;

    function showCreateOriginForm() {
        var url = "{{ path('reservationorigin.new.origin') }}";
        var content = '<div class="modal-body">' +
                '     <img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />' +
                '</div>';
        $("#modal-content-ajax").html(content);
        $("#modal-content-ajax").load(url, function (response, status, xhr) {
        });

        return false;
    }
    ;

    function createNewOrigin() {
        var url = "{{ path('reservationorigin.create.origin')}}";

        $.ajax({
            url: url,
            type: "post",
            data: $("#origin-form-new").serialize(),
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            },
            success: function (data) {
                if (data.length > 0) {
                    $("#flash-message-overlay").empty();
                    $("#flash-message-overlay").append(data);
                } else {
                    window.location.href = "{{ path('reservationorigin.overview') }}";
                }
            }
        });

        return false;
    }
    </script>
{% endblock %}
