{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -  {{ 'reservationorigin.title'|trans }}
{% endblock %}

{% block description %}
    {{ parent() }} -  {{ 'reservationorigin.description'|trans }}
{% endblock %}

{% block content %}
<div class="container" data-controller="settings">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-secondary"
                    data-action="click->settings#openModalAction"
                    data-url="{{ path('reservationorigin.new.origin') }}"
                    data-title="{{ 'reservationorigin.add'|trans }}"
                    data-bs-toggle="modal"
                    data-bs-target="#modalCenter">
                <i class="fas fa-plus"></i> {{ 'reservationorigin.add'|trans }}</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>{{ 'reservationorigin.name'|trans }}</th>
                    <th>{{ 'base.action'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for origin in origins %}
                    <tr>
                        <td>{{ origin.name }}</td>
                        <td>
                            <a href="#" title="{{ 'button.details'|trans }}" data-bs-toggle="modal" data-bs-target="#modalCenter">
                                <i class="fas fa-info-circle"
                                   data-action="click->settings#openModalAction"
                                   data-url="{{ path('reservationorigin.get.origin', {'id': origin.id}) }}"
                                   data-title="{{ 'button.details'|trans }}"></i></a>
                            <a href="#" title="{{ 'button.edit'|trans }}" data-bs-toggle="modal" data-bs-target="#modalCenter">
                                <i class="fas fa-edit"
                                   data-action="click->settings#openModalAction"
                                   data-url="{{ path('reservationorigin.get.origin', {'id': origin.id}) }}"
                                   data-title="{{ 'button.edit'|trans }}"
                                   data-enable-edit="true"></i></a>
                            {% set id = origin.id %}
                            {% set targetUrl = path('reservationorigin.delete.origin', {'id': origin.id}) %}
                            {% use "common/delete_popover.html.twig" %}
                            <a href="#" title="{{ 'button.delete'|trans }}">
                                <i class="fas fa-trash-alt"
                                   data-popover="delete"
                                   data-title="{{ 'registrationbook.delete.ask'|trans }}"
                                   data-bs-content='{{ block('deletePopoverContent') }}'></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
