<form id="entry-form-{{ origin.id }}" role="form" onsubmit="return saveOrigin({{ origin.id }})">
    <div class="modal-body pl-5 pr-5">
        <div class="row" id="edit-button-area">
            <div class="col">
                <h4 class="pb-2">
                    <small>
                    <a href="#" onclick="return enableEditForm({{ origin.id }})"
                       title="{{ 'button.edit'|trans }}" class="float-right text-secondary">
                            <i class="fas fa-edit"></i></a>
                    </small>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col">        
                {% include 'ReservationOrigin/reservationorigin_form_input_fields.html.twig' %}      
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'button.cancel'|trans }}</button>
         <input type="submit" value="{{ 'button.save'|trans }}" id="entry-submit-{{ origin.id }}"
                class="btn btn-primary d-none">
    </div>
</form>

